[2019-01-10 23:59] jevansAN commented on #813
And that does it. Thanks again, Steven. It’s great to be able to ask about some of these mysteries.

On Jan 10, 2019, at 2:48 PM, Steven White <notifications@github.com> wrote:

Ah, the template parameter type for that third parameter is declared as float. So you want:

viewer.ChangeView(nullptr, nullptr, Windows::Foundation::IReference<float>{newZoomFactor});
The first two are IReference of doubl

[2019-01-11 00:18] stevewhims commented on #813
Cool, you're welcome, Jeff!

[2019-01-11 06:35] sphenry commented on #379
Ah, thanks @ivanicin , I've created a PR to update the docs you linked.

https://github.com/MicrosoftDocs/winrt-api/pull/851

[2019-01-11 18:22] Jace-Samsung commented on #658
C# code examples are available.  You can change the language of sample code via the drop-down menu at the top-right corner of the web page - just left of the "Sign In" button - the drop-down menu's text changes based on the currently selected language.

[2019-01-11 18:29] Jace-Samsung commented on #658
Unfortunately, this particular page only has a JavaScript example, but here's a link to a bit more involved example which uses BitmapEncoder and BitmapDecoder:
https://gist.github.com/alexsorokoletov/71431e403c0fa55f1b4c942845a3c850

[2019-01-11 18:33] Jace-Samsung commented on #658
Or, this page if you want to stay within Microsoft documentation:
https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/imaging#save-a-softwarebitmap-to-a-file-with-bitmapencoder

[2019-01-11 20:04] codec-abc commented on #658
Thanks.

[2019-01-11 20:04] #658 closed, assigned to laurenhughes

[2019-01-11 21:01] #379 closed, assigned to knicholasa

[2019-01-11 21:11] the-jedi-code opened #852 "Enhancement Request : Put links to the control template of each control in all documented controls"
Example:
the link to the control template documentation is here.
https://msdn.microsoft.com/en-us/library/windows/apps/mt185407.aspx

I want to style the control so I need to start with a copy of it's default control template then add it to a resource dictionary and then style it. I'd like to see a link at the top of the documentation page that I can click to find the control template for every co

[2019-01-11 21:22] MichaelPuckett2 opened #853 "TimePicker shows event SelectedTimeChanged via docs but that event is not available."
```Windows.UI.Xaml.Controls.TimePicker``` control shows event ```SelectedTimeChanged``` via docs but that event is not available.

https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.timepicker.selectedtimechanged

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6465d9e9-19dc-833f-7e4a-51259e724ae2
* Versio

[2019-01-11 21:30] jwmsft commented on #853
@MichaelPuckett2, the SelectedTimeChanged event is new in Windows 10, version 1809 ([SDK 17763](https://developer.microsoft.com/windows/downloads/windows-10-sdk)). Your project needs to target this version to use this event.

This should be shown on the event's doc page, but a bug in the doc generation system is preventing that right now. A fix is being worked on.

[2019-01-11 21:43] MichaelPuckett2 commented on #853
@jwmsft Thanks Jim.  I have replied to a comment on SO about this and pointed / quoted your response.  However; I quickly tried to target 1809 and try this and couldn't in VS2017.  I could in VS2019 Preview but then it wouldn't compile.  This could be a number of reasons that I haven't taken the time to work out so just FYI ATM.
https://stackoverflow.com/questions/54154077/uwp-timepicker-selectedt

[2019-01-11 23:09] mhopkins-msft commented on #848
Hi ZodmanPerth,

Current valid values for requestKind are documented on the [Send requests to the Microsoft Store](https://docs.microsoft.com/windows/uwp/monetize/send-requests-to-the-store) page.

Thanks,
 ~ _Mark_

[2019-01-11 23:09] #848 closed, assigned to mhopkins-msft

[2019-01-12 04:47] jevansAN opened #854 "Usage example?"
I hope MS people reading this won't tire of my frequent questions of this type, but I would love to see an example of how one might in C++/winrt create a handler for ViewChanged. ViewChanged is not a class member of ScrollViewer and it doesn't appear this is done with a lambda like click handlers - just a couple of lines would do the trick!

---
#### Document Details

⚠ *Do not edit this section.

[2019-01-12 13:27] Dimitrias opened #855 ""UX guidelines for layout and scaling" link doesn't work"
The last link just goes to the main fluent design page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f7d0526-465a-4425-4c70-b9df627863b8
* Version Independent ID: b995affa-afbe-0775-f9cb-04f2a0f97622
* Content: [BitmapImage.DecodePixelType Property (Windows.UI.Xaml.Media.Imaging) - Windows UWP applications](https://

[2019-01-12 14:26] meteorsnows opened #856 "Any equivalence for Windows.Graphics.Capture?"
Windows.Graphics.Capture seem similar in concept, but the source is virtual instead of hardware like webcam, CAMERA, etc.
It is possible to use this to render Screen Capture Stream?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bb54ac5-27ea-249a-6134-871a3c8708c9
* Version Independent ID: f6438e11-b101-cd7b-03f4-8425

[2019-01-13 00:55] jraldrin opened #857 "Why does this return IList<object>?"
I guess my real question is why are there no c# bindings for this library?  If Xamarin can generate C# binding for objective-c why can't UWP have c# bindings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b0198b8-df12-08f5-45a3-3e0f7220dbe1
* Version Independent ID: e9016425-80f2-c00c-9d1e-f9572f9b018b
* Content: [Na

[2019-01-13 12:46] BenWhite27 opened #858 "Links not functioning"
The "Canvas.ZIndex" links are 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42d6cbf5-08bb-5463-ad3e-32ef6f368176
* Version Independent ID: ba7a1bfc-1489-6e3f-415f-9ecce91422ec
* Content: [Canvas.ZIndexProperty Property (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api

[2019-01-13 12:48] BenWhite27 opened #859 "Link issues"
Canvas.Left/Top/ZIndex are all 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d504d09f-0104-e46f-6135-99b147603621
* Version Independent ID: 8eee6397-da9a-839a-d25e-33ea5f60c07e
* Content: [Canvas Class (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.

[2019-01-13 17:55] jevansAN commented on #854
Let me append to that question: On stackoverflow I found an example in which the author added an event handler to a scrollviewer, and it was accomplished in C# by scrollviewer.ViewChanged += ViewChangedHandler. But in C++/winrt, ViewChanged is not a member of scrollviewer. What I would like to see is an example of how one would define and register an event handler like this in C++/winrt.  Thanks.

[2019-01-14 06:00] daoluong opened #860 "string size limited"
input text limited to 100 characters in total. and there was no warning about that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0161bfef-0bde-a788-3a85-6c4e020cef20
* Version Independent ID: 5d2bd606-d371-9300-70da-5ac81c6aa4c9
* Content: [JapanesePhoneticAnalyzer.GetWords Method (Windows.Globalization) - Windows UW

[2019-01-14 17:06] MikeHillberg commented on #857
What do you mean by C# bindings?  At the WinRT level it returns an IVector<IInspectable>, which projects to C# as IList<object>.  Or is the question: why doesn't this return IList<MenuItem>?

[2019-01-14 19:06] gmgallo opened #861 "Why there is no ReadLine() method implemented like in the StreamReader class?"
The lack of this method lends to a lengthy and inefficient code to parse text files one line at a time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d61bf27d-d169-da09-5c90-25a4448488a4
* Version Independent ID: ccc5fdef-a25a-6eba-5a91-64d1eae4484c
* Content: [DataReader Class (Windows.Storage.Streams) - Windows UWP

[2019-01-14 20:26] rawlinson opened #862 "Missing generic types in remarks and incorrect class specified?"
Within the remarks sections in states that:
"The ItemsControl can provide better performance if the ItemsSource property value also implements a random-access list interface: ... In C#, this means IList, IReadOnlyCollection, or IList."
Presumably, this should be "IList&lt;T&gt;, IReadOnlyList&lt;T&gt;, or IList."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-01-14 22:50] duncanmacmichael opened #863 "Test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0161bfef-0bde-a788-3a85-6c4e020cef20
* Version Independent ID: 5d2bd606-d371-9300-70da-5ac81c6aa4c9
* Content: [JapanesePhoneticAnalyzer.GetWords Method (Windows.Globalization) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windows.globalization.

[2019-01-14 23:03] #863 closed, assigned to Karl-Bridge-Microsoft

[2019-01-15 23:38] Karl-Bridge-Microsoft commented on #799
@jlautman - thanks for the feedback. I've added more detail to both the API topic and the related conceptual topic.

[2019-01-15 23:38] #799 closed, assigned to Karl-Bridge-Microsoft

[2019-01-16 23:17] antmor opened #867 "What are the bounds of DateTime?"
Is there any guidance to what the largest "DateTime" could be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd5e8342-d0f1-2e2f-6458-e1cd8f09d901
* Version Independent ID: 15c7ce82-4791-4529-d657-24ebfec741b7
* Content: [DateTimeFormatter.Format Method (Windows.Globalization.DateTimeFormatting) - Windows UWP applicati

[2019-01-16 23:37] knicholasa commented on #732
The page is now updated with correct information, the modifications will show up soon.

[2019-01-16 23:37] #732 closed, assigned to knicholasa

[2019-01-16 23:38] knicholasa commented on #733
The page is now updated with more complete information, the modifications will show up soon.

[2019-01-16 23:38] #733 closed, assigned to knicholasa

[2019-01-17 04:16] gmgallo opened #868 "Poulating the MapElements list after layer creation"
If you plan to add more elements to the MapElements property after it is attached to the layer use:
 IList&lt;MapElement&gt; mapElements = new  ObservableCollection&lt;MapElement&gt;();
instead of:
new List&lt;MapElements&gt;();
like all the examples show. Otherwise the new elements won't be displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-18 00:51] jevansAN opened #869 "How to register event handler"
What would the code look like to register an event handler in C++/winrt? Say, for a Tap in a CanvasVirtualControl? Example code would be very useful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64baae30-6057-c654-ba55-98f1c2f222d1
* Version Independent ID: fc234674-9fe8-e06c-3dcd-01e03f418433
* Content: [UIElem

[2019-01-18 17:37] opcodewriter opened #870 "Show Derived classes in UWP documentation"
When looking at a class from UWP, can we please have the UWP docuemntation show the derived classes ?
The WPF documentation shows it, but not the UWP documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f6e0bc-a81e-013e-847b-8eb197a31f60
* Version Independent ID: 0b91329e-cd29-2ee5-c6a0-d6ddcb06a738
* Content

[2019-01-18 18:05] Karl-Bridge-Microsoft commented on #860
@daoluong - Thanks for the feedback. You are correct, there is an internal limitation of 100 characters for the input string. I've updated the relevant ref topics with this detail and submitted a PR to update the Windows universal sample with a new comment.

[2019-01-18 18:05] #860 closed, assigned to Karl-Bridge-Microsoft

[2019-01-18 18:08] Karl-Bridge-Microsoft commented on #833
Hi @verelpode - Thanks for the feedback! You are correct, I've confirmed with the feature team that this is, indeed, a bug. They are triaging it now and plan to address in a future build of the OS.

[2019-01-18 18:08] #833 closed, assigned to Karl-Bridge-Microsoft

[2019-01-18 19:20] jevansAN commented on #869
I can answer that myself now if it will help anyone. A lambda seems to work. In the following m_body is a reference to the body of the UIElement involved, and the handler referenced is a class method taking one argument of the event args. The handler then gets the pointer position from the event args.
m_body.PointerPressed([=](winrt::Windows::Foundation::IInspectable const& sender, winrt::Windows:

[2019-01-18 19:47] jevansAN commented on #854
And now I think I can answer my question: it appears this can be done with a lambda as follows, where m_scroll_viewer is a reference to the UIElement. This is declared in the constructor for the class that contains the scrollviewer:

m_scroll_viewer.ViewChanged([=](winrt::Windows::Foundation::IInspectable const& sender, winrt::Windows::UI::Xaml::Controls::ScrollViewerViewChangedEventArgs const& e)

[2019-01-19 00:00] PeterSmithRedmond opened #871 "The link to Dispose goes to a 404 page"
https://docs.microsoft.com/en-us/uwp/api/windows.web.http.httpresponsemessage.close includes a link to a "Dispose' method. That method doesn't actually have any documentation and IMHO doesn't need any (it's just a regular dispose call like all the other ones in .NET). There's also a link to Dispose in the TOC that also leads to a 404

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-01-19 00:01] PeterSmithRedmond commented on #871
Correction: the dispose link in the TOC does go to a valid page -- https://docs.microsoft.com/en-us/uwp/api/windows.web.http.httpresponsemessage.dispose

[2019-01-19 00:43] stevewhims commented on #871
Hi, @PeterSmithRedmond, thanks for raising this issue! I'm working on a correction to that link now. I agree that there's no critical value to such a link working for folks familiar with .NET but I think in this case since the TOC links to a topic, I'll try and get this link directing to the same topic. I've just Completed a PR so once I've confirmed that's working ok I'll respond back here and th

[2019-01-19 01:35] stevewhims commented on #871
That link is working (on the review site), so this fix should be live within 24 hours (or Monday at the latest). I'll optimistically resolve (and close) this issue, but please reopen it if there are any problems. ~Steve

[2019-01-19 01:35] #871 closed, assigned to stevewhims

[2019-01-20 19:01] mobiletonster opened #872 "1803 or earlier, some of the enums fail."
Please specify which contract version applies to the new enums.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5a9d93e-4772-fa99-6482-fea4087fe214
* Version Independent ID: 4e33b460-8e6e-e5a6-9dca-785159590917
* Content: [FlyoutPlacementMode Enum (Windows.UI.Xaml.Controls.Primitives) - Windows UWP applications](https:

[2019-01-21 14:04] blujel opened #873 "Please add units"
There are no units associated with the memory usage level. Is the memory usage in bits, bytes, kbytes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c4c342-e96e-c1b8-4a4d-07b8969ba626
* Version Independent ID: 218d94e2-d97a-a285-61b3-4ff7f269d1f9
* Content: [MemoryManager.AppMemoryUsageLevel Property (Windows.System

[2019-01-21 15:50] MatrixRonny commented on #316
If you are using Visual Studio, you can view the package family name if you open "Package.appxmanifest" in Designer (by default) and go to Packaging tab. If not, you can use PowerShell together with Get-AppxPackage command to view this information for installed applications.

The TargetApplicationPackageFamilyName should only be used when multiple applications target the same protocol (for example

[2019-01-21 17:39] amonnphillip opened #874 "C++ examples"
Please provide C++ examples for some of these methods. It is not always easy to determine the exact syntax in these cases and it does slow down development (and discourages use)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb1c5460-4e7c-e100-1977-8fc24edb0e3d
* Version Independent ID: f9d1562e-ad58-35bd-ea04-1354ab0a

[2019-01-22 06:14] AceLearnGit opened #875 "How to release memory of mapcontrol?"
I use mapctrl in one of page in my uwp app,the map ctrl will use lots of memory while  using it,but when i navigate back or go to other pages, the app still keep high memory,unless i close or minimize my app, so how to release the mapcontrol when i don't use it?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a2e00175-951b-ebab-ec6f-f870f2ed4525
* Version Independent

[2019-01-22 07:37] driesvandamme opened #876 "Javascript Example"
Could someone give a javascript example on how to call this? My app seems to get stuck when running the above example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb69cc83-27fc-5cf4-fe69-98ab75c4d061
* Version Independent ID: 62dbf413-5f27-f370-b024-f4aa014109a5
* Content: [Package.CheckUpdateAvailabilityAsync Metho

[2019-01-22 08:11] driesvandamme commented on #876
0x80040155 - JavaScript runtime error: Interface not registered

Failed to find proxy registration for IID: {4020C034-C762-5152-BEEF-F03471E885B9}.
WinRT information: Failed to find proxy registration for IID: {4020C034-C762-5152-BEEF-F03471E885B9}.

[2019-01-22 09:35] Robelind opened #877 "Binding"
Why on earth is this property not bindable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e5d8195-7873-655b-2dbf-640ef32a75d9
* Version Independent ID: 10543dd3-f885-8183-3529-2a455e7e8e50
* Content: [ListBox.SelectedItems Property (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs.microsoft.com/en-u

[2019-01-22 18:50] JuanMejiaVelez opened #879 "Information regarding what build this API was implemented on is missing"
It is important that ALL API's report what contract it requires so that code is properly protected. this missing caused a crash in our app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01c49aba-1cfd-7f99-70dd-a56f9d3c6c16
* Version Independent ID: 660b8e43-4b97-451a-1f41-49f8645bb015
* Content: [FocusManager.LosingFo

[2019-01-22 22:30] ChrisGuzak opened #880 "IMemoryBufferReference.Closed needs to clarify when the event fires"
Based on my understanding of the design (from an internal email thread) this event fires before the buffer resource has been freed and provides the handler the opportunity to cleanup. so something like "before the resource is freed"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d29c961b-bd2f-a026-533d-a07cd98c28bc
* V

[2019-01-22 23:36] smk2007 commented on #880
The documentation suggests that the Closed() event “Occurs when MemoryBuffer.Close has been called and this IMemoryBufferReference has been closed.” However, based on the behavior of the MemoryBufferReference and internal discussion, this is fired when Close() is called on the MemoryBufferReference and offers event-handlers one last chance to access the memory before it becomes inaccessible. There

[2019-01-22 23:45] stevewhims commented on #874
Hi, @amonnphillip, thanks for filing this issue. I've added a C++/WinRT code example to this topic, and that should be live within 24 hours. The code includes the IDL file, how to implement the bindable custom class in its .h and .cpp files, and then the XAML markup and the imperative code that sets .DataContext. I'll check back later and confirm that the update is live. In the meantime, here's th

[2019-01-23 17:45] fede9876 opened #881 "NavigationView: Settings button reposition itself with some delay"
When resizing the height of the NavigationView, the Settings button reposition itself to the correct position with some delay.
The problem is very noticeable when positioning a PaneFooter element near the Settings button because the PaneFooter doesn't have this problem, so for a short time they overlap with each others.

Step to reproduce the problem:

- Windows 10 October update (Build 17763)
- c

[2019-01-23 20:33] stevewhims commented on #714
Hi, @jevansAN. I'll go ahead and close this issue now. It's been a while, and my comment above is the resolution that I'd offer. Please reopen if I made a mistake in closing. ~Steve

[2019-01-23 20:33] #714 closed, assigned to jwmsft, stevewhims

[2019-01-23 20:38] stevewhims commented on #874
The change isn't live yet, but I'll continue to monitor it.

[2019-01-23 21:22] gallan13 commented on #845
What's the status on this?

[2019-01-23 21:44] jevansAN commented on #714
I appreciate the response, Steven.

On Jan 23, 2019, at 12:33 PM, Steven White <notifications@github.com> wrote:

Closed #714 <https://github.com/MicrosoftDocs/winrt-api/issues/714>.

[2019-01-23 21:53] kinyoklion opened #882 "Calling from command line application."
Is it possible that this method requires invocation from a UI thread for potential granting of permissions? (Regardless I seem to be able to find no working example of this method. Which is unfortunate given GetRadiosAsync is not suitable for most applications due to its architecture limitations).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-01-23 21:59] amonnphillip commented on #874
Thanks for the quick response, this is very helpful.

Regards.

Amonn.

On Wed, Jan 23, 2019 at 12:38 PM Steven White <notifications@github.com>
wrote:

[2019-01-23 22:15] stevewhims commented on #874
You're welcome, @amonnphillip, and I do see the live change now, myself. I'll go ahead and close this issue. Thanks for raising it! ~Steve

[2019-01-23 22:15] #874 closed, assigned to jwmsft, stevewhims

[2019-01-24 04:13] MikeHillberg opened #883 "Need to update for ItemContainer type in ItemsSource/ItemTemplate"
There should be an explanation in here and other list type controls (ListView, TreeView, etc) about the new behavior in 1809 that lets you set the item container type in the ItemsSource collection or as the root of the item template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3dc936-1d10-43cf-1503-d8661817ed7d
*

[2019-01-24 05:12] vafa68 opened #884 "how"
soso

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bda936b8-a85b-a6b1-b3b6-d2d845e31ffe
* Version Independent ID: 0d5dc733-9377-8a09-ae60-a922db2d8627
* Content: [WebAuthenticationOptions Enum (Windows.Security.Authentication.Web) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windows.security.au

[2019-01-24 16:43] ginami commented on #884
Hi @vafa68 -- please let us know if you have specific feedback on our docs. Thanks!

[2019-01-24 16:43] #884 closed, assigned to nobody

[2019-01-24 18:46] cai6jing opened #885 "call from 32-bit app to those code, always get 0"
[Enter feedback here]
when call those code from 64-bit app,  list. get () can return valid value, but if call from 32-bit app  always get 0

IAsyncOperation<IVectorView<Radio>> list = Radio::GetRadiosAsync();
IVectorView<Radio> radios = list.get();
int32_t nRadioNum = radios.Size();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-01-24 20:31] hickeys commented on #845
The devs would like some more information about your repro steps, can you reach out to me at [my github username]@microsoft.com? It would be easier to continue this over email than to use github comments :)

[2019-01-25 12:45] cheles opened #886 "PackageUpdateAvailability enum"
When targeting 1809, PackageUpdateAvailabilityResult doesn't contain any PackageUpdateAvailabilityResult method.
result.PackageUpdateAvailability will return build error complaining about it.

It should be result.Availability instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb69cc83-27fc-5cf4-fe69-98ab75c4d061
*

[2019-01-25 16:12] verelpode commented on #833
Aha, thanks.  The behavior was confusing, but it is good to know that it is a bug that will be fixed.

[2019-01-25 18:46] mcleanbyron commented on #886
Thanks for catching this issue. I have fixed the code examples in the article and the fixes should be published to the live docs site in the next day or two.

[2019-01-25 18:46] #886 closed, assigned to knicholasa

[2019-01-25 23:12] jevansAN opened #887 "Code example for C++/winrt?"
Is there anywhere a code example showing how one could POST a binary file using HTTPClient in C++/winrt?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a73fbd3-841a-e39f-db9a-779425a0ba10
* Version Independent ID: 41f35e33-3dc0-bb7c-0803-5cfd12b2dcc8
* Content: [HttpBufferContent Constructor (Windows.Web.Http) - Windo

[2019-01-27 02:19] saf-itpro opened #888 "App package information sample app does not display Package Id"
Through `VS2017 - ver 15.9.5`, I deployed your [App package information sample](http://code.msdn.microsoft.com/windowsapps/Package-sample-46e239fa) on my `Windows 10 Pro - version 1809`, but the main window of the sample app does not display the `Package Id`.

**Question**: How can I display the Package Id of the package as well. Or, maybe, I'm misunderstanding the concept of `Package.Id`. Using C

[2019-01-27 23:28] dtobias opened #889 "Need hardware list in order to test some of these samples"
Hi,
For any samples that are looking for specific hardware I think you should have a required hardware list.  In this case, what barometer do I need to hook up.  Is it I2C?  SPI?  Is it available as USB??  These are required to know if we want to test your samples!  Thanks for the opportunity to provide feedback.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-01-28 09:26] driesvandamme commented on #886
Could you maybe do it in the other samples as well? @mcleanbyron

https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.packageupdateavailabilityresult

[2019-01-28 16:41] gallantrinity commented on #845
Shawn,

Let me know what ever you need to proceed with resolving this issue.

Thanks,

George Allan
Systems Administrator

TRINITY PROPERTY CONSULTANTS
2082 Michelson Drive, 4th Floor
Irvine, CA 92612

T 949.299.0815 | F 949.399.2530
GAllan@trinity-pm.com<mailto:GAllan@trinity-pm.com>  | www.FPAMF.com<http://www.fpamf.com/> |  www.trinity-pm.com<http://www.trinity-pm.com/>
Click to open a Helpdesk

[2019-01-28 18:34] mcleanbyron commented on #886
Thanks for catching the additional affected samples! I just checked in fixes for the examples in [PackageUpdateAvailabilityResult](https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.packageupdateavailabilityresult) and [PackageUpdateAvailability](https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.packageupdateavailability). These fixes should go live in the next day o

[2019-01-28 21:41] mcleanbyron commented on #888
Hi @saf-itpro - The sample uses the [Package.Id](https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.package.id) property to access package identity metadata via the [PackageId](https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.packageid) object, including the package name, architecture, and other metadata shown in your screenshot above. See the scenario1_identity.xam

[2019-01-28 21:41] #888 closed, assigned to knicholasa

[2019-01-29 02:55] stevewhims commented on #887
Hi, @jevansAN, I'll share some code below in the hopes that it'll unblock you. I have sent the code out for review with the SMEs, though. The code shows sending binary data, but not specifically what you asked for (reading the contents of a binary file and then POSTing that). However, that gap should be covered by other content. I notice your issue https://github.com/MicrosoftDocs/windows-uwp/issu

[2019-01-29 04:28] stevewhims commented on #887
The code review was fine, and I got more useful info, which I've added to the [HttpClient](https://docs.microsoft.com/windows/uwp/networking/httpclient#post-binary-data-over-http) conceptual topic. That's live as of now. I've also updated this (reference) topic (these constructors) to point to that conceptual topic with its code example (and that should be live soon). Thirdly, I responded to your

[2019-01-29 04:28] #887 closed, assigned to stevewhims

[2019-01-29 05:38] jevansAN commented on #887
Steven, Great response. I’ll get back if needed but this looks very helpful.

On Jan 28, 2019, at 8:28 PM, Steven White <notifications@github.com> wrote:

The code review was fine, and I got more useful info, which I've added to the HttpClient <https://docs.microsoft.com/windows/uwp/networking/httpclient#post-binary-data-over-http> conceptual topic. That's live as of now. I've also updated this (r

[2019-01-29 17:38] saf-itpro commented on #888
@mcleanbyron Thank you for explaining the concept of `Package.Id`. I was looking for full unique identifier of the specific version of my package that it seems is `FullName` property of the package. You've provided the required info.

[2019-01-29 19:34] hickeys commented on #873
I've added units where they were missing. Changes should show up shortly.

[2019-01-29 19:34] #873 closed, assigned to hickeys

[2019-01-30 19:27] hickeys commented on #880
Thanks. I've reviewed the internal email thread and updated the documentation accordingly. It should show up on docs.microsoft.com shortly.

[2019-01-30 19:27] #880 closed, assigned to hickeys

[2019-01-31 10:31] seanocali opened #893 "How do you use CompositionViewBox"
There's no Content/Children/Source property.  How do you actually put something inside the viewbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7806d3f7-4efb-2bfc-733a-e6a58dc531d8
* Version Independent ID: bf3defd7-e2dd-e560-6ced-c96fe891e416
* Content: [CompositionViewBox Class (Windows.UI.Composition) - Windows U

[2019-01-31 15:32] bgavrilMS opened #894 "Samples need review"
1. Protect() is an async method, but you fire and forget about it
2. Protect() is an async method, so it should not return void. It should return Task.
3. All async methods should be suffixed with "Async"
4. When awaiting a method, you should call ConfigureAwait(false) to setup a continuation context
5. Inconsistent naming of variables (e.g. Provider  instead of provider)

---
#### Document Detail

[2019-01-31 20:40] duncanmacmichael opened #895 "Test"
testing bot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d92f04-6d6c-54e0-dcaf-0c2b3b63b2ac
* Version Independent ID: 32ad8a6f-2de7-2f1b-2ef7-b5d0ea69b6e4
* Content: [DataProtectionProvider Class (Windows.Security.Cryptography.DataProtection) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/wind

[2019-01-31 20:46] #895 closed, assigned to nobody

[2019-01-31 22:25] jevansAN commented on #887
Steven, thanks. The .get() doesn’t seem to work - I get a crash in base.h at that line:

Line: 10424
Expression: !is_sta()

So I went to using co_await instead and that runs though without effect. I see the response body said

Name	Value	Type
▶	httpResponseBody	L"Content-Type: text/html; charset=ISO-8859-1\r\n\r\nERROR 5004"

The data type is not really text/html; this appears to be a default - if

[2019-01-31 22:42] stevewhims commented on #887
Hi, @jevansAN, yes, you can only use that blocking .get() from an mta (the code example is a console app). However, from an interactive app (one with UI), you have to co_await as you say. But I'll add a sentence to the topic to make that clearer.

Setting the "Content-Type" header to "image/jpeg" is how I'm indicating that a binary payload is being POSTed.

~Steve

[2019-01-31 23:25] peteams opened #896 "Sample code missing xmlns="
I believe the first line of the sample misses the first part of the xmlns definition mentioned in the third bullet point. That is the line that reads

string xaml =
"&lt;Ellipse Name=\"EllipseAdded\" Width=\"300.5\" Height=\"200\"
Fill=\"Red\" \"http://schemas.microsoft.com/winfx/2006/xaml/presentation\"/&gt;";

should actually read

string xaml =
"&lt;Ellipse Name=\"EllipseAdded\" Width=\"300.5\"

[2019-01-31 23:44] jevansAN commented on #887
Thanks, that makes sense… This still doesn’t write to the server, but I’m guessing there is something wrong with the format of the POST that might be visible to our guy viewing stuff coming in at the server.
Maybe the content type needs to be multipart content.

Jeff

On Jan 28, 2019, at 6:55 PM, Steven White <notifications@github.com> wrote:

Hi, @jevansAN <https://github.com/jevansAN>, I'll shar

[2019-02-01 01:33] mkamilov opened #897 "EventHandler<Platform::Object> in C==/Winrt"
[Enter feedback here]
This is example code given in `C++/Winrt`

`event_token Resuming(EventHandler<Platform::Object> const& handler) const;`

Not getting what is `Platform::Object` as I could not find any information in `C+/WinRT`. Is it supposed to be `IInspectable`? Please fix the document or provide link that explains what is  `Platform::Object` in `C+/WinRT`

Thank you.

---
#### Document Det

[2019-02-01 03:02] stevewhims commented on #887
I don't know whether you've tried a public test server that accepts (and echoes) http POSTs. There are a few around. Just in case that helps.

[2019-02-01 14:19] wldevries opened #898 "Reference broken"
The reference to AsRandomAccessStream broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eef8d8f8-37d6-391d-3c67-9fbcf9cfd8ca
* Version Independent ID: d2b48dc4-4f60-a8e5-847d-311485809301
* Content: [BitmapSource.SetSourceAsync(IRandomAccessStream) Method (Windows.UI.Xaml.Media.Imaging) - Windows UWP applications]

[2019-02-01 18:43] stevewhims commented on #897
Hi, @mkamilov, thank you for raising this issue. You're right that this syntax is of course incorrect for C++/WinRT and you're also right that it should be IInspectable (technically, winrt::Windows::Foundation::IInspectable). I'll go ahead and file an internal bug for this and we'll deal with it. I'll go ahead and close this issue so that we're not tracking it in two places.

[2019-02-01 18:43] #897 closed, assigned to jwmsft, stevewhims

[2019-02-01 21:22] amitvineti opened #899 "Unable to find the dependent Assembly"
How do I download Windows.Security.Cryptography.Core.dll, Windows.dll?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99f953c-7c3d-1f6e-e994-e3fda8ce9856
* Version Independent ID: dc111fd6-12b4-56d5-c759-7fe90be52e67
* Content: [Windows.Security.Cryptography.Core Namespace - Windows UWP applications](https://docs.micr

[2019-02-02 20:54] semireg opened #900 "How to access DeviceInformation Properties"
Referencing this documentation:
https://docs.microsoft.com/en-us/uwp/api/windows.devices.enumeration.deviceinformation

Trying to get as much info about USB devices as possible.

[code]

both displayName and gguid are undefined. I've tried everything I can think of... :) How do I access a the properties on a DeviceInformation properties (IReadOnlyDictionary)?

This doesn't have much information:
h

[2019-02-03 22:49] jevansAN opened #901 "VCRUNTIME140.APP.dll missing in UWP release build?"
Building for the first time the Release of a C++/winrt UWP app I find that the .exe will not launch independently due to these errors:
VSRUNTIME140.APP.dll was not found
MSVCP140_APP.dll was not found
This is VS 2019 Preview 2.1 - the debug build works fine inside VS, but I wonder what might be done to get the Release to run outside the VS environment. The only advice I found suggested making sure

[2019-02-04 12:39] cheles opened #902 "JavaScript supportability"
Although we have a JavaScript snippet sample for this method, our Product group confirmed that checkUpdateAvailabilityAsync() is not yet supported as being called from JavaScript.

Can we remove this part from our samples? At this point only C# & C++/WinRT calls are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-02-04 18:34] knicholasa commented on #902
Sounds good. I'll update the page.

[2019-02-04 19:04] knicholasa commented on #876
Unfortunately it turns out that calling checkUpdateAvailabilityAsync() is not yet supported from JavaScript. Thanks for bringing this to my attention. I'll update the page to reflect it. In the mean time, if you'd like help with development issues, please check out the developer support pages: https://developer.microsoft.com/en-us/windows/support

[2019-02-04 19:41] knicholasa commented on #902
@cheles Actually, if your API does not support Javascript you should add the WebHostHidden attribute to the source code and the example will be omitted here.  Anything that supports C# should also support VB and the other .NET languages, but if you do need to remove the C++/WinRT and VB examples as well and I will follow up.

[2019-02-05 00:58] ginami commented on #901
Hi @jevansAN -- I'm sorry you're experiencing this issue. Unfortunately this issue list is specifically for documentation problems. I'd recommend that you post this in the forums or on Stack Overflow, linked on our support page: https://developer.microsoft.com/en-us/windows/support. Thank you!

[2019-02-05 19:01] mcleanbyron commented on #900
Hi @semireg. The [DeviceInformation.Properties](https://docs.microsoft.com/en-us/uwp/api/windows.devices.enumeration.deviceinformation.properties) property contains a dictionary of key/value pairs, where the key for a given property can be one of many types of strings as described in [Device information properties](https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/device-information-pro

[2019-02-05 19:01] #900 closed, assigned to mcleanbyron

[2019-02-05 19:12] semireg commented on #900
@mcleanbyron, thank you for replying. I am providing feedback. The docs are missing equivalent code in JavaScript.

How do I access a the properties on a DeviceInformation properties (IReadOnlyDictionary) in JavaScript?

When I try using this code I get "tryGetValue is not a function"
[code]

So it seems to be different than C#, but I'm unsure how, because I don't know how to inspect the JavaScrip

[2019-02-05 20:04] mcleanbyron commented on #900
Sorry about that - At a glance I didn't realize you had a JavaScript example. I'm not very experienced with JavaScript, but it's possible that TryGetValue is a .NET method and isn't available for this dictionary collection from JavaScript. That said, I was using it as a convenience only. You should still be able to access the property directly from the collection by the key, assuming the property

[2019-02-05 21:01] semireg commented on #900
It's all good. I should have disclosed JS from the start. I just assumed. 😄

My properties dict is still not responding to any keys, but again, I don't know how to tell that object to show me all of its keys.

I'm creating the watcher with `this.watcher = WindowsDevicesEnumeration.DeviceInformation.createWatcher();` ... maybe the results from this don't have the same (any?) property keys?

I wish

[2019-02-05 23:25] knicholasa commented on #326
I've added clarifying language that will appear in the remarks section shortly.

[2019-02-05 23:25] #326 closed, assigned to knicholasa

[2019-02-05 23:55] mcleanbyron commented on #900
I'm sorry the code isn't working for you. Have you tried the JavaScript sample I referred to in my previous reply?

In a .NET language such as C#, you can loop through the [Keys](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.ireadonlydictionary-2.keys?view=netframework-4.7.2) property of the DeviceInformation.Properties object to see what property keys are in the collectio

[2019-02-06 02:31] knicholasa commented on #641
Hi, thanks for leaving feedback! Feedback here is used to improve our documentation experience. For development issues, please use our developer support center here: https://developer.microsoft.com/windows/support.

[2019-02-06 09:57] ad1Dima opened #903 "Some gif samples needed"
It would be easier to understand each option if there would be gif illustrations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183dd6c1-e193-116d-b1fd-536526af139e
* Version Independent ID: 40cb2e15-7d46-9054-be46-95cc65989c65
* Content: [FlyoutShowMode Enum (Windows.UI.Xaml.Controls.Primitives) - Windows UWP applica

[2019-02-06 12:10] simovic1 opened #904 "Exception: Element not found. (Exception from HRESULT: 0x80070490)"
I'm having an issue with all method called from this class. Every method throws an Exception System.Error Element not found. (Exception from HRESULT: 0x80070490).

e.g Method for creation TPM VirtualSmartCard
SmartCardProvisioning cardProvisioning = await SmartCardProvisioning.RequestVirtualSmartCardCreationAsync(firendlyName, adminKey, pinPolicy);

---
#### Document Details

⚠ *Do not edit this s

[2019-02-06 14:33] moshegutman opened #905 "SVG support"
I tested this with an SVG image and it works too. The documentation should be updated to include support for SVG images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2533bb3b-0009-9747-c89f-4cfc90472c7c
* Version Independent ID: cc2ba119-f61c-b99d-da2b-d9487aa665e6
* Content: [MapIcon.Image Property (Windows.UI.Xaml.

[2019-02-06 16:24] semireg commented on #900
Oh, it's working, it's just that properties object that's opaque. In JavaScript, the way keys are accessed is using `const keys = Object.keys(properties);` However, like I've mentioned above, this only results in `["__winRtInstance__"]` which his a bit useless. That's why I assumed there was an accessor hidden somewhere in the API, but nothing I've tried seems to work the way I'd expect.

[2019-02-06 22:08] rahulsingh11 opened #906 "Incorrect assembly information for ClosedCaptionProperties"
The correct assembly for this class is Windows.Media.dll and not Windows.Media.ClosedCaptioning.dll as mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 892c130c-f2d2-18aa-20b2-0a75e591a2bf
* Version Independent ID: 24be0079-0ca3-312a-f28c-ebe0ebb97758
* Content: [ClosedCaptionProperties Class (Windows.Med

[2019-02-07 02:05] ginami commented on #901
HI @jevansAN -- please let us know if you have any doc-specific feedback. Thank you!

[2019-02-07 02:05] #901 closed, assigned to nobody

[2019-02-07 02:59] jevansAN opened #907 "Example code request for C++/winrt"
Could we see an example in C++/winrt of initializing an instance of HttpFormUrlEncodedContent with key-value pairs? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93344730-8243-faa4-4025-7724b874f3ae
* Version Independent ID: 791bf82f-73da-f094-5deb-efa1aef7f62f
* Content: [HttpFormUrlEncodedContent(IIterable&l

[2019-02-07 09:25] CaptainZippy opened #908 "C++ methods should be searchable"
To reproduce:

Try to search the web for "RunWithPriorityAndOptionsAsync". 0 hits on most engines.
(Though bing seems to have some smarts)

It seems this method has been projected as an overload of RunAsync. In general there
should be a way for people to find the right content using the interface names.
And when they get there, to see the projected vs raw names.

---
#### Document Details

⚠ *Do n

[2019-02-07 16:20] michael-hawker opened #909 "No link to Package class"
There's no link to jump to the Package class in this article; it makes it harder to navigate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 708a3ece-610f-6481-ac54-59e49359fb1d
* Version Independent ID: f15dc0e2-c450-0bef-bde0-2de09f784f15
* Content: [PackageManager.FindPackages Method (Windows.Management.Deployment)

[2019-02-07 21:00] stevewhims commented on #907
Hi, @jevansAN, the topic should be updated shortly with a code example. Meanwhile, here's the code I added to the topic, I hope it helps.

[code]

~Steve

[2019-02-07 21:06] jevansAN commented on #907
Great! That is exactly the sort of thing that I think will help me and others.

Jeff

On Feb 7, 2019, at 1:00 PM, Steven White <notifications@github.com> wrote:

Hi, @jevansAN <https://github.com/jevansAN>, the topic should be updated shortly with a code example. Meanwhile, here's the code I added to the topic, I hope it helps.

auto contentKeyValuePairs{
winrt::single_threaded_map<winrt::hstring,

[2019-02-07 21:33] stevewhims commented on #907
Great! I'll leave the issue open until I see that the code example is live.

[2019-02-07 21:56] jevansAN commented on #907
Thanks again. Never would have guessed that std::map was the answer! Seems more obvious in retrospect.
What I’m trying to do is to POST a block of binary data to an online file; on the Mac I do this with Multipart form data but on Win it was appearing to me that I could use buffercontent. Only trouble is that key value pairs are required to get through a cgi script that handles incoming. Would be

[2019-02-07 22:23] stevewhims commented on #907
Jeff, it'd be great if you could give me more details about that latest ask, please, because I don't grok it yet. Perhaps if you file a new issue against the WinRT class in question? The more info you can give about your scenario, and what you want a code example to do, the more that'll help me get my head around it and think about a solution (and/or get help from the product team, if necessary).

[2019-02-07 22:58] jevansAN commented on #907
Steve, Great offer - can I put it here?

The app has binary data that needs to be POSTed to a file online.
The destination base address is a cgi script.

On the Mac I use multipart form data but it’s not clear to me that this is necessary with HttpClient.

To summarize, on the Mac I begin with a url request constructed with an argument like this:

"https://www.oursite.com/cgi-bin/thescript.cgi?PIN

[2019-02-08 00:03] stevewhims commented on #907
Great detail, thanks. I'll go ahead and get advice from the product team about this. Once I know how to do it, in general, with the WinRT APIs, then I should be able to represent that in C++/WinRT code.

[2019-02-08 00:05] knicholasa commented on #643
Hi! Approval is necessary before publishing an app that uses these APIs. The approval and provisioning happens as part of the store app submission process. I'll update the wording here to be more clear about that. If you run into any issues using the APIs, please check out our developer support pages or leave a post on a support forum: https://developer.microsoft.com/windows/support

[2019-02-08 01:08] #643 closed, assigned to knicholasa

[2019-02-08 01:14] #641 closed, assigned to knicholasa

[2019-02-08 09:30] brabebhin opened #910 "cues flicker"
Calling this method when there is an active, displayed cue will cause said cue to flicker.

This document does not provide any clues on how to fix this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7d1df21-773b-7667-c465-30cca9bfbab3
* Version Independent ID: 7d56d10a-71e9-4a7c-e680-dad3ad81728b
* Content: [Ti

[2019-02-08 15:43] michael-hawker opened #912 "Was this event introduced after 16299?"
I can't seem to use this on 16299 (get a cast exception below).  However, if that's the case, the API version isn't called out in the docs that this particular event is only usable on a newer system.

    "Unable to cast object of type 'Windows.System.RemoteSystems.RemoteSystemWatcher' to type 'Windows.System.RemoteSystems.IRemoteSystemWatcher2'."

---
#### Document Details

⚠ *Do not edit this se

[2019-02-09 00:05] knicholasa commented on #820
I am going to update the page based on our offline discussion by clarifying the description and adding a link to a simple overview of Activation. Results should be visible soon.

[2019-02-09 00:05] #820 closed, assigned to knicholasa

[2019-02-10 11:26] Shadolio opened #913 "MediaPlayer.AudioDeviceType significance"
What is MediaPlayer.AudioDeviceType used for? Any suggestions or scenarios for when or what this property can be set or used? For example, I thought that it could be set to "Communications" on a Windows Phone or Windows 10 Mobile device, "Console" if this is an Xbox, and I am not sure when would "Multimedia" be used, but it would fit if Windows would run on a device like an Mp3 player. However, th

[2019-02-11 18:53] michael-hawker commented on #912
Confirmed with platform team that `IRemoteSystemWatcher2` was introduced in 17134.  That includes both events `EnumerationCompleted` and `ErrorOccurred`.  So, the docs for these two events should call that out as such.  Thanks!

[2019-02-11 21:12] rahulsingh11 opened #914 "Incorrect Assembly stated"
Windows.Media.ClosedCaptioning can be found in the Windows.Media.dll assembly.

There is no Windows.Media.ClosedCaptioning.dll on Windows 10. As such, the Assemblies info on this page should be updated to reflect this.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b9cbfd5-5329-8557-7617-1eb1dbd7d422
* Versio

[2019-02-11 22:57] stevewhims commented on #907
!!UPDATED with corrected code!!

Jeff, you're right that HttpClient.PostAsync automatically takes care of setting the POST method for you. And, we believe that the right thing is for you to use the HttpMultipartContent class for the content object that you pass to PostAsync. Here's some code:

[code]

Also see [HttpContentHeaderCollection.ContentDisposition](https://docs.microsoft.com/uwp/api/wind

[2019-02-11 23:36] jevansAN commented on #907
Steven, That is very helpful, thanks; I’m going to it a try.

Hope you at MS can find food during the snowpocalypse.

Jeff

On Feb 11, 2019, at 2:57 PM, Steven White <notifications@github.com> wrote:

Jeff, you're right that HttpClient.PostAsync automatically takes care of setting the POST method for you. And, we believe that the right thing is for you to use the HttpMultipartContent class for the

[2019-02-11 23:38] stevewhims commented on #907
Haha, thanks, Jeff! :D

[2019-02-12 00:51] embender opened #915 "Looks like we support all 26 modes now"
In BlendEffectMode I currently see the hue, color, luminosity, dissolve and saturation. This page should be updated to reflect this update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0377d6ea-d3ca-628e-ba62-1b25e90449bb
* Version Independent ID: 281e9377-7c98-7163-31e2-995423d3217e
* Content: [Compositor.CreateEffe

[2019-02-12 00:51] jevansAN opened #916 "disposition-types?"
Would be helpful to list some possible values for the disposition-type string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30717193-ecbc-ee8f-b672-9a42f4a6750d
* Version Independent ID: 604e9b21-5150-fed5-3da5-9734950d9233
* Content: [HttpContentDispositionHeaderValue(String) Constructor (Windows.Web.Http.Headers) -

[2019-02-12 02:33] jevansAN commented on #907
Steven,

	A little progress here -
	It looks to me like the content object in your first line below is never created.
	To get past that I changed the first line this way:

   winrt::Windows::Web::Http::HttpMultipartContent content = winrt::Windows::Web::Http::HttpMultipartContent();

   Which gets us to the next line, where the content’s disposition turns out to be null and one can’t set its filen

[2019-02-12 03:15] stevewhims commented on #907
I've corrected the code (if you scroll back up to my reply with the code, that's now UPDATED). The ```Windows::Web::Http::HttpMultipartContent content;``` part is correct; it's a briefer way and slightly faster way of saying ```winrt::Windows::Web::Http::HttpMultipartContent content = winrt::Windows::Web::Http::HttpMultipartContent();```. But you're right that we have to create an instance of the

[2019-02-12 03:58] jevansAN commented on #907
Great, Thanks. Didn’t realize it wasn’t necessary to say HttpMultipartContent() -

I could ask our server guy to tell me exactly what comes in when I do this from the Mac code, though I expect there’s going to be a lot in there that isn’t specified in the code itself.
My uploader on the Mac begins with the the path to the the cgi script, followed by the PIN= and the PIN number. That is the serverU

[2019-02-12 20:42] stevewhims commented on #907
Jeff, I've sent an email to the feature team, with a summary of where we are. I hope we can figure this out, and then I can get the solution documented. I'll keep you posted. ~Steve

[2019-02-12 20:58] stevewhims commented on #916
I've added more info this topic. Links to a list of the valid, standard, values. And a link to a code example in another topic. ~Steve

[2019-02-12 22:07] jevansAN commented on #916
Thanks much! Looks like the appropriate Content-Disposition here would be form-data.
Appears I’m not authorized to view the code example. Maybe your team will have something.

Jeff

On Feb 12, 2019, at 12:58 PM, Steven White <notifications@github.com> wrote:

I've added more info this topic. Links to a list of the valid, standard, values. And a link to a code example in another topic. ~Steve

—
Yo

[2019-02-12 22:52] stevewhims commented on #916
Ah, yes, I got that link wrong. So, I've just Completed a fix PR, so that should be live either today or tomorrow. The link that I got wrong and just fixed was just to a topic that we've already talked about, though, it's just this one FYI: https://docs.microsoft.com/uwp/api/windows.web.http.headers.httpcontentheadercollection.

[2019-02-12 23:05] jevansAN commented on #916
Right! That one I can see. I’ll keep my eyes peeled.

Jeff

On Feb 12, 2019, at 2:52 PM, Steven White <notifications@github.com> wrote:

Ah, yes, I got that link wrong. So, I've just Completed a fix PR, so that should be live either today or tomorrow. The link that I got wrong and just fixed was just to a topic that we've already talked about, though, it's just this one FYI: https://docs.microsoft

[2019-02-14 01:59] StevenEdwardWood opened #917 "How do these SubTypes correlate to File Extensions?"
If an application only has the user's selected filename and extension then what should be the SubType string.  If the application allows the user to select the SubType, from a drop down list for example, then what should be the file extension?  If an application allows the user to select both a file extension and SubType then how do they correlate?  For example if the user first selects the SubTyp

[2019-02-14 17:45] MikeHillberg opened #918 "Broken links"
For example, the link from here to CommandBar is:

    https://docs.microsoft.com/en-us/uwp/windows.ui.xaml.controls/commandbar.md

which gives 404.  This works:

    https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.CommandBar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0af4281b-e911-b8a2-ed6c-e0186

[2019-02-14 18:10] Travis-Snoozy opened #919 "Cannot format ISO 8601 using the DateTimeFormatter"
There is no direct option to select whether a 24H or 12H representation for the "hours" place is used -- instead, it defers to the "Clock" setting (which is just a string, and is not usefully documented).

{timezone} is also not well-documented enough to be included in the manual construction of an ISO 8601 string. I have no idea if {timezone}/{timezone.full}/{timezone.abbreviated} will result in

[2019-02-14 21:32] jevansAN commented on #907
Steven, It might help for me to supply the most recent complete code I’m attempting. Only part left out here is the PostAsync, which I’ve moved to a separate method for easier debugging.  Of course, the addresses are changed here to protect the innocent:

	std::wstring requestURL = (L"https://www.ourdomain.com/cgi-bin/ourscript.cgi?PIN=123456”);
	winrt::Windows::Foundation::Uri requestUri{ request

[2019-02-14 22:08] Chrissteven81 opened #920 "Minimum Freshness Time"
The  constructor has a minimum freshness time of 15 min. If you try to use the background task to trigger any faster then that it will give you a value out of range error. This is not currently documented on this thread and it is implied when you go to the freshnesstime thread but is not stated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-02-14 23:40] stevewhims commented on #907
Thanks, Jeff. While we're waiting for help from the product team, I was reading https://tools.ietf.org/html/rfc1867, part of which says:

   The original local file name may be supplied as well, either as a
   'filename' parameter either of the 'content-disposition: form-data'
   header or in the case of multiple files in a 'content-disposition:
   file' header of the subpart. The client applicati

[2019-02-15 00:19] stevewhims commented on #907
Some good advice from the product team: "For this sort of issue, the best way to proceed is to collect HTTP traces. That way, we can compare the successful (Mac) HTTP POST request against the unsuccessful (Windows) HTTP POST request. Once we know what the HTTP-level differences are, it’ll be easy to determine the necessary code change."

Would you be able to go about collecting those traces?

[2019-02-15 00:20] stevewhims commented on #916
Links are good now. :) I'll close this. ~Steve

[2019-02-15 00:20] #916 closed, assigned to stevewhims

[2019-02-15 00:25] jevansAN commented on #907
Thanks - I suppose that would require figuring out how to use Fiddler; maybe I can get someone to try looking at that.

Jeff

On Feb 14, 2019, at 4:19 PM, Steven White <notifications@github.com> wrote:

Some good advice from the product team: "For this sort of issue, the best way to proceed is to collect HTTP traces. That way, we can compare the successful (Mac) HTTP POST request against the unsuc

[2019-02-15 16:36] benstevens48 opened #921 "The Remarks are incorrect"
This event is actually designed as a companion to DragStarting, so is fired by elements with CanDrag = true, after the drag and drop operation initiated from that element has finished (successfully or unsuccessfully).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dad59210-d313-291b-1683-e709a6b10a74
* Version Independ

[2019-02-15 21:13] JasperE84 opened #922 "Auto claim in range Bluetooth barcode scanner"
I haven't found any reliable method or event to automatically detect when a Bluetooth scanner is in range and 'ready to be claimed'. (For instance after going out/in of reach or after turning on or power cycling the Bluetooth scanner device.)

What would be the right strategy here?

Please see this thread for more info:
https://stackoverflow.com/questions/54279309/autoclaim-pos-bluetooth-barcode-s

[2019-02-15 21:23] hickeys commented on #316
I've made some changes to the article, they should show up shortly.

[2019-02-15 21:23] #316 closed, assigned to hickeys

[2019-02-16 03:05] jevansAN commented on #907
Our web guy did give me a trace today for the Win POST - it may be enough to tell the tale.

It was very brief. First I’ll show the relevant code. For the test I sent just 4 bytes, ’StHd’,  and the path argument was a path from root to and including the desired file name, as we do on the Mac side:

winrt::Windows::Web::Http::HttpMultipartFormDataContent content = winrt::Windows::Web::Http::HttpMul

[2019-02-16 03:09] icodingforfood opened #924 "pin secondary tile to taskbar"
No docs about pin secondary tiles to taskbar and no more infos about Limited-Access.  The "See also“  is https link?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: e8e3f90a-5801-64be-d1bf-3d47616d6966
* Version Independent ID: 556b20f9-75d6-a5b2-0d5c-48b0fba8bda9
* Content: [TaskbarManager.RequestPinSecondaryTileAsync(SecondaryTile) Method (Windows.UI.Shell) - Windo

[2019-02-17 00:42] hakimmazigh opened #925 "hakim mazigh"
Mymazigha_IBM_

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 26c44946-e6fc-05ca-5fed-999ddba59e64
* Version Independent ID: ef2b2cb3-dc6a-e21a-ce00-cfefaa0da217
* Content: [Windows.ApplicationModel.Payments Namespace - Windows UWP applications](https://docs.microsoft.com/ar-sa/uwp/api/windows.applicationmodel.payments)
* Content Source:

[2019-02-17 13:16] JasperE84 opened #926 "BarcodeScanner.FromIdAsync sometimes returns null for no obvious reason"
BarcodeScanner.FromIdAsync() returns some unexpected results in my UWP app.

When using a SocketScan D730 Bluetooth barcode scanner, BarcodeScanner.FromIdAsync() works fine if my scanner is turned on when I call FromIdAsync() is called for the first time. I can then claim and use the device (as expected).

However, if I first call FromIdAsync() while the scanner is turned -off-, then the function

[2019-02-17 20:15] jevansAN opened #927 "Chosen color reflected in spectrum?"
This is said to set the current color value, but it seems to apply only to the sliders and hex? I don't see in these docs a method to init the chosen value in the color spectrum display - or to make the spectrum update to reflect the chosen color. I figure there must be one here somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-02-17 22:51] PeterSmithRedmond commented on #907
Can you try setting the name and the filename on the BufferContent and  not the 'content' item. Getting the Mac POST, though, will be tremendously useful because then you can compare one against the other directly.

[2019-02-18 00:41] jevansAN commented on #907
Peter, thanks for getting back. I now have the Mac data and will supply it below.

By ’setting name and the filename on the BufferContent’ I guess you mean to add the ContentDisposition item to the buffer content’s header() rather than addition to the multipart form content item, like this:

winrt::Windows::Web::Http::HttpMultipartFormDataContent content = winrt::Windows::Web::Http::HttpMultipartF

[2019-02-18 00:55] jevansAN commented on #927
Never mind - my error. The picker was being inited with a color value that was just a shade of gray, so naturally the spectrum was displaying a choice at dead center.

[2019-02-18 00:56] PeterSmithRedmond commented on #907
Yes, sorry for not being clear. This is what I get for my outgoing request:
HTTP REQUEST:
--Xx11811dJe
Content-Length: 33
Content-Disposition: form-data; name="UPLOADED"; filename="path/to/file"

this is my file
it has two lines
--Xx11811dJe--

and here's my C# code. I make a ContentdispositionHeaderValue
[code]
then I set the ContentDisposition on the HttpBufferContent.

AFAICT, this is exactly w

[2019-02-18 02:01] jevansAN commented on #907
Thanks - interesting that mine doesn’t show Content-Length in either the working Mac trace or the nonworking Win trace.
When you set the ContentDIsposition on the HttpBufferContent I expect you are doing this, with differences for C+/winrt:

bufferContent.Headers().ContentDisposition(contentDisposition);

In C++/Winrt the Headers() just gets you the Headers object and the then the ContentDispositi

[2019-02-18 10:48] izikbru-dev opened #928 "Document is not detailed enough"
This subject is not so simple. There is not much data how to make UWP with desktop apps, and this page is not really informative. Need a guide that explain what to do and give example for each step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8aa76ad-d68d-53a1-8821-526ae1f618e4
* Version Independent ID: a3a99abf-58

[2019-02-18 13:15] geometrikal opened #929 "Putting a margin on the content is not the way to centre it when using labels on the right"
If you have `DefaultLabelPosition="Right"` for the CommandBar, then you need to remove the margins on the content and instead add `VerticalContentAlignment="Center"` to the CommandBar, otherwise the CommandBar will shift vertically when the secondary commands are opened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2019-02-19 04:09] Gavin-Williams opened #930 "Performance information missing."
Hi,
This is a general issue with documentation, but I'm looking at one method right now as an example of my requirement, CryptographicBuffer.CreateFromByteArray(Byte[]). What I would like to see is some performance information, so is this an expensive operation (does it copy the data) or is it cheap (does it create a view of the existing data). I mean I have no idea what a buffer actually is, I do

[2019-02-19 11:01] Gavin-Williams opened #931 "Where is the LocalFolder?"
You don't tell us where the package or the LocalFolder are. How are we meant to verify files existence and contents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55183d06-94e7-2410-23e2-3e414a190bc9
* Version Independent ID: 9ac42a48-e4c5-23d6-d5d5-cf8c4d51e30c
* Content: [Package.InstalledLocation Property (Windows.

[2019-02-19 13:38] VatsikDimon commented on #790
Why it not working with swipe item. I cannot use MVVM with swipe

[2019-02-19 19:27] adambarlow commented on #790
@VatsikDimon can you describe your problem more in depth?

[2019-02-19 19:38] VatsikDimon commented on #790
@adambarlow shore. I using mvvmlight in UWP, and cannot catch event on command in swipeitem control.

[2019-02-19 21:43] TylerMSFT commented on #258
Adam is internal. After speaking with dev he proposes we document where Xaml.Application.Start runs its callback (on the main view) and where the Resuming, Suspending, EnteredBackground, and LeavingBackground event handlers run (the same apartment in which they were registered).

[2019-02-19 22:38] drewbatgit commented on #917
Hi, most of the audio file subtype names are the same as the associated file extension, with some exceptions (vorbis -> ogg). But there is not always a 1:1 mapping of file format to extension. For example, many different media formats can be placed inside an AVI container. Also, audio can be encoded in, say, mp3 format and then included in a stream in an .mp4 file. So, when you are encoding audio

[2019-02-19 22:38] #917 closed, assigned to drewbatgit

[2019-02-19 22:42] stevewhims commented on #907
FYI, C# doesn't use narrow strings. It uses Unicode strings, so you can interpret C#'s "literal" the same as C++'s L"literal".

[2019-02-20 00:12] jevansAN commented on #907
Thanks - that’s good to know. Now just have to find out why that header content isn’t getting to the server script. Has me stumped.

Jeff

On Feb 19, 2019, at 2:42 PM, Steven White <notifications@github.com> wrote:

FYI, C# doesn't use narrow strings. It uses Unicode strings, so you can interpret C#'s "literal" the same as C++'s L"literal".

—
You are receiving this because you were mentioned.
Rep

[2019-02-20 08:31] Matteo-T opened #934 "Please, fix the link to the "AutomationProperties.ItemStatus". Thanks."
Please, fix the link to the "AutomationProperties.ItemStatus". Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30244990-18f5-9be7-656a-90b25d19147e
* Version Independent ID: 769bdad8-6d68-e955-f1ef-9ac10c58fff1
* Content: [AutomationProperties.SetItemStatus(DependencyObject, String) Method (Windows.UI.Xaml.Autom

[2019-02-20 09:45] billtsai999 opened #935 "How to open service with secured connection"
Hi Sir,
When I use HID service , it has secured connection.
But BluetoothLEExplorer will return Access Denied in HID service.
How to fix this problem?
Thanks.

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 65c2a20d-cc06-5e41-2f42-e6da327756d2
* Version Independent ID: 633f27d1-83ba-10b9-6200-eb9f6329041a
* Content: [GattDeviceService.OpenAsync(GattSharingMode) Metho

[2019-02-20 10:37] ethanfan1p opened #936 "It's difficult for app vendor to understand how to use above interface"
Recommend demonstrate with sample codes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54a66cc6-f5db-2425-e50d-07072c09994a
* Version Independent ID: ba2e58ed-ce3e-1c21-78db-3ab29f097777
* Content: [VideoDeviceController.GetDevicePropertyByExtendedId(Byte\[\], IReference&lt;UInt32&gt;) Method (Windows.Media.Devices) -

[2019-02-20 17:08] drewbatgit commented on #936
Hello, this API is intended to be used by the developer of the driver for a particular video capture device. They pass in the string name of a property and the method returns an object with the value for that property. But the actual property names and values are determined by the hardware vendor. Are you a are hardware vendor having difficulty obtaining your proprietary property values?

[2019-02-21 00:54] BlueEmb3r opened #937 "Change the Genre property"
What if I want to change the Genre property? What can be a way of doing it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a3936c1-c359-eceb-fe2b-b1782064f238
* Version Independent ID: 7813bfa3-f81f-1584-8c6d-2c6b68059d31
* Content: [MusicProperties Class (Windows.Storage.FileProperties) - Windows UWP applications](ht

[2019-02-21 12:39] JasonWei512 opened #938 "Please delete this issue"
Please delete this issue.

[2019-02-21 19:25] mcleanbyron commented on #937
The Genre property is just a list of strings. The list collection object itself is read-only (that is, you can't assign the Genre property to a different list collection object), but you can freely remove or add genre strings to the collection by using methods of the IList object such as Insert, Add, Remove, etc. After you make your changes, call [SavePropertiesAsync](https://docs.microsoft.com/en

[2019-02-21 19:25] #937 closed, assigned to mcleanbyron

[2019-02-21 23:18] knicholasa commented on #928
Hi, can you clarify what you are looking for? Perhaps [this guide](https://blogs.msdn.microsoft.com/appconsult/2016/12/19/desktop-bridge-the-migrate-phase-invoking-a-win32-process-from-a-uwp-app/) would be useful. In general, API Reference documents are kept more succinct and do not include step-by-step guides.

Also, I encourage you to check out our [Windows developer support center](https://deve

[2019-02-21 23:33] #938 closed, assigned to jwmsft

[2019-02-22 00:22] knicholasa commented on #925
Hi, this doesn't look like documentation feedback to me. Closing. Please open a new issue if this was closed by mistake.

[2019-02-22 00:22] #925 closed

[2019-02-22 01:03] knicholasa commented on #931
Hi Gavin,

If you are developing an app and are stuck, you should be able to get help via our [Windows developer support](https://developer.microsoft.com/en-us/windows/support) center.

These articles might also be helpful:
https://docs.microsoft.com/uwp/api/windows.storage.applicationdata
https://docs.microsoft.com/uwp/api/windows.storage.applicationdata.localfolder

If you can elaborate on what

[2019-02-22 14:37] ghost opened #939 "LineSample simple docs"
I installed and deployed the app to a box with a line display.  I assume that the app auto loads all LineDisplays into the DisplaysListBox but mine remains empty so at that point the app is dead in the water since you can't move past Scenario1.  Is there a forum or other way to share in working with these samples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-02-22 22:41] knicholasa commented on #366
I've added clarifying language to the document. Changes should be visible in a day or two.

[2019-02-22 22:41] #366 closed, assigned to knicholasa

[2019-02-23 00:39] mcleanbyron commented on #876
We have added remarks to this article about the current lack of JavaScript support and a link to a workaround.

[2019-02-23 00:39] #876 closed, assigned to mcleanbyron, knicholasa

[2019-02-23 00:39] mcleanbyron commented on #902
We have added remarks to this article about the current lack of JavaScript support and a link to a workaround.

[2019-02-23 00:39] #902 closed, assigned to mcleanbyron, knicholasa

[2019-02-23 03:33] StevenEdwardWood opened #940 "Please indicate which Kind each subtype is for."
Since this list includes Audio, Video, and Image subtypes...we need for the documentation to indicate which kind each subtype is for.  Some are indicated in the property, for example Wvc1 indicates that it is a subtype for Video.  But, Rgb24 and Rgb32 while are obviously not Audio subtypes could be for either Image or Video kinds...or both?

Applications need to know which Kind these subtypes are

[2019-02-23 03:35] StevenEdwardWood commented on #940
It also occurred to me that some of these may be selected for the Container Encoding Properties, for example avi.

[2019-02-23 12:17] tipa commented on #463
I'd like to know that as well

[2019-02-23 14:39] TyJOrtiz opened #941 "Is this official api?"
you should specify whether its prerelease api, or if functionality isn't there, or its restricted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f39f756-df4e-1db4-a96a-61432eaa547b
* Version Independent ID: 084d9582-b752-4fb9-b171-8ef641fae383
* Content: [GlobalSystemMediaTransportControlsSession Class (Windows.Media

[2019-02-24 02:44] jevansAN opened #942 "Revision for C++/winrt code"
I think it would help people using C++/winrt to see what a handler for this sort of event actually looks like - I can't see much relationship with the declaration shown above. This works for me, similar to the handlers for KeyDown, etc, that can use lambdas:

mainGrid.LostFocus([&](winrt::Windows::Foundation::IInspectable const& sender, IRoutedEventArgs const& args)
			{
				DoSomethingAboutIt();

[2019-02-24 11:55] eowarren625 opened #943 "PeopleNames similar but not the same as Keywords"
Keywords -&gt; IList&lt;string&gt; and can be cleared by using .clear().
PeopleNames -&gt; IReadOnlyList&lt;string&gt; without a .clear()

So the Remark in PeopleNames is factually true they are similar, they really are not functionally the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81f60e0-32b5-083a-0a1f-a2

[2019-02-24 16:45] slim16165 opened #944 "I cannot find the Windows.Data.Text.dll file"
I made a lot of research on google but it's not easy to find or download it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5436764c-2b30-1f5f-9f12-e6ecc8317e62
* Version Independent ID: af39a6cb-4659-aec9-e9f0-348f47da2a18
* Content: [WordsSegmenter Class (Windows.Data.Text) - Windows UWP applications](https://docs.mic

[2019-02-25 07:24] dmitriy-proskurin opened #945 "New formatter mode"
I wont request new formatter mode, which allow display sum without currency code/symbol. It may be useful when i need display some of values in a column(without currency symbol/code) with total at bottom(with currency symbol/code).
Also, that formatter mode may useful when i was parse value with currency rules(decimal devider, etc.), but without currency symbol. Current implementation of DeciamalF

[2019-02-25 17:07] lawabider opened #946 "concurrency::parallel_for seems to run on an STA some of the time -> !is_sta() false error"
For now I am trying to use concurrency::parallel_for. I know that UWP does have its own threadpool `api.`

I am trying to do a .get() on one of the async methods. concurrency::parallel_for seems to run on an STA sometimes (possibly on the IU thread?). Hence I get the !is_sta() error.  Is there any way to prevent this?  Concurrency Runtime seems quite nice, even if it was not made for UWP.

UPDATE:

[2019-02-25 17:07] mcleanbyron commented on #944
The Windows.Data.Text.dll file cannot be downloaded separately. To use the WordsSegmenter class, make sure you have the [Windows 10 SDK](https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk) installed, and then make sure you have the Universal Windows SDK referenced in your UWP app project (this is referenced by default). If you install Visual Studio 2017 with the "Visual Studio

[2019-02-25 17:07] #944 closed, assigned to mcleanbyron

[2019-02-25 17:21] mcleanbyron commented on #943
Thanks for your feedback and for catching this! I changed the remarks to "This property is read-only. You can't delete or replace the collection itself, and the contents of the collection are also read-only". This change should be published to the live docs site in the next day or so.

[2019-02-25 17:21] #943 closed, assigned to mcleanbyron

[2019-02-25 19:31] #927 closed, assigned to jwmsft

[2019-02-25 22:36] hickeys commented on #924
The Limited-access is described in the link in the first paragraph. You're right though, it's not particular clear so I've updated the language a little to more accurately describe the process. Changes should show up shortly.

[2019-02-25 22:36] #924 closed, assigned to hickeys

[2019-02-25 23:45] ginami commented on #946
Hi @lawabider -- thank you for your feedback. This list is for doc-specific issues; are you referring to a specific doc? If you let me know the URL, I can route your comments to the correct page owner. Thanks!

[2019-02-26 01:12] stevewhims commented on #942
Hi, @jevansAN, have you seen the topic about handling events using C++/WinRT? https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/handle-events. The first examples there use ButtonBase::Click (which is very similar to UIElement::LostFocus). Once you've followed along with that topic, you'll be able to use the syntax block in any event topic to handle the event. But please let me know i

[2019-02-26 01:31] jevansAN commented on #942
Steven, thanks - but that page is forbidden! Must be hot stuff.

Jeff

On Feb 25, 2019, at 5:12 PM, Steven White <notifications@github.com> wrote:

Hi, @jevansAN <https://github.com/jevansAN>, have you seen the topic about handling events using C++/WinRT? https://review.docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/handle-events?branch=master <https://review.docs.microsoft.com/windows/uwp/cpp-

[2019-02-26 01:37] stevewhims commented on #942
Sorry, I fixed the link above, and here it is again: https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/handle-events. :)

[2019-02-26 09:17] lawabider commented on #946
Hi @ginami,
sorry; please feel free to delete this Issue. As I have noted it was caused by using opencv to pop up images, for debugging purposes, so probably is not really an issue.

[2019-02-26 10:03] ninolhail opened #947 "Dead link in: Troubleshooting for flicker during transition to the extended splash screen"
The links to "Troubleshoot" and "Guidelines and checklist for splash screens" dont't work. I noticed this since on my workstation (iMac 2017 with parallels), there is a noticable flicker when transitioning to the extended splash screen even in the Windows universal samples project (Splash screen sample). Any approach to troubleshoot this issue would therefore be appreciated.

---
#### Document Det

[2019-02-26 16:46] ginami commented on #946
No worries, @lawabider! Can't delete, but I'll close it out. Thank you!

[2019-02-26 16:46] #946 closed, assigned to nobody

[2019-02-27 00:16] MikeHillberg opened #948 "Missing information about title bar occlussion"
When you set this to true, the view's content extends into the title bar region at the top, the height of which is given by CoreApplicationViewTitleBar.Height.  But note that that region is still treated like a title bar, in that you can drag the window with it, double-click to maximize, and right-click to bring up the system menu.  So you need to avoid putting pointer-interactive content in this

[2019-02-28 02:31] MichaelKintscher opened #950 "Additional Firing Conditions Missing"
This event fires more than just "when manipulations such as scrolling and zooming have caused the view to change". It also fires while the ScrollViewer is loading... and it may even fire at other times as well. I have verified the former, and the latter is causing me some current trouble. When else does this event actually fire? This documentation would be useful for writing a reliable event handl

[2019-02-28 12:26] jfranki opened #951 "Size (width and height) limitations need to be defined"
As far as I know it is not posible to set a ContentDialog's height or size to a desired value, not through attributes not through code-behind (correct me if I'm wrong). There seems to be a limitation on both properties, like predefined maximum values, which could make this control not valid for some scenarios.

I think this should be explained in Remarks. If I'm wrong and there is indeed a way to

[2019-02-28 19:35] eliotcowley commented on #816
Hi @moneylow, the snippet is in JavaScript, and in JS the API is actually `text`, so it's correct. Thanks for being vigilant, though!

[2019-02-28 19:35] #816 closed, assigned to eliotcowley

[2019-02-28 20:01] BlueEmb3r opened #952 "Change the cover art of a file"
How can I use this API to change the cover art of, for example, a mp3 file?

[2019-02-28 23:00] auserwhowouldnotdisclosehisorhername commented on #928
Is there any security concerns to activate a win32 component from an UWP app through FullTrustProcessLauncher?

[2019-03-01 02:39] ginami commented on #952
Hi @BlueEmb3r -- can you give me the URL of the doc that you're referring to? Thank you!

[2019-03-01 02:41] BlueEmb3r commented on #952
@ginami
https://docs.microsoft.com/uwp/api/windows.storage.systemproperties.music

[2019-03-01 17:45] mcleanbyron commented on #952
Hi @BlueEmb3r - The album art thumbnail for an .mp3 file is accessible via the same thumbnail API that is used for any type of file: the [StorageFile.GetThumbnailAsync](https://docs.microsoft.com/en-us/uwp/api/windows.storage.storagefile.getthumbnailasync) method. For more information, see [Thumbnail images](https://docs.microsoft.com/en-us/windows/uwp/files/thumbnails) and scenario 2 in the [File

[2019-03-01 17:45] #952 closed, assigned to mcleanbyron

[2019-03-01 23:14] jevansAN opened #954 "Usage example?"
Could you show an example of a C++/winrt handler created to, say, track the IsOpen property of a Popup? The translation from the above declaration is fairly obscure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b56eb5a-b67f-0df4-cca6-24329f9b2138
* Version Independent ID: 4c41e0f1-2f02-051a-8d1c-07a25823366d
* Conte

[2019-03-02 00:28] MikeHillberg commented on #954
Note there's a C# example here:
https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/custom-dependency-properties#calling-register-with-property-metadata

(In fact, if you use the Language drop-down on that webpage, you can choose between several languages)

[2019-03-02 04:13] fabfella commented on #951
Yes im also troubled by this at the moment! Please provide an answer as soon as posible

[2019-03-02 19:08] jevansAN opened #955 "Arguments for lambda in C++/winrt"
By analogy with the KeyDown event I assume that in C++/winrt I'd declare (for code-behind) a lambda with a sender and args. The docs for the keydown event - described exactly as above - identify the args field as KeyRoutedEventArgs. What would be the args for this? Could you provide an example of usage in C++/winrt on that model? For example, my keydown looks like this and works fine:
m_item.KeyDo

[2019-03-02 22:15] jevansAN commented on #954
Thanks for that, but I’ve decided it would make more sense for my purposes to handle the Closed event on the popups I’m dealing with. A similar problem appears, though: It’s not clear to me why the docs don’t show the arguments for an event as they would appear when setting a lambda to handle the event in C++/winrt.

For example, the KeyDown event is documented in a way very similar to Close, with

[2019-03-03 02:17] MikeHillberg commented on #951
You can set the Width/Height on the Content of the ContentDialog as an alternate solution.

[2019-03-03 08:16] tipa opened #956 "Geotag-Support for .HEIC files"
This method currently seems to be unable to gather geotags from .HEIC files, although Windows can show the geotag in the properties window and the Windows photo app is able to show the location as well. Are they using a different API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 399f1d5b-21c8-b160-6dc8-688e398b385e
*

[2019-03-03 11:44] izikbru-dev commented on #928
Hi, not about security, just tried to work with UWP and another desktop app. unfortunately, I gave up this idea for it's complexity, but I'll try the guide u send, Thanks.

[2019-03-03 11:44] #928 closed, assigned to mcleanbyron

[2019-03-04 02:41] jevansAN opened #957 "Setting command in C++/winrt programmatically?"
If not using xaml designer, how can one set the command programmatically in C++/winrt? I have a large project that began before the xaml designer was available in C++/winrt, so I'm committed to code-behind UI. The paragraphs above seem to suggest that there is no way to set the command outside xaml designer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-03-04 04:27] jevansAN commented on #957
p.s. for general info, I guess the solution is to just handle the Click event on the menuflyoutitem and implement the command directly that way, using the KeyboardAcceleratorTextOverride to show the key equivalent.

[2019-03-04 08:28] jfranki commented on #951
Already tried that, does not work.

[2019-03-04 11:58] snellejelle99 opened #958 "namespaces and usings incomplete for c++ example"
copying the c++ example leads to a shitload of errors mostly related to certain things not being defined.
please add a comment with which namespaces and includes should be used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce88b8b-ad32-bcc7-bb9c-834d3cc487e8
* Version Independent ID: eef88d4b-6051-95fe-b180-868dd8ff4

[2019-03-04 21:50] stevewhims commented on #955
Hi, @jevansAN, that analogy is generally a sound approach. But to be really certain, I'd recommend the following approach (and, by the way, I'm going up to add these details to the
[Handle events by using delegates in C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/handle-events) topic.)

First, go to the topic for the event itself. That's Popup.Closed in this case. Select C++

[2019-03-04 22:02] stevewhims commented on #954
Hi, @jevansAN, I added details to the other issue: [Arguments for lambda in C++/WinRT](https://github.com/MicrosoftDocs/winrt-api/issues/955). Hopefully the steps described there will cover the general case. And I've updated the event-handling topic in the C++/WinRT docs (should be published soon). I think there are enough examples there, and with the general-purpose (teach-a-person-to-fish-type a

[2019-03-04 22:23] stevewhims commented on #957
Hi, @jevansAN. Let's say I have a Windows Runtime type like this in my IDL.

[code]

And markup like this.

[code]

If I want to set an instance of BookSku to serve as the command object for that MenuFlyoutItem, then I can do something like this:

[code]

It's not unusual for topics in this area to show properties being set in markup. But you can still set such properties imperatively, too.

~Stev

[2019-03-04 22:52] Karl-Bridge-Microsoft commented on #934
@Matteo-T - thanks for the feedback. I've revised the topic as required.

[2019-03-04 22:52] #934 closed, assigned to Karl-Bridge-Microsoft

[2019-03-05 00:01] jevansAN commented on #907
Steven,

	Thanks for your latest responses; I’m about to review them. Meanwhile, we did work out the POST with http client, and I’ll show you how we did it, if the info is of any use:

std::wstring requestURL = (L"https://www.ourdomain.com/cgi-bin/ourscript.cgi?PIN=123456");
	winrt::Windows::Foundation::Uri requestUri{ requestURL };

	//Create buffer and init it with the fileData/fileLength suppli

[2019-03-05 00:46] jevansAN commented on #955
Steven,

	Thank you. The form you supplied below works fine in my class that uses a popup:

	m_popup.Closed([&](auto && ...)
	{
			//Do something
	});

	I believe I am too thick to comprehend the bit about EventHandler<T> . I don’t see a way to determine from the documentation of EventHandler<T> the nature of the arguments needed for the popup’s Closed event.
	However! I don’t need those arguments

[2019-03-05 01:24] BlueEmb3r opened #959 "How do I get a writable thumbnail?"
Every time I try to get the [WriteAsync](https://docs.microsoft.com/en-us/uwp/api/windows.storage.fileproperties.storageitemthumbnail.writeasync#Windows_Storage_FileProperties_StorageItemThumbnail_WriteAsync_Windows_Storage_Streams_IBuffer_) method, I get an exception that says my access is denied, and it's because I do not get a writable thumbnail, how do I get one?

[2019-03-05 02:29] stevewhims commented on #907
That's great info, thanks, Jeff! It seems like the trick was to apply the content disposition to the buffer (rather than the post) content, so I've changed the code in my topic to match that. Thanks for the update! :)

~Steve

[2019-03-05 03:00] stevewhims commented on #955
I realize that you said you don't need to know this, since you don't need the delegate arguments, but just in case you're curious and just in case it helps... :) (plus, the time might come when you do need the args)

So, you start at the API reference topic for the [Popup.Closed event](https://docs.microsoft.com/uwp/api/windows.ui.xaml.controls.primitives.popup.closed), and you see that the `// Re

[2019-03-05 17:49] jevansAN commented on #955
Thanks, Steven - I guess I can comprehend that.

Jeff

On Mar 4, 2019, at 7:00 PM, Steven White <notifications@github.com> wrote:

I realize that you said you don't need to know this, since you don't need the delegate arguments, but just in case you're curious and just in case it helps... :) (plus, the time might come when you do need the args)

So, you start at the API reference topic for the Pop

[2019-03-05 19:59] stevewhims commented on #955
My additions to [Handle events by using delegates in C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/handle-events) are live now. That essentially captures what we talked about in this thread. So, I'll go ahead and close this, but as always please reopen any time. ~Steve

[2019-03-05 19:59] #955 closed, assigned to jwmsft, stevewhims

[2019-03-06 00:56] michael-hawker commented on #786
@Tobi696 the XAML you provided works for me in XAML Studio.  What error are you getting in Visual Studio?  If you're on the latest VS version and getting this error still, it'd be good to use the `Report a Problem` link in the dropdown next to the Quick Launch box at the top-right of the IDE:

![image](https://user-images.githubusercontent.com/24302614/53847974-8fe76a00-3f67-11e9-8f36-48e162344b57

[2019-03-06 18:15] jevansAN opened #961 "Obsolete reference?"
What is described as the complete listing for this and other printing scenarios links to what is apparently an obsolete page, one no longer being updated, describing printing in a Javascript/HTML app. Could we  have a more complete description of the printing setup/flow as it would be accomplished in a C++/winrt app? Some sample code would be very useful. Thanks.

---
#### Document Details

⚠ *Do

[2019-03-07 01:26] jevansAN commented on #955
Steven - that link doesn’t work, but if it gets fixed I’ll certainly read it.

Don’t want to be overburdening MS, but I was just trying to enter a content comment on the page for the FlyoutBase Closed event and that page freezes up every time - tried it from a couple of different computers. I can enter a topic; it freezes on trying to enter a comment.

The Closed event is described as triggering w

[2019-03-07 03:33] stevewhims commented on #955
Hmm, that link works when I try it, and it looks well-formed. It goes to
https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/handle-events
or, without the language tag:
https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/handle-events

As for the FlyoutBase.Closed event, I just tried an experiment where I handle the Closed event of a MenuFlyout. I set a break point in my delegate

[2019-03-07 05:11] jevansAN commented on #955
Thanks as usual, Steven. There may be something tricky here:; I attach the menu flyout to a Button, and I set the Button’s click mode to Hover.  So when the mouse gets over the button the menu pops up. And if I set a breakpoint in the DoSomething that is called by the lambda responding to the flyout’s Closed event, the method is called the moment the moment the cursor gets over the button!

But I

[2019-03-08 02:36] stevewhims commented on #955
Yes, that does seem tricky. The issue with leaving feedback on topics is resolved now, so feel free to leave info on the topic for the event in question if you get further problems. Thanks for keeping me posted, I'm glad you worked around the behavior. ~Steve

[2019-03-08 18:17] michael-hawker opened #962 "No example for Custom ListViewItemPresenter"
This paragraph mentions doing 'something' for a custom ListViewItemPresenter:

&gt; For a custom ListViewItemPresenter, use the name of your class as the string within the object element syntax for XAML. You'll probably have to map an xmlns definition with a prefix to refer to your class definition. For more info, see XAML namespaces and namespace mapping.

However, it's not very clear what the in

[2019-03-09 10:09] AceLearnGit opened #963 "Restart my uwp failed by using this api"
After restarting the UWP using this API, the UWP restarts and then minimizes to the taskbar. The window cannot be displayed to the foreground, and the value of CoreWindow..ActivationMode is read as CoreWindowActivationMode.Deactivated. What is the reason why I can't show it to the front desk? How can I solve this problem?(My windows ver:1809, 17763. 195)

---
#### Document Details

⚠ *Do not edit

[2019-03-10 02:39] hhguijin commented on #720
I did the same thing but the program never reached the event handler of my own when I closed the app. Why?

[2019-03-10 11:50] MarcAnt01 opened #964 "There's no way to integrate proofing menu in a custom context menu"
If spell check isn't disabled it also displays over custom context menu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2572e9d9-0cfa-09e6-e537-83b806501e9c
* Version Independent ID: 83de1b98-bb45-efe7-8159-b62c0a007bfe
* Content: [TextBox.ProofingMenuFlyout Property (Windows.UI.Xaml.Controls) - Windows UWP applications

[2019-03-10 17:08] defaultshr opened #965 "Do we have any sample code for C++/CX for Windows.Networking.Vpn?"
[Is there any sample code or blog to clearly show the usage of VPN APIs? They will be very helpful.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54a47d2c-61a3-01b3-d0dc-73a4b7d5117f
* Version Independent ID: 4c713fb3-f086-5319-cf44-33346a7a14b7
* Content: [Windows.Networking.Vpn Namespace - Windows UWP applications]

[2019-03-11 10:55] tim-weis opened #966 "Cannot use IBufferByteAccess from robuffer.h in a C++/WinRT project"
The purpose of the `WriteableBitmap` type is to allow user code to modify bitmap content in-place. The prescribed steps to gain access to the bitmap buffer (by querying for the `IBufferByteAccess` interface on the `IBuffer`) doesn't appear to be a workable solution for C++/WinRT projects. Any attempt to `#include <robuffer.h>` (which defines the `IBufferByteAccess` type) causes the compiler to emi

[2019-03-11 15:22] punkrock4dadz opened #967 "someone plz call the psychward adn tell them im not crazy"
everyone thinks im crazy becuase i have assholes hacking me with uwp tools and pushing it all over via wifi-direct or bluetooth. This shit has literally ruined my life. i completely stopped using windows and i just use linux because of it. although now im prescribed ptsd meds and a brash of other psychotropics to keep from killing myself. So please excuse my language when i say FUCK YOU.

---
####

[2019-03-11 18:54] JuanMejiaVelez opened #968 "AutomationProperties.LabeledBy link is broken."
In this content the in the section Property Value, there is a link to AutomationProperties.LabeledBy which leads to a page that does not exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7532c5b1-207e-9122-f473-9d8821e6b592
* Version Independent ID: 885408f3-7981-5ac1-0563-d569b96e4ec1
* Content: [AutomationProper

[2019-03-11 18:57] JuanMejiaVelez opened #969 "None of the properties is documented"
All the properties for AutomationProperties are missing in this documentation. only the attached properties exists. Although, there are multiple references to the properties but all lead to 404 error pages. Please, fix this and provide code samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b19312-d5aa-8024-9009

[2019-03-11 21:12] jevansAN opened #970 "Example needed"
What we really could use would be a clear example of a printing request carried through to completion - but not in HTML/Javascript. Something in C++/winrt would be best.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf04a641-46e1-73a7-badc-f9d81186426b
* Version Independent ID: acd8c7aa-fd74-85d6-084e-6d6df1ad3349
* C

[2019-03-11 21:49] knicholasa commented on #963
Hi! Feedback left here is meant for improvements to the documentation you're commenting on. However, there are some other resources you can use. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Ot

[2019-03-11 21:49] #963 closed, assigned to knicholasa

[2019-03-11 23:14] YuliKl opened #971 "Link goes to 404 error"
The SelectionFollowsFocus link is broken. Should go to https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.navigationview.selectionfollowsfocus#Windows_UI_Xaml_Controls_NavigationView_SelectionFollowsFocus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb5d9ab5-9358-bc88-a404-30c8c13d283f
* Version Indepe

[2019-03-12 01:45] jevansAN opened #972 "Error in qualified name?"
The above-mentioned winrt::Windows::UI::Xaml::Printing::PrintDocument is not accepted as a fully qualified name in VS 2019. Is this an error of documentation or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7180a61-64f8-430b-9874-1f37d3016cc7
* Version Independent ID: 4b66541c-b372-05ae-7396-c03adabfc

[2019-03-12 03:02] stevewhims commented on #965
Hi, @defaultshr, thanks for filing this issue.

[C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/index) is our recommended replacement for the C++/CX language projection, and for the Windows Runtime C++ Template Library (WRL). We don't provide sample code for every API, but the fact that you're asking in this case means that there's a demand, so I'll take that into account wit

[2019-03-12 11:10] defaultshr commented on #965
Thank you for the clarification. Yes, I would certainly appreciate a sample
code for Windows::Networking::Vpn using C++/WinRT.

~Shrini

On Tue, Mar 12, 2019 at 8:32 AM Steven White <notifications@github.com>
wrote:

[2019-03-12 11:35] tomasjiricek opened #973 "Events in JavaScript"
When trying to add listeners for JavaScript I found out events should be lowercase not camelCase.
"enteredBackground" never gets triggered. If you want to listen to it, you'll have to listen to "enteredbackground". Same for the other events (leavingBackground etc).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c748a2

[2019-03-12 17:55] jevansAN commented on #955
Steven,

	Since you’ve been a big help I’ve posted another issue, this one relating to the docs for Printing.

The docs at https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Printing.PrintDocument seem to have an incorrect namespace for PrintDocument. It is described, for C++/winrt, as winrt::Windows::UI::Xaml::Printing::PrintDocument, but that is not accepted by VS2019 4.1 and Intellisense

[2019-03-12 19:02] saadataz opened #974 "Xbox UWP app"
For clarification, Prelaunch is not available for Xbox UWP app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dab608fa-1552-c653-f71b-0daa592d3d01
* Version Independent ID: 31e7b28a-6d4b-2cb8-10f4-bd934f4cbf8f
* Content: [CoreApplication.EnablePrelaunch(Boolean) Method (Windows.ApplicationModel.Core) - Windows UWP appl

[2019-03-12 19:49] stevewhims commented on #966
Hi, @tim-weis, thanks for filing this issue. I've updated the topic(s) as a result of this feedback. You're right that robuffer.h's definition of IBufferByteAccess is problematic if you have `using namespace winrt` in your project (which is default, and common). To use the IBufferByteAccess COM interface, you can either a) avoid `using namespace winrt` and include robuffer.h, or b) define the IBuf

[2019-03-13 11:35] AliveDevil opened #975 "ToastNotification.Tag Property setter has undocumented exceptional cases"
The `Tag` property on `ToastNotification` throws Exceptions on setting its value to either
* `null`
* `""` (or `string.Empty`).

This behavior in the setter is not described and must be added to the documentation as this is a critical information which must not be omitted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-03-14 00:02] stevewhims commented on #972
Hi, @jevansAN, fyi these work for me with the latest publicly available Visual Studio, and the latest publicly released SDK (17763).

[code]

OR

[code]

[2019-03-14 00:02] stevewhims commented on #955
Thanks, @jevansAN, I've replied to the GitHub issue on that topic. ~Steve

[2019-03-14 02:11] jevansAN commented on #972
Thanks much - normally I avoid putting #includes into header files, but I see you are correct; I can declare a document in the class header as winrt::Windows::UI::Xaml::Printing::PrintDocument m_print_document if I #include <winrt/Windows.UI.Xaml/Printing.h> as you describe.  Great to have that out of the way.

[2019-03-14 17:44] tim-weis commented on #966
Thanks for the feedback, @stevewhims. Very helpful indeed, and much appreciated.

I was immediately sold on the `data()` helper, only to find out, that it is defined on the `consume_Windows_Storage_Streams_IBuffer` type, living a hidden life in the `winrt::impl` namespace. It is undocumented, too, presumably for that reason.

The ultimate solution I went for was to write my own helper function, is

[2019-03-14 19:38] stevewhims commented on #966
I've updated the topic again, so I may have addressed this in the process. But, I don't understand this feedback well enough to map it to the specific content that I may have lost previously: "Information on the availability of the IBufferByteAccess type in that header file is gone from the documentation after the update, though. It may be helpful to keep that information around."

In any case, if

[2019-03-14 21:03] stevewhims commented on #972
Right, if you want an instance of PrintDocument in MyClass.h, then you can put the include in MyClass.h. If you only want it in MyClass.cpp then you can put the include in MyClass.cpp. But (recommended) in both cases you can instead put the include in your pch.h so that you benefit from faster compiles (as long as you're not changing the pch.h).

Another point of interest (which is only incidental

[2019-03-14 21:25] jevansAN commented on #972
Good information, thanks.

Jeff

On Mar 14, 2019, at 2:03 PM, Steven White <notifications@github.com> wrote:

Right, if you want an instance of PrintDocument in MyClass.h, then you can put the include in MyClass.h. If you only want it in MyClass.cpp then you can put the include in MyClass.cpp. But (recommended) in both cases you can instead put the include in your pch.h so that you benefit from fa

[2019-03-14 21:31] stevewhims commented on #972
Cool, I'll go ahead and close this one. Thanks, Jeff! ~Steve

[2019-03-14 21:31] #972 closed, assigned to stevewhims

[2019-03-15 09:38] julienshepherd opened #976 "Navigated and Navigating events"
When you call SetNavigationState, will the Frame fire the Navigating and Navigated events, in addition to calling the OnNavigatedTo for the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53e2c721-8072-6bb1-80ab-b28fae5dff06
* Version Independent ID: a2dd3d25-f7f8-1ac8-8c79-5fc5e2de108c
* Content: [Frame.SetNaviga

[2019-03-15 11:57] wldevries opened #977 "Missing type ImageLoaderFactory"
&gt;  _imageLoader = ImageLoaderFactory.CreateImageLoader(_compositor);

`ImageLoaderFactory` does not seem to be part of `Windows.UI`. This is the only page that mentions it or its method `CreateImageLoader`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbe5d78-0557-a885-ab4a-703200c18546
* Version Independent ID:

[2019-03-15 23:41] stevewhims commented on #965
Great, that's good to know! So, then, I'd still advise that you use the main [C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/index) documentation for coding techniques, info, and guidance. There's plenty of code examples in there showing all kinds of techniques. And there's [C++/WinRT API reference content](https://docs.microsoft.com/uwp/cpp-ref-for-winrt/winrt), too. As I sa

[2019-03-16 03:12] defaultshr opened #978 "Methods to set SPI and symmetric encryption key for UDP encapsulated IPSec channel"
Dear Microsoft support,
I am looking for interfaces to set SPI (security parameter index) and symmetric encryption key for the IPSec channel from my application code itself by avoiding IPSec key-exchange.

Is there a way available in the Vpn UWP interfaces? I tried searching through. But, didn't find one.

Appreciate your answers.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-03-17 16:36] defaultshr commented on #965
Thank you Steve, in fact I posted another specific query on the thread
regards to Vpn. Basically, I am looking for using IPSec over UDP sockets.
My VPN client and server application shall generate the SPI and symmetric
encryption key by itself and made known to each other using non-IPSec
methods.
I was trying to find a way to set SPI and symmetric encryption key on to
the channel VPN profiles (one

[2019-03-17 19:14] ohyeahfanfan opened #979 "Ask more details"
"If the Registry can't be read for any reason, SystemFirmwareVersion returns an empty string."
Can we add more detail about the *any reason*? eg: UWP app are not allow to read Register API  or another linked page to explain more

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f26a415-cc65-f721-9a93-48031bd72c27
* Versi

[2019-03-18 14:58] timali opened #980 "UWP SerialDevice Unpredictable Read Behavior"
The UWP SerialDevice class currently only allows you to set "ReadTimeout", which under the hood, sets the "ReadIntervalTimeout" of the actual serial device (https://docs.microsoft.com/en-us/windows/desktop/api/winbase/ns-winbase-_commtimeouts). There are two other timeout values which dramatically affect the read operations behavior: 1) ReadTotalTimeoutMultiplier and 2) ReadTotalTimeoutConstant.

[2019-03-18 21:17] knicholasa commented on #959
Thanks for reaching out. Comments left here are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise,

[2019-03-18 21:21] knicholasa commented on #958
Thanks for leaving your feedback. The code snippets on this page are part of a broader code sample, you can find the required includes in [the complete sample code](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/FilePicker). I'm going to update this page to point to that updated sample and I'll add a note about this to the page.

[2019-03-18 21:35] knicholasa commented on #974
Hello! Thanks for your feedback. I've reached out to the team that owns this feature to ask about updating the page.

[2019-03-18 21:35] #974 closed, assigned to knicholasa

[2019-03-19 04:40] jradd opened #981 "I'll git right on that"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33de5df2-ede4-662a-d13f-c9cea70c6649
* Version Independent ID: 03f07784-1e3c-f563-8f4c-b03afac80d46
* Content: [RevocationAndRenewalInformation Class (Windows.Media.Protection) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windo

[2019-03-19 08:20] benstevens48 commented on #606
This would be very useful. Especially for classes derived from UIElement/FrameworkElement as it's very difficult to see what the unique properties are.

[2019-03-19 08:23] benstevens48 commented on #815
It should be a priority to show the minimum supported version for events as it's very easy to write code which will crash otherwise and it's not that easy to test on older platforms.

[2019-03-19 12:50] wolfgangschneider commented on #514
Hi
We have following Use case:
We are developing an Tablet Kiosk App (Assigned access). The user needs the ability to change the brightness, therefor we add an Slider control to change the brightness. How can I set the slider  initial value , to the current brightness. (It worked proper bevor 1803)

[2019-03-19 16:58] Karl-Bridge-Microsoft commented on #327
Hi @JeremyFerreira - There is no snippet in the specified topic. Please reopen issue with valid link. Thanks.

[2019-03-19 16:58] #327 closed, assigned to Karl-Bridge-Microsoft

[2019-03-20 02:37] stevewhims commented on #965
Hi, @defaultshr. Yes, I see that other GitHub issue. So, I'll go ahead and work with you on that other issue in that other thread. As for this thread, which is about C++/WinRT code examples, I'll go ahead and close it for now. So, we'll work on the other issue in the other thread; and, if you have any specific C++/WinRT questions, then please open a new issue on whichever topic is relevant.

Thank

[2019-03-20 02:37] #965 closed, assigned to stevewhims

[2019-03-20 02:42] stevewhims commented on #978
Hi, @defaultshr, thanks for filing this issue. If there's a gap in the documentation then I'll be keen to fill that. However, I've taken your question and I've written to the product team, since I'm unable to answer it myself. I'll let you know what response I get from them, and if the docs need updating then I'll do that.

Incidentally, this is not Microsoft Support. When you leave a GitHub issue

[2019-03-20 05:39] defaultshr opened #983 "Sample application code utilizing plugin facility"
Could you kindly make available a sample code with either C++/CX or C++/WinRT and make available for reference implementation.

I tried coding for a plugin and invoked VpnChannel::ProcessEventAsync() from background task's run method by passing the same plugin. But, I do not see plugin's connect() method being invoked. BTW, my manifest.xml has rescap for Vpn capability added. Any help will be appr

[2019-03-20 06:44] defaultshr opened #984 "Event object which can trigger the plugin "connect" method"
I invoke this API by passing a Vpn plugin object reference from a background task's run method. However, I do not get "Connect" method invoked on the plugin.

What specific event object does the ProcessEventAsync method expect to kick start the Vpn Plugin's connect method. Appreciate your response.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-03-20 06:55] AceLearnGit opened #985 "WebView shake when page navigated"
I use webview in a page, when i navigate  from this page or navigagte to this page, the webview(or the content in webview) shaked, it makes user very uncomfortable, and i found no idea from document why webview shaked when page navigation fired

[2019-03-20 07:07] AceLearnGit commented on #837
I have not add D:// to Pictures library, but i noticed that it's possible Photos App make this.
Here are my steps:
1. open Photos App
2. Setting - Sources- Add a folder
if add D:// to Sources of Photos App, I will get files in D:// by  Code:

var folder = KnownFolders.PicturesLibrary;
var picturesLibraryFiles = await folder.GetFilesAsync(Windows.Storage.Search.CommonFileQuery.OrderByDate);

Does s

[2019-03-20 18:16] jevansaks commented on #964
@MarcAnt01 are you looking for clarification on the docs or reporting a bug? If you think this is a bug, please file an issue over at https://github.com/Microsoft/microsoft-ui-xaml and include more details about the repro. Thanks!

[2019-03-20 18:49] MarcAnt01 commented on #964
Thanks, as it is a bug, I'll report the right repository. Cannot attach repro steps, as I am not a developer and haven't worked personally on implementing this stuff

[2019-03-20 19:09] jevansaks commented on #964
Sorry, I'm confused exactly about what is being reported. Since you're not a developer does that mean you're seeing a problem with the proofing menu in an application you're using?

[2019-03-20 19:28] MarcAnt01 commented on #964
Proofing menu is provided by Windows and covers custom context menu

[2019-03-20 19:29] MarcAnt01 commented on #964
@FrayxRulez is a developer and maybe he can explain things better

[2019-03-20 22:04] saf-itpro opened #986 "This method is returning NULL for packages installed by default on Windows 10."
As posted below. The method is returning NULL for packages installed by default on Windows 10. What could be a reason?

https://stackoverflow.com/q/55270248/1232087

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad2072a-e249-6d75-7770-8e9f05917f63
* Version Independent ID: 36891e06-dd39-14fb-8559-5bbf6e4f7574
* Conten

[2019-03-21 10:16] defaultshr commented on #984
I think I get this issue resolved. Basically manifest need to have task extensions present as follows. Refer [ uap:Task Type="vpnClient" ] in the following content, which is the key.

      <Extensions>
        <Extension Category="windows.backgroundTasks" Executable="BackgroundTask.exe" EntryPoint="Tasks.SampleBackgroundTask">
          <BackgroundTasks>
            <uap:Task Type="vpnClient" />

[2019-03-21 10:16] #984 closed, assigned to stevewhims

[2019-03-21 10:27] defaultshr commented on #983
I am able to now hit plugin's connect method by creating new "VPN Connection" in the system's VPN settings. However, channel->StartWithMainTransport(…) invocation throws exception ("The operation was cancelled by user") on Visual Studio.
On the system's VPN settings following error is seen - "remote access service ip configuration is unusable"

However, I think I am passing correctly v4 and v6 add

[2019-03-21 14:59] martinsuchan opened #987 "Strange comment in documentation"
When using `AdvertisingManager.AdvertisingId` in Visual Studio when coding, it shows some cryptical message that probably should not be there, see the attached screenshot.
Expected behavior, show proper documentation for this property in Visual Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6697dd2-4e73-f2d9-2

[2019-03-21 15:00] martinsuchan commented on #987
Here's the screenshot.
This happened to me in Visual Studio 2019 RC3.
![D2Lj4APWwAMAZni](https://user-images.githubusercontent.com/3041397/54761440-63338380-4bf2-11e9-931b-53b070fdd04a.png)

[2019-03-21 17:29] jevansaks commented on #951
Thanks for reporting! We are tracking this over in Microsoft/microsoft-ui-xaml#424.

[2019-03-21 17:29] #951 closed, assigned to jwmsft

[2019-03-21 21:21] stevewhims commented on #984
Thanks for the update, @defaultshr! ~Steve

[2019-03-21 22:42] ginami commented on #985
Hi @AceLearnGit -- can you give me the URL for the doc where you expected to find this information? This will help me route your question to the correct author. Thank you!

[2019-03-22 09:56] AceLearnGit commented on #837
I have not add D:// to Pictures library, but i noticed that it's possible Photos App make this.
Here are my steps:

open Photos App
Setting - Sources- Add a folder
if add D:// to Sources of Photos App, I will get files in D:// by Code:
var folder = KnownFolders.PicturesLibrary;
var picturesLibraryFiles = await folder.GetFilesAsync(Windows.Storage.Search.CommonFileQuery.OrderByDate);

Does steps ab

[2019-03-22 15:26] AceLearnGit commented on #985
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.webview
This the doc of webview. I  find api of webview there.
When navigate to or from page  that contains webview ctrl ,the content in webview shaked
I think it’s a bug of webview, so i want somebody of microsoft fix it.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Gi

[2019-03-22 18:14] jevansaks commented on #985
Do you have a repro app that we could try? Is there a video of the "shake" that we could look at? It's not clear from the description what the problem is.

[2019-03-22 18:16] jevansaks commented on #929
Great feedback. We should definitely use layout properties here to position.

[2019-03-22 18:19] jevansaks commented on #898
The link seems to be working now, can you try again?

[2019-03-22 18:19] #898 closed, assigned to jwmsft

[2019-03-22 18:54] jevansaks commented on #896
Thanks for reporting, we'll fix this!

[2019-03-22 18:55] jevansaks commented on #896
Fixed, should be live in a couple days.

[2019-03-22 18:55] #896 closed, assigned to jwmsft, jevansaks

[2019-03-23 10:09] ScottIsAFool commented on #586
*bump* just noticed this issue has still not been resolved and the issue is still present.

[2019-03-23 15:30] EddieLotter opened #988 "Markup error in the See Also section"
A markup error in the See Also section is preventing a link from being clickable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28945089-32b1-c441-1d5a-166421ad1e4d
* Version Independent ID: 74739713-33de-0a45-b47a-a60b30a0d24c
* Content: [FileOpenPicker.FileTypeFilter Property (Windows.Storage.Pickers) - Windows UWP

[2019-03-25 07:44] moyanming opened #989 "How to speech and not speech the punctuation?"
Hi,
Why the punctuation is not speech by default? Is there method can be used for set the TTS to speech and not speech the punctuation?
For example, the '(', ')', ',', '-', '.', '/', etc. are all can't speech in German TTS.
How to fix this problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d584af5-1efc-1150-d7fe-

[2019-03-25 15:07] werwolfby opened #990 "Custom URI schema length issue"
I can't find any documentation of URI lengths.

Because on Windows 10 version 1607 the limit is 2083 symbols, I still can pass more, but it will be truncated to 2083. Starting from 1709 the limit is 32768 what is expected because it is limit for URI itself. I wasn't able to test on 1703.

Should we add this limits to doc as well?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-03-25 17:14] jevansaks commented on #200
@stmoy can you help update the docs?

[2019-03-25 17:23] jevansaks commented on #314
@stmoy is this your area?

[2019-03-25 17:25] jevansaks commented on #331
@mijacobs this seems like a doc system issue -- If you choose C++/CX then you see Platform::String. But this API isn't special. I'm not convinced that hyperlinking primitive types is right, but you guys should take a  look.

[2019-03-25 17:34] jevansaks commented on #275
Appears to be fixed now.

[2019-03-25 17:34] #275 closed, assigned to jwmsft, jevansaks

[2019-03-25 19:31] #981 closed, assigned to drewbatgit

[2019-03-26 07:06] defaultshr commented on #983
I am able to resolve the exception. For some reason the PPP network adapter created for above VPN had IP assigned automatically from 169.254... range. I don't know the reason for same. However, after creating the new VPN configuration, the API worked without any exception.

However, I will leave this issue open for tracking the need for sample application code for writing VPN applications.

[2019-03-26 16:51] #285 closed, assigned to jevansaks

[2019-03-26 17:20] #314 closed, assigned to jesbis, jwmsft, stmoy

[2019-03-26 23:26] metathinker opened #994 "Document when Windows.System.LauncherOptions.TargetApplicationPackageFamilyName property is required to be set"
The documentation page for the above-named [TargetApplicationPackageFamilyName property of the Windows.System.LauncherOptions data record](https://docs.microsoft.com/uwp/api/windows.system.launcheroptions.targetapplicationpackagefamilyname) states that it is optional. This is not always true.

That is, in some cases, when you call Windows.System.Launcher static methods to launch an app associated

[2019-03-27 04:25] spectecjr opened #995 "Error cases are not documented"
Can at a minimum throw an ERROR_NOT_FOUND exception under some circumstances. May be other error cases which are undocumented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 174822cd-3049-c830-8584-534a5dddbae3
* Version Independent ID: de79c874-9f5f-f627-2104-e4dfeb35b1ce
* Content: [StoreContext.GetAppLicenseAsync Me

[2019-03-27 05:59] Lion-HC opened #996 "How can I get the AllContactsReadWrite level of access?"
Hi, I'm wondering:
1. What steps must be done to use the AllContactsReadWrite level of access in production?
2. Can the AllContactsReadWrite level of access be used in development? Is there specific Capability needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd5d392-d1cd-0686-3b24-2a7ae57b8c41
* Version Independ

[2019-03-27 17:16] jevansaks commented on #345
If the APIs don't work in the app constructor then we should recommend a better place to do it (e.g. OnLaunched). We'll try to clarify in the docs.

[2019-03-27 17:20] jevansaks commented on #371
Yes, this was a mistake in the API. In 1809 (17763) we added the InvokedItemContainer property to let you get the container to read more state from the clicked item (e.g. Tag) for navigation. Please give that a try?

[2019-03-27 17:20] #371 closed, assigned to jwmsft

[2019-03-27 17:26] jevansaks commented on #374
This issue is old so this may have been fixed, but can you be more specific? I chased a bunch of the links to samples and they all worked for me.

[2019-03-27 17:26] #374 closed, assigned to jwmsft

[2019-03-27 20:17] jesbis commented on #348
This was addressed by ade0226

[2019-03-27 20:49] #348 closed, assigned to jesbis, jwmsft

[2019-03-28 17:43] jevansAN opened #998 "Can a CanvasVIrtualControl serve as a pageVisual?"
When trying to print content of a CanvasVirtualControl it doesn't seem to work as a UIElement for AddPage. Is it possible to use a CanvasVirtualControl as an argument for PrintDocument.AddPage? If not, is there any documentation available on printing a CanvasVirtualControl?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-03-29 02:02] stevewhims commented on #983
Thanks for the update, @defaultshr! ~Steve

[2019-03-29 06:13] BarryWangMSDN opened #999 "USB device class property usage issue on Docs"
Link back to here: https://social.msdn.microsoft.com/Forums/windowsapps/en-US/9312e45b-da84-4d79-a4fc-79bf4a89a36e/usb-device-class-property-usage-issue-on-docs?forum=wpdevelop
currently there is no Class/SubClass properties under UsbDeviceClass, but only ClassCode/SubclassCode so the correct working codes should look like this:

byte deviceClassCode = 0xf0;

byte deviceSubclassCode = 0x01;

UsbDe

[2019-03-29 12:27] KalleOlaviNiemitalo opened #1000 "Hyperlink from IAsyncAction to AsTask redirects to wrong topic"
".NET has the [AsTask](https://msdn.microsoft.com/library/hh779334) extension method" redirects to <https://docs.microsoft.com/en-us/dotnet/api/system?redirectedfrom=MSDN>, which redirects to [System Namespace | Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/api/system?redirectedfrom=MSDN&view=netframework-4.7.2), from where it is not easy to find `AsTask`. Please link to [WindowsRuntimeS

[2019-03-29 18:25] jevansaks commented on #399
Agree, this is very confusing because TextBlock.TextReadingOrder's default is not TextReadingOrder.Default. We should probably make it clear in the docs that Default shouldn't be used anymore.

[2019-03-29 18:27] jevansaks commented on #408
@jesbis In general, XAML objects need to be constructed on the UI thread. Do people expect that this one is special, maybe?

[2019-03-29 18:35] jesbis commented on #408
WinRT Xaml types have UI thread affinity, though that can be confusing sometimes because they're technically marked MarshalingBehavior=Agile and Threading=Both. However, there's nothing special about WriteableBitmap in that regard.

An overview of the threading model for DependencyObject and how to use the Dispatcher to access objects from another thread is available here:

https://docs.microsoft.

[2019-03-29 18:37] #408 closed, assigned to jesbis, jwmsft

[2019-03-29 18:49] jesbis commented on #375
SvgImageSource doesn't support dynamically changing colors. You would need to create different files, or you could potentially load the file into an in-memory stream and update its contents before loading it into an SvgImageSource.

This seems like a reasonable idea for a new feature: please feel free to open a new feature suggestion for the Xaml platform in the Windows UI Library repo:
https://gi

[2019-03-29 19:11] #375 closed, assigned to jesbis, jwmsft

[2019-03-29 19:56] stmoy commented on #200
I've updated the [EasingDoubleKeyFrame doc](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Media.Animation.EasingDoubleKeyFrame).

[2019-03-29 19:59] #200 closed, assigned to jwmsft, stmoy

[2019-03-29 21:56] #661 closed, assigned to knicholasa

[2019-03-29 21:57] knicholasa commented on #819
The issue has been logged and hopefully a fix will come soon. Closing the issue for now.

[2019-03-29 21:57] #819 closed, assigned to knicholasa

[2019-03-29 22:05] #959 closed, assigned to knicholasa

[2019-03-29 22:08] stevewhims commented on #907
I'll go ahead and close this issue now, since we got it resolved. ~Steve

[2019-03-29 22:08] #907 closed, assigned to stevewhims

[2019-03-29 22:12] stevewhims commented on #942
Hi, @jevansAN, we resolved this issue, so I'll go ahead and close it. Thanks! ~Steve

[2019-03-29 22:12] #942 closed, assigned to jwmsft, stevewhims

[2019-03-29 22:13] stevewhims commented on #954
Hi, @jevansAN, we resolved this one, so I'll go ahead and close it. Thanks! ~Steve

[2019-03-29 22:13] #954 closed, assigned to jwmsft, stevewhims

[2019-03-29 22:26] stevewhims commented on #957
This one's resolved, so I'll go ahead and close it. Thanks! ~Steve

[2019-03-29 22:26] #957 closed, assigned to jwmsft, stevewhims

[2019-03-29 22:28] stevewhims commented on #966
Hi, @jevansaks, I'll go ahead and close this issue now since it feels resolved. ~Steve

[2019-03-29 22:28] #966 closed, assigned to jwmsft, stevewhims

[2019-03-29 23:53] knicholasa commented on #988
Thanks for catching that! Fixing it now.

[2019-03-29 23:53] #988 closed, assigned to knicholasa

[2019-03-30 00:16] knicholasa commented on #996
Hi, thanks for reaching out with your feedback. Comments left here are meant for documentation feedback, and unfortunately we cannot provide technical support here. The pages lists "contactsSystem" in the capabilities section of the "Windows 10 requirements" table, so it's likely that that capability is required, but I'd encourage you to reach out to our developer support channels to reach someone

[2019-03-30 07:51] Lion-HC commented on #996
Thank you very much!
xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
<rescap:Capability Name="contactsSystem"/>
does work.

[2019-03-30 12:10] bkrauth opened #1001 "wrong namespace"
in UWP, the namespace: should be System.ComponentModel, not Windows.UI.Xaml.Data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e72e60f-6e5e-05c9-fce2-9f77407c29a7
* Version Independent ID: 69ff2813-b9ab-fcc5-47e0-d38a96ad730e
* Content: [INotifyPropertyChanged Interface (Windows.UI.Xaml.Data) - Windows UWP applicatio

[2019-03-30 23:55] jevansaks opened #1002 "Link to "FocusManager" in remarks section is broken"
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.gotfocus#remarks. FocusManager URL goes to https://docs.microsoft.com/en-us/uwp/api/focusmanager.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f84c5c4-7431-d2db-0890-7e9df7680bf6
* Version Independent ID: cc598142-d050-8f42-4ef8-44fb7baa19a3
* Conten

[2019-03-31 15:15] intruder01 opened #1003 "What is the time unit of this interval?"
I did not see the unit defined in the description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 514975f3-09f7-a810-edac-f12ffc312868
* Version Independent ID: ebb1a570-954a-a240-4229-ee472bbf7315
* Content: [GpioPin.DebounceTimeout Property (Windows.Devices.Gpio) - Windows UWP applications](https://docs.microsoft.com

[2019-03-31 23:26] dlech opened #1004 "Link to list of data type ids"
It would be nice to have a link to https://www.bluetooth.com/specifications/assigned-numbers/generic-access-profile on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc00437f-a6a4-ceae-a96d-d7b539dc9e9f
* Version Independent ID: 77520eb0-ecc7-938e-4252-7b5919658f0a
* Content: [BluetoothLEAdvertisementDataSec

[2019-04-01 00:31] EddieLotter commented on #441
I have created an entry in User Voice for this.
Please vote on it if you agree it needs to be done.
See: [https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37249801-the-selectednodes-property-for-single-select-treev](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37249801-the-selectednodes-property-for-single-select-treev)

[2019-04-01 17:19] jevansaks commented on #420
Agreed, maybe this meant to go to https://docs.microsoft.com/en-us/windows/uwp/design/layout/?

[2019-04-01 17:21] jevansaks commented on #441
Thanks, we are tracking this as a product bug is Microsoft/microsoft-ui-xaml#124.

[2019-04-01 17:21] #441 closed, assigned to jwmsft

[2019-04-01 17:24] jevansaks commented on #447
We should just cross-link to this doc: https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font

[2019-04-01 17:25] jevansaks commented on #452
@jwmsft can you fix the links for these constructors? Maybe, like enums, there's no way to hyperlink to a specific constructor?

[2019-04-01 20:55] YuliKl commented on #445
@MadafakinRio - DisplayMode is indeed read-only and we'll fix the documentation. You can use [PaneDisplayMode](https://docs.microsoft.com/uwp/api/microsoft.ui.xaml.controls.navigationview.panedisplaymode) instead.

[2019-04-01 21:27] #445 closed, assigned to YuliKl, jwmsft

[2019-04-01 22:21] knicholasa commented on #996
Great! Glad that was helpful.

[2019-04-01 22:21] #996 closed, assigned to knicholasa

[2019-04-01 22:28] jwmsft commented on #1002
I've pushed an update for the link. Thanks

[2019-04-01 22:28] #1002 closed, assigned to jwmsft

[2019-04-01 22:37] jwmsft commented on #1001
@bkrauth , thanks for the feedback. This is the correct namespace when using C++ and XAML. The .NET language projection uses System.ComponentModel, and this is noted both in the description and in the remarks.

[2019-04-01 22:37] #1001 closed, assigned to jwmsft

[2019-04-02 17:03] micahl commented on #458
@jwmsft, is there any way to have this issue auto-close once the updated docs go live?  I don't have perms to close this issue.

[2019-04-02 17:05] jevansaks commented on #465
And the SkewTransform doc has no images.

[2019-04-02 17:07] jevansaks commented on #479
Add is a .NET only projection thing and I don't know the right way to fix the hyperlink to it. @jwmsft can you help?

[2019-04-02 17:09] jevansaks commented on #534
The API version doesn't seem to be on any Properties/Methods/Events  when I was clicking around. It was appearing on the root class docs though. @mijacobs  can you help?

[2019-04-02 17:12] jevansaks commented on #549
I will follow up and turn this into a feature request in the Microsoft/microsoft-ui-xaml repo.

[2019-04-02 17:17] jevansaks commented on #570
@sjb-sjb these sound like bugs or feature requests. Can you open them on https://github.com/Microsoft/microsoft-ui-xaml/issues ?

[2019-04-02 17:17] #570 closed, assigned to jwmsft

[2019-04-02 17:25] jevansaks commented on #549
Now tracked as a feature proposal on microsoft-ui-xaml.

[2019-04-02 17:25] #549 closed, assigned to jevansaks

[2019-04-02 18:08] mijacobs commented on #534
Forwarded to docs engineering.

[2019-04-02 21:47] mijacobs commented on #534
Filed a work item to track, closing the issue.

[2019-04-02 21:47] #534 closed, assigned to jwmsft, mijacobs

[2019-04-03 00:17] marb2000 commented on #399
Agree. Adding some clarifications and sending a PR.

[2019-04-03 10:49] dmitriy-proskurin commented on #945
May be someone can say something about that?

[2019-04-03 15:33] AceLearnGit commented on #985
Sorry reply late, just see this video, shows webview ctrl in Xaml Control Gallery develpoed by ms, when I click other menu to navigate to other pages , the webview shaked. In my video ,7-8s and 11-12s shows the problem.
发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Jevan Saks <notifications@github.com>
发送时间: Saturday, March 23, 2019 2:1

[2019-04-03 16:14] Karl-Bridge-Microsoft commented on #945
Hi @dmitriy-proskurin , thanks for the feedback. As this is product feedback and not documentation feedback, I suggest you revisit the page and submit your feedback using the "This product" button. Your feedback should then be routed to the feature team for consideration.

[2019-04-03 16:14] #945 closed, assigned to Karl-Bridge-Microsoft

[2019-04-03 17:13] jevansaks commented on #985
@acelearngit I think you tried to attach the file to your email but that didn't get attached to the github issue. Please go to https://github.com/MicrosoftDocs/winrt-api/issues/985 to continue the discussion and attach your file there. Thanks!

[2019-04-03 17:59] knicholasa commented on #956
Thanks for reaching out with your feedback. Comments left here are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/que

[2019-04-03 17:59] #956 closed, assigned to knicholasa

[2019-04-03 19:13] YuliKl commented on #447
This document has been updated.

[2019-04-03 19:13] #447 closed, assigned to YuliKl, jwmsft

[2019-04-03 21:44] knicholasa commented on #948
Hi Mike, thanks for the feedback. How about I add this to the remarks section of the page:

When **ExtendViewIntoTitleBar** is true, the view's content will extend by **CoreApplicationViewTitleBar.Height** into the title bar region. The region will still be treated like a title bar, meaning you can still drag the window with it, double-click to maximize, and right-click to bring up the system menu

[2019-04-03 21:53] knicholasa commented on #947
Thanks for bringing this to my attention. I'll investigate and fix the links on this page.

For support with your issue I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the developer support page](https://developer.microsoft.

[2019-04-04 02:37] MikeHillberg commented on #948
Looks great, thanks!

[2019-04-04 11:43] defaultshr commented on #983
Hi Steve, Managed to get sample working VPN application in github. If possible, Microsoft engineering support team may however post a better application as I am not an expert Windows programmer.

C++/CX code base for reference in following place:
https://github.com/defaultshr/UWPVPNPluginSample

You may however close the ticket if you feel appropriate OR keep it open for better sample application.

[2019-04-04 11:49] defaultshr opened #1006 "Additional note about subnet address and subnet mask arguments."
The subnet address must match with the subnet mask provided. I.e. if we provide 10.1.1.1 with subnet mask as 24 assuming interface will treat it as equivalent to 10.1.1.0, it doesn't. The constructor OR even the StartWithMainTransport or other Start methods of the VPN Channel don't throw an exception. However, route does not get added and functionality does not work as expected.

Therefore, you ne

[2019-04-04 11:56] defaultshr commented on #978
This is not a relevant issue for the programming model supported by UWP VPN framework to develop a custom VPN implementation.

One may refer https://github.com/defaultshr/UWPVPNPluginSample for a sample application code to write custom VPN plugin. The SPI/Encryption keys are in the scope of the custom plugin and not in the UWP framework.

[2019-04-04 11:56] #978 closed, assigned to stevewhims

[2019-04-04 15:14] AceLearnGit commented on #985
Here is the video
[webviewbug.zip](https://github.com/MicrosoftDocs/winrt-api/files/3044158/webviewbug.zip)

[2019-04-04 17:28] jevansaks commented on #582
@mijacobs can you help route this to the appropriate engineering team?

[2019-04-04 17:30] jevansaks commented on #583
This is a great feature request. We are asking customers to request features via our github: https://github.com/Microsoft/microsoft-ui-xaml/issues/new/choose.

[2019-04-04 18:12] toxsedyshev commented on #318
Are there any clarifications on that question?

[2019-04-04 21:11] #948 closed, assigned to knicholasa

[2019-04-04 21:12] knicholasa commented on #931
Closing issue. Please open a new one if you have additional docs feedback.

[2019-04-04 21:12] #931 closed, assigned to knicholasa

[2019-04-04 21:57] stevewhims commented on #983
Thanks for the update, @defaultshr! I've passed the info along internally. ~Steve

[2019-04-05 01:25] dunhor opened #1009 "It would be more helpful if the values were presented as hex values"
Since these values are masks and values are typically encountered as combinations of these masks, it would be helpful if their values were presented in hexadecimal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e78f5921-5d92-25d7-7d77-8a3dba8e5ecc
* Version Independent ID: 93feb2b9-d25f-2e57-a2ad-a39278b2f8fb
* Content

[2019-04-05 02:28] MikeHillberg commented on #1009
Any enum with the [flags] attribute (System.Flags) should be displayed in hex.

[2019-04-05 12:49] madenwala opened #1010 "Sample for appServerKey to buffer?"
Could you please add sample code for converting your appServerKey from string to IBuffer? Leaving that PDF link to the specification just made a dev's job so much harder when it doesn't need to be this difficult. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5c4a234-d8c6-6801-e756-04dd544d3c6c
* Version In

[2019-04-05 18:19] chrisglein commented on #585
Great suggestion! It totally makes sense that you'd want a version of Redraw that gives you an opportunity to respond to it. This seems like a feature request, not a doc issue with the existing method. Can you open a feature request under our GitHub repo here? https://github.com/Microsoft/microsoft-ui-xaml/issues/new/choose

[2019-04-05 18:20] #585 closed, assigned to jwmsft

[2019-04-05 18:26] YuliKl commented on #606
@mijacobs, @jwmsft - this is a request for the docs website that we agree feels incredibly helpful to users.

[2019-04-05 18:41] benstevens48 commented on #606
Nice to see that this is getting some attention. I guess a checkbox saying 'Hide inherited items' or something like that would be the most obvious UI, but what would be a nice addition would be if after checking that, you would see an extra option saying 'From' followed by a drop down menu listing all the parent classes, with the immediate parent selected by default. Also, it might be nice if this

[2019-04-05 19:41] OOPMan opened #1011 "Do WinRT C++ apps receive input from an Xbox One Controller while the app is not in focus?"
Do WinRT C++ apps receive input from an Xbox One Controller while the app is not in focus?

[2019-04-05 20:48] ginami commented on #1011
Hi @OOPMan --thank you for your comment. Can you tell me which page in our docs you'd expect to find this information? This will help me get your question to the correct author and help us add the answer to the appropriate doc. Thank you!

[2019-04-05 22:55] jwmsft commented on #479
Links to .NET projected members have been updated.

[2019-04-05 22:55] #479 closed, assigned to jwmsft

[2019-04-06 16:26] OOPMan commented on #1011
@ginami The https://docs.microsoft.com/en-us/uwp/api/windows.gaming.input#remarks page states that `UWP apps cannot receive input from an Xbox One Controller while the app is not in focus.` with no explanation as to whether this affects Win32 applications using WinRT to access the API (It does) and no real explanation as to why...

[2019-04-07 02:42] mrmsbarnes opened #1012 "Worthless boilerplate"
This page:
https://docs.microsoft.com/en-us/uwp/api/windows.media.playback.imediaplaybacksource
is indeed worthless.  We come here to find information, not anything as meaningless and opaque as "a marker interface".  Doesn't  belong within 5 miles of a Microsoft API reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-04-07 07:35] mrmsbarnes opened #1013 "Unambiguous Xaml specification of Source"
This page
https://docs.microsoft.com/en-us/uwp/api/Windows.Media.Core.MediaSource
can be reached from here
https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/media-playback
That page says:
"Add media to your app by creating a MediaPlayerElement object in XAML and set the Source to a MediaSource ..."
and gives a simple XAML example of
Source="Videos/video1.mp4"
Only it ain't

[2019-04-07 18:39] verelpode commented on #583
Thanks for the guidance.  It is not so easy to know the most appropriate place to post a request, considering the huge scope of Visual Studio, C#, UWP, etc.  Just now I posted it to that GitHub as [#536](https://github.com/Microsoft/microsoft-ui-xaml/issues/536).

[2019-04-08 05:23] defaultshr opened #1014 "Is it must to implement plugin as out-of-process background task"
Can VPN plugin be implemented in the in-process background task? OR is it mandatory to specify the task entry-point in the manifest file and have it run as purely out-of-process background task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4a88e25-2948-fb1e-146e-b99eb119afe6
* Version Independent ID: e85f2e71-e3bc-c

[2019-04-08 06:30] defaultshr opened #1015 "Note about this being mandatory field to be set."
You may add a note in this page saying this is a mandatory field to be set. Otherwise, the VpnManagementAgent's AddProfileFromObjectAsync returns error saying *Other*.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 764ee751-0e05-f871-da83-a7d1b4a1d146
* Version Independent ID: 47df9efb-b79f-b18b-671a-b6eeaa4c4803
* Con

[2019-04-08 12:50] defaultshr opened #1016 "This is a mandatory field which shall contain atleast one IP:port entry."
Kindly mark an additional note. For background task to receive 'connect' trigger successfully, the VpnPluginProfile's ServerUris must have at least one IP:port entry present for C++/CX.

In case of C#, it expects URL scheme too (e.g. http:192.168.1.135:50000).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9d68c0f-60c

[2019-04-08 16:37] jevansaks commented on #583
Thanks!

[2019-04-08 16:37] #583 closed, assigned to jwmsft, jevansaks

[2019-04-08 16:56] ArchieCoder opened #1017 "Remark is missing important info"
The first sentence is scary: "does not always guarantee durable and coherent storage of data". I even wonder why such method exist.

Also, the remark should propose what we should use instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e843a5e-8a83-0427-10e1-52366c4e09ea
* Version Independent ID: ec080505-b423-ad6

[2019-04-08 17:14] jevansaks commented on #628
I believe the answer to these is yes, but this isn't feedback about this doc page so I'm going to close this issue.

[2019-04-08 17:14] #628 closed, assigned to jwmsft

[2019-04-08 17:15] jevansaks commented on #629
Unless the type or member is [webhosthidden] it is available in javascript.

[2019-04-08 17:15] #629 closed, assigned to jwmsft

[2019-04-08 17:16] jevansaks commented on #633
Can you be more specific about which event you were hoping to get? I believe all these events *can* be raised, but the integrate with WebView may make it hard for it to happen.

[2019-04-08 17:16] #633 closed, assigned to jwmsft

[2019-04-08 17:21] jevansaks commented on #645
The shape support in UWP is fairly limited. Did you file a product feedback for this on uservoice or a feature request on https://github.com/Microsoft/microsoft-ui-xaml/issues?

[2019-04-08 17:21] #645 closed, assigned to jwmsft

[2019-04-08 17:24] jevansaks commented on #651
@mijacobs @mimisasouvanh the members aren't showing the SDK version available. This one may be a special snowflake because the getter was available since the beginning but setter was introduced in 17763.

[2019-04-08 17:26] mijacobs commented on #651
Is this a request for SDK info in addition to the API contract, or would it be enough to provide the API contract? We don't show the required SDK on types, either.

[2019-04-08 17:28] jevansaks commented on #651
API contract should be fine too. Will that be coming back to type member pages?

[2019-04-08 18:03] knicholasa commented on #1017
Thanks for leaving feedback. I'll see if I can get that wording in the remarks section updated.

[2019-04-08 18:12] rubberduck203 commented on #318
I'd love to know too.

[2019-04-08 20:58] stevewhims commented on #1006
Assigning to Peter as SME; please confirm that we want to make this change to the docs, and then please assign this GiHub issue back to me (`stevewhims`) along with any recommendations for exactly what to change, and I'll do the rest. ~Steve

[2019-04-08 21:02] stevewhims commented on #1015
Assigning to Peter as SME; please confirm that we want to make this change to the docs, and then please assign this GiHub issue back to me (`stevewhims`) along with any recommendations for exactly what to change, and I'll do the rest. ~Steve

[2019-04-08 21:02] stevewhims commented on #1016
Assigning to Peter as SME; please confirm that we want to make this change to the docs, and then please assign this GiHub issue back to me (`stevewhims`) along with any recommendations for exactly what to change, and I'll do the rest. ~Steve

[2019-04-08 21:09] stevewhims commented on #1014
Adding Peter for his input.

[2019-04-08 21:22] MikeHillberg opened #1018 "Confusing FlagsAttribute description"
All of the enum classes with FlagsAttribute specified seem to have this text: "This enumeration has a System.FlagsAttribute attribute that allows a bitwise combination of its member values."

The type System.FlagAttributes only makes sense in .Net (where the System namespace lives), and even there it would be more useful to show [flags] in the example code.

Also, having that attribute doesn't *al

[2019-04-08 22:06] mijacobs commented on #651
We've submitted this request to our engineering team; thank you for the feedback!

[2019-04-08 22:06] #651 closed, assigned to mimisasouvanh, QuinnRadich, mijacobs

[2019-04-08 22:28] Shadolio opened #1019 "Which versions of UWP?"
My App targets Windows 10 version 1809 and also has it as Minimum version. I cannot find this property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b14dc1-9480-76fb-db85-308d0dcec01f
* Version Independent ID: 1dc3033d-ea42-c97d-81b5-caa9e5ef5dc6
* Content: [NavigationView.SettingsItem Property (Windows.UI.Xaml.Con

[2019-04-08 22:34] Shadolio opened #1020 "Then, please give examples on using PageFooter"
The documentation says that it can contain additional elements. What type of additional elements? Please give us examples or use cases for using PageFooter. It also remarks that if we place a NavigationViewItem, it will not raise an ItemInvoked event; it has to be in the MenuItems collection.

In other words, I want to add a few NavigationViewItems in the PaneFooter, but I want them to extend the

[2019-04-08 23:03] YuliKl commented on #929
@geometrikal - can you provide a code snippet of what isn't working, and how you were able to correct the alignment?

[2019-04-08 23:12] MikeHillberg commented on #1020
These might be answered in the general page for [Navigation View](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview#pane-footer), but that's not very discoverable from here.

[2019-04-09 15:14] pedrolamas commented on #306
Adding my own example:
https://www.pedrolamas.com/2019/03/31/making-the-case-for-xaml-markup-extensions/

[2019-04-09 16:37] YuliKl commented on #420
Thank you for reporting, we've updated the links.

[2019-04-09 16:37] #420 closed, assigned to YuliKl, jwmsft

[2019-04-09 16:46] Shadolio commented on #1020
Unfortunately, there are no details in that place either; just one screenshot example that does not show the behaviour, and without explanation. :(

[2019-04-09 20:56] drewbatgit commented on #1012
Thanks for your feedback. This is an unusual API. It's an interface with no members. It's purpose is to identify interfaces that inherit from it to the media framework so that the system knows that can perform private media playback operations on it. I've added a remark to the page to try to make this a little clearer and to let devs know that they aren't expected to use this interface directly.

[2019-04-09 20:56] #1012 closed, assigned to drewbatgit

[2019-04-09 22:17] jwmsft commented on #1013
@mrmsbarnes , thanks for bringing this to our attention. The correct way to set the Source in XAML is to use the [ms-appx URI scheme](https://docs.microsoft.com/windows/uwp/app-resources/uri-schemes).

'Source="ms-appx:///Videos/video1.mp4"'

The MediaPlayerElement class page shows this, and I've updated the Media Playback page to show the correct code, as well.

[2019-04-09 22:17] #1013 closed, assigned to jwmsft, drewbatgit

[2019-04-09 22:54] jwmsft commented on #1018
@mijacobs , this FlagsAttribute text is added in the doc build, so I'm passing this feedback along to you. FWIW, I believe this is a carry-over from WPF docs (for example, [DataGridHeadersVisibility](https://docs.microsoft.com/dotnet/api/system.windows.controls.datagridheadersvisibility).

[2019-04-09 22:56] mijacobs commented on #1018
@jwmsft : assigning this to @mimisasouvanh

[2019-04-10 07:17] mrmsbarnes commented on #1012
To Drew Batchelor

Thank you.  Remark helps a lot.  I’m getting to know video playback better.

From: drew batchelor [mailto:notifications@github.com]
Sent: Tuesday, April 9, 2019 1:56 PM
To: MicrosoftDocs/winrt-api
Cc: mrmsbarnes; Author
Subject: Re: [MicrosoftDocs/winrt-api] Worthless boilerplate (#1012)

Thanks for your feedback. This is an unusual API. It's an interface with no members. It's p

[2019-04-10 07:20] mrmsbarnes commented on #1013
To Jim Walker

Thank you very much.  I think this helps get the right info in the right place.

From: Jim Walker [mailto:notifications@github.com]
Sent: Tuesday, April 9, 2019 3:18 PM
To: MicrosoftDocs/winrt-api
Cc: mrmsbarnes; Mention
Subject: Re: [MicrosoftDocs/winrt-api] Unambiguous Xaml specification of Source (#1013)

@mrmsbarnes <https://github.com/mrmsbarnes>  , thanks for bringing this to

[2019-04-10 23:38] MikeHillberg opened #1021 "ListView needs to be bounded to enable virtualization"
ListView is intelligent about not creating more item container elements than are necessary to fill the screen (plus some caching). But that only works if it knows the bounds. If you put a ListView in something like a StackPanel or ScrollViewer, there are no bounds, and the UI virtualization is broken. This should be called out as a note in this documentation.

---
#### Document Details

⚠ *Do not

[2019-04-11 09:26] defaultshr opened #1022 "Issues in encapsulation path when GetVpnSendPacketBuffer is used"
I notice an issue when GetVpnSendPacketBuffer  is used as source of buffers for encapsulation. About 45 to 50 buffers get encoded and sent out. However, after that I notice encapsulate callback does not get invoked at all. To work around, I had to remove the L3 buffers present in L3 packet list and modify them to be added to encapsulatedPackets list.

However, in the decapsulate path, the GetVpnRe

[2019-04-11 19:16] stevewhims commented on #1022
Adding @PeterSmithRedmond for help. :)

[2019-04-11 20:03] adwilso opened #1023 "Ordering of Items in is incorrect"
The ordering of values in the DeploymentOptions table is incorrect on the docs website. It is sorted in order of alphebetical by name, not by the value of the flag

https://docs.microsoft.com/en-us/uwp/api/windows.management.deployment.deploymentoptions

![image](https://user-images.githubusercontent.com/1334452/55988896-e5dfb980-5c59-11e9-8adc-63fc89bbba35.png)

It is correct in the source: https

[2019-04-12 14:04] brianreinhold opened #1024 "Bluetooth Low Energy"
It is unclear if this is only for classic or is it also what one must use when searching for Bluetooth Low Energy advertisements? If it works for the latter, is there a way to get advertisement information or can this only be done in C#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a7d73d-8f8c-1e3e-1e50-1ec9bf120ea

[2019-04-12 14:18] brianreinhold opened #1025 "C++ implementation"
There is no example for C++. The critical headache in C++ is lack of documentation for the header files to access these functions. Worse, some of these methods appear to be supported in C#. That needs to be clearly stated if that is indeed true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f050bab3-2598-d27a-ee77-51d

[2019-04-12 15:15] stephenteodori opened #1026 "Dead links for Remarks -> Accessing a ResourceDictionary object in code -> C#"
There are several dead or broken links in the "Remarks -&gt; Accessing a ResourceDictionary object in code -&gt; C#" portion of the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5576bf3b-1cdf-849e-ab18-cae270ab93d9
* Version Independent ID: c1f594e7-7ba2-6aa5-3cfb-4f482480e024
* Content: [ResourceDictionary

[2019-04-12 16:10] manuelroemer opened #1027 "Explain difference between MoveAsync(..., NameCollisionOption.ReplaceExisting) and StorageFile.MoveAndReplace"
There is no indication what the difference between `StorageFile.MoveAsync(..., NameCollisionOption.ReplaceExisting)` and `StorageFile.MoveAndReplaceAsync` is.
Is the former atomic, i.e. less error prone? Does the latter not behave in the same way? Are they doing exactly the same? (And if so, why do we have two options here?)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-04-13 18:16] Firelark opened #1028 "How do you use this with C++/WinRT?"
I would like an example for how to use ContentPropertyAttribute in C++/WinRT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 926fa0d3-053b-3a02-a40d-6766146d2c19
* Version Independent ID: dc33a838-41db-7810-93a0-bf150dad9b97
* Content: [ContentPropertyAttribute Class (Windows.UI.Xaml.Markup) - Windows UWP applications]

[2019-04-13 20:41] artemzakharov opened #1029 "How can I use the 3D Printing API in a back end application?"
I found out about the 3D printing API after coming across this web service:

https://tools3d.azurewebsites.net/

I would like to create my own back end service that can repair 3D files using this API, but I'm at a loss for how to do that - Universal Windows Apps seem to offer no support for being run as a back end application, being available only for desktops and devices. What I want has to be po

[2019-04-14 03:08] lukeblevins commented on #605
I can also confirm this is a very pronounced issue.

[2019-04-14 03:09] lukeblevins commented on #605
Sometimes this event fires multiple times, fails to fire at all, or fires after an unacceptable delay. Still very unreliable!

[2019-04-14 08:56] Firelark commented on #1028
I figured it out! For C++/WinRT you apply the attribute in the IDL file similar to how you do it in C#.
Example:
// .idl file for C++/WinRT

// Apply the content property attribute like this:
[Windows.UI.Xaml.Markup.ContentPropertyAttribute("Children")]
    runtimeclass Panel : Windows.UI.Xaml.FrameworkElement
    {
         // 1. declare the property named "Children"
         // 2. declare the st

[2019-04-15 23:43] knicholasa commented on #1027
Hi, thanks for the feedback. I'll look into updating the doc so that this isn't ambiguous. However, feedback here is meant for documentation related issues and I suggest you reach out to our other developer support resources for a faster answer to your questions. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/ne

[2019-04-16 08:37] manuelroemer commented on #1027
Hey, thanks for the heads up. I'll be sure to post in other places in the future in such cases.

A quick follow up question though: This case here really is something that I would like to see in the MSDN docs, so I thought that this was the right place to ask - would a post in the forum also lead to a doc update?
I'm asking because there are quite a few other undocumented points (regarding the UWP

[2019-04-16 19:15] drewbatgit commented on #1029
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackov

[2019-04-16 19:15] #1029 closed, assigned to drewbatgit

[2019-04-16 21:26] rido-min opened #1032 "Broken Link: App Installer APIs"
The See Also section includes a link to the App Installer APIs: https://docs.microsoft.com/en-us/windows/msix/app-installer/app-installer-apis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa316497-db9b-25ea-d1e1-c9baf2853721
* Version Independent ID: 8d9f51dd-58c2-fccc-4d02-d4d2620383f7
* Content: [PackageManager.Add

[2019-04-16 22:56] knicholasa commented on #1027
Yeah, no problem! A forum post will not necessarily lead to a doc update. If you are confused by a doc, I'd love it if you'd post both on the forums and here. The forums will get you help, and your feedback here will be used to improve the docs. We definitely appreciate all the feedback we get here and we do use it, but currently we're not a support channel the same way those other resources are.

[2019-04-16 23:27] andrewleader commented on #1010
Closing as Mohammed is now using the normal javascript web push APIs and normal WNS APIs.

If someone needs this, let us know and we'll prioritize accordingly.

[2019-04-16 23:27] #1010 closed, assigned to stevewhims

[2019-04-17 02:22] Yortw opened #1033 "No Exception Information"
I had some code working using this API but now when I call EnableTransferOwnership(Guid, SocketActivityConnectedStandByAction) I'm getting a System.Exception thrown with result code 0x80070490 and a message of "Element not found". I came to the API documentation to find out what exceptions are thown under what conditions... and there is no exception information here at all? I appreciate all the ha

[2019-04-17 17:14] jevansaks commented on #654
API contract information may have been missing at the time you opened this issue, but InvokedItemContainer was not added until 17763. You could also switch to using the WinUI nuget package to have the property available everywhere. http://aka.ms/winui.

[2019-04-17 17:14] #654 closed, assigned to jwmsft

[2019-04-17 17:14] jevansaks commented on #654
The recommended workaround prior to this was to use the Tag property.

[2019-04-17 17:17] jevansaks commented on #671
Issue was answered on the other forum as well -- we have no plans to change this.

[2019-04-17 17:17] #671 closed, assigned to jwmsft

[2019-04-17 17:20] jevansaks commented on #730
Version info is now present on these pages.

[2019-04-17 17:21] jevansaks commented on #736
I think the problem is that Canvas.ZIndex isn't actually a property, it's Canvas.ZIndexProperty.

[2019-04-17 17:22] micahl commented on #656
ItemsChangedEventArgs is only used on VirtualizingPanel which I believe we consider deprecated.  If so, that should be documented.

[2019-04-17 17:25] jevansaks commented on #782
The docs seem ok, and the link you provided here seems to be the same as the one you reported the issue on. Can you provide more details?

[2019-04-17 17:25] #782 closed, assigned to jwmsft

[2019-04-17 17:25] jevansaks commented on #832
Link works now, formatting is a little weird.

[2019-04-17 17:25] #832 closed, assigned to jwmsft

[2019-04-17 21:01] stevewhims commented on #1033
Hi, @Yortw, thanks for filing this issue. I'll check with the devs about this particular exception that you're seeing; I suspect the Guid isn't found, but I'll go and confirm whether it's intentional. Generally speaking, the omission of exception info in the docs is by design. The reasoning is that Windows Runtime APIs return error HRESULTS (which are turned into an exception by your particular la

[2019-04-17 21:10] Yortw commented on #1033
Thanks Steve, that's great, I appreciate the feedback and the efforts to improve things here. I had forgotten but understand the issues caused by the API's being available to multiple languages. However if exception information isn't appropriate, maybe a list of HRESULT codes and their meanings would be? That might be more cross language/platform friendly?

In this case I am seeing the error at de

[2019-04-17 21:50] jevansAN opened #1034 "C++/winrt example?"
Could you show an example of how to provide the filetypechoices in C++/winrt?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01d53cf3-82a2-782e-46a8-c51e26bfcec7
* Version Independent ID: d886fe8a-c4c6-0273-0261-599c22b3e68d
* Content: [FileSavePicker.FileTypeChoices Property (Windows.Storage.Pickers) - Windows UWP app

[2019-04-18 00:13] fieldsJacksonG commented on #494
Note that UpdateExtents takes inputs as meters (not pixels) and UpdateLocationWithDisplayRelativeMode takes a position relative to the camera, so the zero vector will be at the head location, and won't be seen.

You may get an error if you attempt to create a new frame before the quad buffer has been presented.  If you are presenting with HolographicFramePresentWaitBehavior::DoNotWaitForFrameToFin

[2019-04-18 01:02] jevansAN commented on #1034
OK, in case it's any help let me offer a solution. It took some time. Let's say the file type is txt and we've declared the FileSavePicker. The key is to use Collections:

hstring fileExtension = to_hstring(L".txt");
Windows::Foundation::Collections::IVector<hstring> extensions{winrt::single_threaded_vector<hstring>() };
extensions.Append(to_hstring(L".txt"));
m_file_save_picker.SuggestedFileName(

[2019-04-18 17:14] #786 closed, assigned to jwmsft

[2019-04-18 17:16] jevansaks commented on #788
I can't find a page talking about the XamlCompiler's InitializeComponent code and it seems reasonable for us to have one that is at least mentioned here.

[2019-04-18 17:17] jevansaks commented on #815
This was missing from the docs for a long time but is finally back.

[2019-04-18 17:18] jevansaks commented on #815
Actually ... it's still not on these events or properties. I don't know why. @IrinVoso ?

[2019-04-18 17:19] jevansaks commented on #824
Another instance of attached property mentioning non-attached property that doesn't exist.

[2019-04-18 17:20] jevansaks commented on #827
Here's a list for Windows 10: https://docs.microsoft.com/en-us/typography/fonts/windows_10_font_list

[2019-04-18 17:20] #827 closed, assigned to jwmsft

[2019-04-18 17:22] jevansaks commented on #852
Templates change much more frequently than the APIs so this would be hard to maintain. Good news is that most of the styles are now open-source so you can find and search them in our github. https://github.com/Microsoft/microsoft-ui-xaml.

[2019-04-18 17:22] #852 closed, assigned to jwmsft

[2019-04-18 17:23] #853 closed, assigned to jwmsft

[2019-04-18 17:23] jevansaks commented on #854
Yes, that's the recommended approach.

[2019-04-18 17:23] #854 closed, assigned to jwmsft

[2019-04-18 17:25] jevansaks commented on #856
@jesbis can you answer this?

[2019-04-18 17:27] jevansaks commented on #857
Or is the issue that NavigationView isn't easily bindable? If you want to bind to a datasource you should use the MenuItemsSource property.

[2019-04-18 17:27] #857 closed, assigned to jwmsft

[2019-04-18 17:28] jevansaks commented on #858
Duplicate of #736

[2019-04-18 17:28] #858 closed, assigned to jwmsft

[2019-04-18 17:28] jevansaks commented on #859
Duplicate of #736

[2019-04-18 17:28] #859 closed, assigned to jwmsft

[2019-04-18 18:06] jesbis commented on #856
There's more info and examples for screen capture available here: [Screen capture](https://docs.microsoft.com/windows/uwp/audio-video-camera/screen-capture).

One option is to capture content from the screen using `GraphicsCapturePicker` and get `Direct3D11CaptureFrame` frames from it, which can then be rendered to a DirectX surface (e.g. using Win2D as shown in the link above), or to a video stre

[2019-04-18 18:06] #856 closed, assigned to jesbis, jwmsft

[2019-04-18 19:44] dunhor opened #1035 "Incorrect return value in comments"
The "Returns" portion says that the function returns "IReadOnlyList&lt;T&gt;", but that is only true for .NET and I have it set to show documentation for C++/WinRT. I'd expect it to say "IVectorView&lt;T&gt;" with a link to the documentation for IVectorView

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd8b7650-a2ee-b

[2019-04-18 21:40] knicholasa commented on #1017
Alright, I checked in with the team that owns the API. The thing to be cautious about with this API is any race condition that might occur, since it is asynchronous. However, I'm going to remove that sentence from the remarks section, since it makes it sound like this specific API is uniquely problematic.

If you'd like help finding an alternative API, please use our [forums](https://social.msdn.m

[2019-04-18 21:48] knicholasa commented on #1027
Hi again, I investigated the docs a bit. The reason you have two options here is that those APIs are for different but overlapping use cases. From the docs:

**MoveAsync(IStorageFolder, String, NameCollisionOption)**:

**StorageFile.MoveAndReplaceAsync(IStorageFile)**:

So **MoveAndReplaceAsync** _does not_ rename the file, and replaces the given file regardless of if they share the same name. **M

[2019-04-18 23:54] sjb-sjb opened #1036 "Lack of detail"
The page should state what interfaces the ItemsSource must implement and which ones it may implement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3264745a-dfeb-acea-166b-004796c6fe8b
* Version Independent ID: 34fa0562-e9eb-b774-ab03-9b4c1e8ea32a
* Content: [TreeView.ItemsSource Property (Windows.UI.Xaml.Controls) -

[2019-04-19 00:07] stevewhims commented on #1033
I do appreciate the feedback, @Yortw, and this is helpful feedback. I'm not entirely sure how much we'll be able to meet your expectations, though. I'll keep following up with my contacts about this exception, and if the behavior is by design then I'll make a case for documenting it. If I can, then that'll satisfy this particular case. However, documenting all HRESULTS is unlikely to be something

[2019-04-19 02:43] ArchieCoder commented on #1017
Ok, it makes more sense now. There are a lot of methods that are asynchronous in UWP.

I would also recommend that the sentence: "It's generally recommended to avoid this method if possible." is also confusing. Thanks

[2019-04-19 02:43] #1017 closed, assigned to knicholasa

[2019-04-19 08:19] manuelroemer commented on #1027
Hey, thanks for investigating! That does make a lot of sense. I think the confusion came mostly from me using **MoveAsync** like this: `file.MoveAsync(dest, file.Name, NameCollisionOption.Replace)`. This is just an alias for `MoveAndReplaceAsync`. That's why I was confused - why were there two ways for doing this? And I didn't really find anything in the docs for that, which is why I asked.

Again

[2019-04-19 14:48] brianreinhold opened #1037 "Unclear use of the FromBluetoothAddressAsync"
When writing a client:
The documentation is insufficient to understand what these methods do and when they should be used, in particular the FromBluetoothAddressAsync(address, addressType). It is not clear if the address type is for the client (setting it indicates how I am going to act) or the peer (I need to specify if the peer device is using resolvable random addressing). If I am a client watc

[2019-04-19 14:50] brianreinhold opened #1038 "No examples for C++/winRT"
What one needs to do for C++/WinRT UWP can look quite different than C# and it would be REALLY, REALLY helpful if C++/winRT examples were provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cedb9559-6da0-2e91-eaef-12d9e9bfff4f
* Version Independent ID: cf9ff409-0028-5b6c-b77e-3987ad23671d
* Content: [BluetoothLEDe

[2019-04-19 15:20] brianreinhold opened #1039 "Connection is critical ... how long will an attempt last?"
After discovering a device and calling the following

IAsyncOperation&lt;Windows::Devices::Bluetooth::BluetoothLEDevice&gt; async =
		BluetoothLEDevice::FromBluetoothAddressAsync(eventArgs.BluetoothAddress(), BluetoothAddressType::Random);
	BluetoothLEDevice bluetoothLEDevice = async.get();
bluetoothLEDevice.ConnectionStatusChanged({ this, &BtleHandler::onConnectionStatusChanged });

it is unclear

[2019-04-19 17:46] MichaelLHerman opened #1040 "Missing documentation"
Some documentation on the event args would be nice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625d81a4-bb1e-0379-90dc-66cf17ea107f
* Version Independent ID: 3e8fc3d2-a808-e1be-c97d-2f33e9107827
* Content: [ItemContainerGenerator.ItemsChanged Event (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs.

[2019-04-19 17:47] MichaelLHerman opened #1041 "Concrete examples would be nice"
Concrete examples would be nice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692ba3d1-bef1-54df-121d-496f95319fd8
* Version Independent ID: 39fc6365-1712-6ceb-93bc-55f82900547c
* Content: [GeneratorPosition Struct (Windows.UI.Xaml.Controls.Primitives) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/a

[2019-04-19 18:09] jevansaks commented on #862
I'm guessing the markdown renderer ate the <T> part. I see it in the .md file. Will fix.

[2019-04-19 18:10] #869 closed, assigned to jwmsft

[2019-04-19 18:11] jevansaks commented on #872
@mijacobs @mimisasouvanh This is an issue with the doc system. We have the version info in the metadata but it's not being displayed in the docs.

[2019-04-19 18:13] jevansaks commented on #877
This is a feature request. We're asking folks to file feature requests for XAML on https://github.com/Microsoft/microsoft-ui-xaml. Thanks!

[2019-04-19 18:13] #877 closed, assigned to jwmsft

[2019-04-19 18:14] jevansaks commented on #881
Good bug. Thanks for the gif, that really helped explain it. We are asking for bugs to be filed on https://github.com/Microsoft/microsoft-ui-xaml. I can move this issue over for you.

[2019-04-19 18:15] #964 closed, assigned to jwmsft

[2019-04-19 18:17] jevansaks commented on #985
@stmoy can you dig in to whether this is a sample bug or platform issue? If platform, please file it on the MUX github.

[2019-04-19 18:20] jevansaks commented on #998
Seems like a bug with CanvasVirtualControl itself if it doesn't support printing. Let me see if this is a platform issue or Win2D and i'll get back to you.

[2019-04-19 18:23] jevansaks commented on #1040
Yeah, I don't know why this page doesn't have any content. @IrinVoso even the delegate and type information is missing from this page.

[2019-04-19 19:46] #881 closed, assigned to jwmsft, jevansaks

[2019-04-19 19:55] #1027 closed, assigned to knicholasa

[2019-04-19 19:58] mijacobs commented on #1040
@jwmsft I believe this is yours.

[2019-04-19 19:59] mijacobs commented on #872
We have a bug filed against engineering for this issue.

[2019-04-19 19:59] #872 closed, assigned to mimisasouvanh, jwmsft, mijacobs

[2019-04-19 20:00] mijacobs commented on #870
Thank you for the feedback. We have a request to engineering for this feature.

[2019-04-19 20:00] #870 closed, assigned to mimisasouvanh, jwmsft, mijacobs

[2019-04-19 20:36] jevansAN commented on #998
jevan (is your name actually Jeff, too?)

	I found out that CanvasVirtualControl can’t be used as a UIElement argument for a PrintDocument source - it’s necessary to instead create a CanvasPrintDocument. And the CanvasPrintDocument doesn’t have the Paginate, etc. events so using it is quite a bit different from what is described in the print-from-your-app docs. Works, though.

	Jeff

On Apr 19, 20

[2019-04-19 20:45] jevansaks commented on #998
Ah! Glad you figured it out. I'll close this issue then.

And my name is actually "Jevan", but I assume you're my long lost twin every time I see your github handle. 😁

[2019-04-19 20:45] #998 closed, assigned to jwmsft, jevansaks

[2019-04-19 21:22] stmoy commented on #985
@AceLearnGit - thank you for reporting this. Are you only seeing this behavior in the Xaml Controls Gallery app, or in other apps as well?

@jevansaks - I believe the issue has to do with the "page enter" animation causing the WebView to re-render. When I disable animations at the system-level, the issue seems to go away. Not sure if that points towards a platform bug or a sample bug, but we could

[2019-04-20 02:25] AceLearnGit commented on #985
Not only Xaml Controls Gallery app, but also my app and others have this problem. And I find the page navigation animations make this problem too. So I have to disable the animation when navigate to and navigate from a webview page.

发自我的 iPhone

在 2019年4月20日，05:22，Steven Moyes <notifications@github.com<mailto:notifications@github.com>> 写道：

@AceLearnGit<https://github.com/AceLearnGit> - thank you

[2019-04-20 12:26] BogdanF7 opened #1042 "How do I use this in a UWP console application?"
How do I use this in a UWP console application?

Currently it throws an exception because the current thread is not an ASTA thread.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3fbf004-b4cd-3d07-7963-f111d4c7e1ff
* Version Independent ID: cae8c616-951e-a727-35ae-4ec96505e616
* Content: [Launcher.LaunchUriAs

[2019-04-21 23:20] brianreinhold opened #1043 "No documented way to register for a ConnectionStatusChanged event before one connects"
I do not know if this is due to missing documentation or poor API design. In order to register for a connection status changed event you have to obtain the BluetoothLEDevice object; but the catch 22 is that you cannot obtain the BluetoothLEDevice without initiating an asynchronous connection attempt. By the time one gets the BluetoothLEDevice object, the event has passed. I have never seen a Bluet

[2019-04-22 17:13] jevansaks commented on #1019
The doc page isn't showing the versions which we will look into separately. But SettingsItem property existed since the beginning of NavigationView (16299) so I wouldn't expect that NavigationView would work but SettingsItem doesn't. Can you provide more details?

[2019-04-22 17:15] jevansaks commented on #1020
We've had other users frustrated about this as well. We're tracking some bugs on the product github, but I would recommend you upvote this feature request since that sounds like really what you want: https://github.com/Microsoft/microsoft-ui-xaml/issues/375

[2019-04-22 17:15] #1020 closed, assigned to YuliKl, jwmsft

[2019-04-22 17:18] #1028 closed, assigned to jwmsft

[2019-04-22 17:20] michael-hawker commented on #386
@laurenhughes @Powerhelmsman any update on this issue?

[2019-04-22 21:42] YuliKl opened #1046 "Description of StandardUICommandKind is misleading"
This page states: "Specifies the pre-defined commands (**including behavior**, and various UI-related properties, methods, and events) that can be used with a StandardUICommand." To me, this implies that when I choose the Share command kind, share behavior is built in and works for free. But that's not true. I still have to implement the share behavior in my app.

The [Commanding article](https://

[2019-04-23 11:41] vitaly-zdanevich opened #1047 "Please provide full examples of compilable code (maybe after click)"
For example I have a few years of experience with Python, JS, some Go, but on this page looks like is not enough of code to compile and run it, and I do not know what wrapper code (maybe some imports) do I need.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c481f71-1ea6-9ba9-e9ab-4849355b91b4
* Version Independent ID

[2019-04-23 17:04] drewbatgit commented on #1047
Thanks for your feedback on the documentation. Often common, non-feature-specific code is omitted from snippets in order to make them smaller and more readable. If you are looking for a complete sample, including UI and app template code, that can be compiled without changes, I recommend downloading the speech synthesis SDK sample:

https://github.com/Microsoft/Windows-universal-samples/tree/maste

[2019-04-23 17:04] #1047 closed, assigned to drewbatgit

[2019-04-23 21:55] Karl-Bridge-Microsoft commented on #1046
Thanks @YuliKl. I've updated the StandardUICommand.Kind and StandardUICommandKind topics as suggested.

[2019-04-23 21:55] #1046 closed, assigned to Karl-Bridge-Microsoft

[2019-04-24 10:02] sp-stefano-lanza opened #1048 "Wrong signature"
The documented signature for index is wrong. It is actually passed as uint32_t& , not as a const reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82fa7c9f-39b4-883e-25a5-b2ca4b719e81
* Version Independent ID: ad01de5a-6f2c-e000-e30c-a627b915e248
* Content: [UIElementCollection.IndexOf(UIElement, UInt32) Method

[2019-04-24 17:22] jevansaks commented on #1048
@mimisasouvanh This is a bug with the metadata -> API doc signature generation. The index parameter is actually an *out* param passed by ref in C# or non-const ref in C++/WinRT.

[2019-04-24 22:34] jevansAN opened #1049 "Set state without triggering an event?"
In C++/winrt it is not clear how one sets the state of a CheckBox, derived from ToggleButton. IsChecked is said here to "Get or Set" the state, but setting the state by writing theCheckBox.IsChecked(true) also calls the event handler for the CheckBox, which may not be appropriate if one is just initializing the button's visual state. Perhaps the meaning of the IReference&lt;bool&gt; argument needs

[2019-04-25 00:07] MikeHillberg commented on #1049
Sorry, not following. You're right that setting IsChecked also calls the event handler, whether it's a ToggleButton or a CheckBox. Are you suggesting that there should be an initialization mode where it doesn't raise the event?

[2019-04-25 00:49] jevansAN commented on #1049
Thanks, Mike. Yes, that is what I was suggesting. Is there no way to set the visual state of a checkbox without raising an event? For instance, when preparing a panel  of options and you want to show the currently-chosen ones? That is, to merely alter the visual appearance of the checkbox?

Jeff

On Apr 24, 2019, at 5:07 PM, MikeHillberg <notifications@github.com> wrote:

Sorry, not following. You

[2019-04-25 04:03] MikeHillberg commented on #1049
There's nothing like that today. You could [propose it](https://github.com/Microsoft/microsoft-ui-xaml/issues/new/choose) in the GitHub repo. This sounds similar to [ISupportInitialize](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.isupportinitialize?view=netframework-4.8), but that just defers the change notifications rather than suppressing them altogether.

[2019-04-25 04:05] ghost commented on #963
I meet the same issue.

[2019-04-25 04:07] jevansAN commented on #1049
Seems odd to me. Never before saw a checkbox control whose state could not be initialized without triggering an action. How is one expected to prepare a panel of options for viewing so that they show the currently chosen options? I will work around it by setting the state before declaring the event handler, but that means I can't later change the state for whatever reason without triggering an eve

[2019-04-25 06:46] dotMorten opened #1050 "Supported version info missing"
On most of the properties there's a section saying which version it's supported from, like this:
### Additional features and requirements
|  |  |
|:--- |:--- |
| Device family	| Windows 10, version 1803 (introduced v10.0.17134.0) |
| API contract | Windows.Foundation.UniversalApiContract (introduced v6) |

This is missing from the events, and according to the PlatformAnalyzer this event isn't supp

[2019-04-25 09:56] defaultshr opened #1051 "The return parameter datatype is Platform::Array<unsigned char> type for C++/CX"
Kindly correct the return parameter type for C++/CX as above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6b3b846-8817-348f-eb72-7f67df8cd816
* Version Independent ID: a8466ff6-57ac-0b7c-f9c9-4db568292e37
* Content: [CryptographicBuffer.CopyToByteArray(IBuffer, Byte\[\]) Method (Windows.Security.Cryptography) - Win

[2019-04-25 12:56] defaultshr opened #1052 "Sample code for creation of AesGcm symmetric key"
Sample code that may be helpful for developers as follows:
----------------------------------------------------------------------------
using namespace Windows::Security::Cryptography::Core;
using namespace Windows::Security::Cryptography;
typedef unsigned char byte;

void createKey(byte key[32])
{
        CryptographicKey^ symmKey;
	SymmetricKeyAlgorithmProvider^ cryptAlgoProvider = SymmetricKeyA

[2019-04-25 12:57] #1052 closed, assigned to GrantMeStrength

[2019-04-25 15:59] nxtn opened #1053 "Windows UWP Namespaces filter doesn't work"
https://docs.microsoft.com/uwp/api/

The filter doesn't work. It always shows "No results".

[2019-04-25 16:43] DexterWoo opened #1054 "Possible to access WinRT components with ACUR?"
is it possible for ms-local-stream:/// uris to access WinRT components just like what we can do for http:// https:// and ms-appx-web:/// uris?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ec6eae1-657b-ef10-0a83-28061f6ea64e
* Version Independent ID: 53402129-a6ac-ab50-8b0f-f6e6fc955c79
* Content: [WebView.NavigateTo

[2019-04-25 17:11] jevansaks commented on #1049
You could attach the event listeners *after* setting the initial state so your callbacks don't get confused?

[2019-04-25 17:11] #1049 closed, assigned to jwmsft

[2019-04-25 17:12] jevansaks commented on #1050
@mimisasouvanh @mijacobs Another issue with API info not appearing.

[2019-04-25 17:15] jevansaks commented on #1054
What do you mean by "access WinRT components"? This API is designed as a hook so that you can load HTML out of an in-memory blob for WebView.

[2019-04-25 17:33] knicholasa commented on #963
Hi! Comments left here are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the deve

[2019-04-25 17:54] jevansAN commented on #1049
Yes, that's exactly what I'm going to do. But it forecloses any possibility of changing the visual state programmatically once the event handlers are declared. There are cases where that would be useful: e.g. if a user chooses a certain option that implies some other action should automatically be taken as well.  For example, an informative checkbox might say whether an item carries a text label;

[2019-04-26 19:28] jingweihaha opened #1057 "typo, xaml instead of xml"
The following example shows how to create a StackPanel of items.

XML =&gt; should be XAML

Copy
&lt;StackPanel Margin="20"&gt;
    &lt;Rectangle Fill="Red" Width="50" Height="50" Margin="5" /&gt;
    &lt;Rectangle Fill="Blue" Width="50" Height="50" Margin="5" /&gt;
    &lt;Rectangle Fill="Green" Width="50" Height="50" Margin="5" /&gt;
    &lt;Rectangle Fill="Purple" Width="50" Height="50" Margin=

[2019-04-26 23:14] #1019 closed, assigned to jwmsft, jevansaks

[2019-04-27 04:40] DexterWoo commented on #1054
I want to have the javascript code from ms-local-stream:///  to be able to call Windows runtime APIs.
but it seemed not achievable.

[2019-04-27 09:18] Linrstudio opened #1058 "winjs support?"
winjs support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b4a17c8-e018-560f-59a8-b0e097939f20
* Version Independent ID: 4f2ac5e2-6fc6-003d-26d4-fee0a50521d3
* Content: [HtmlUtilities(String) Class (Windows.Data.Html) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windows.data.html.htmlutiliti

[2019-04-28 05:11] indyjason79 opened #1059 "No default value specified"
Please list the default value for this property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b48b98f1-b766-756d-56f9-bfe46ccfb534
* Version Independent ID: c8763bed-97a4-7f86-675a-88bb0a080ca5
* Content: [NavigationView.AlwaysShowHeader Property (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs.mic

[2019-04-28 23:58] corykroll opened #1060 "Error Handling"
It would be helpful to list errors that could occur as a result of this call.  For example, I've periodically been getting "System.Exception: Object server is stopping when OLE service contacts it", but I'm not sure if that is a bug or something I should be try/catching for because of issues with the Windows environment.  Is there anything in the setup of Windows necessary to make sure this API ca

[2019-04-29 14:45] christiannagel opened #1061 "Notes referencing versions after Windows 10"
Some notes on property mention that the API may be altered or unavailable for releases after Windows 10. I think it's better to mention a build number instead. Probably the APIs can change before Windows 11 or 12.

e.g.
 "IsFullScreen may be altered or unavailable for releases after Windows 10. Instead, use IsFullScreenMode.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-04-29 18:06] jevansaks commented on #1054
I'm not sure if it's possible. @MikeHillberg do you know?

[2019-04-29 22:56] stmoy commented on #985
Gotcha, thanks. It sounds like we have three things to do:
1. Update the Xaml Controls Gallery WebView sample to stop the animation
2. Add documentation to WebView guidance to suggest turning off page transitions when navigating to a page with WebView
3. Investigate why the animation and the WebView page don't play well together

[2019-04-30 17:47] jesbis commented on #389
This appears to be a bug - opened an issue to track it here:
Microsoft/microsoft-ui-xaml/issues/633

[2019-04-30 17:47] #389 closed, assigned to jesbis, jwmsft

[2019-04-30 17:53] chigy commented on #844
Closing the issue as resolved. @Weissu, please let us know otherwise.

[2019-04-30 17:53] #844 closed, assigned to jwmsft, stmoy

[2019-04-30 18:05] stmoy commented on #844
Quickly following up on this: we've fixed the bug in the platform. The fix will be found in the next version of Windows 10 (May 2019 Update). If your app targets previous versions of Windows 10, you'll still need to animate to a small non-zero number; however, in the latest version of Win10, you can animate directly to 0.

Thank you again for reporting this issue!

[2019-05-01 16:06] JuanMejiaVelez opened #1064 "Adding more details in Properties and Methods table."
It would be nice if the description column for Properties and Methods contained information regarding the Contract version or Windows Build version where such member was introduced and save time navigating to each individual entry page to figure out a map of build requirements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-05-02 16:10] stefangavrilasengage commented on #676
@moyanming if you are asking about the range (min,max) then Minimum is 0 and Maximum is 1...

[2019-05-02 19:54] knicholasa commented on #1034
Hi @jevansAN, thanks for the feedback and your example. I'm going to update the document to include an example very similar to the one you've shared. Looks like you're on the right track already with your code. The new content should show up next week.

[2019-05-02 19:54] #1034 closed, assigned to knicholasa

[2019-05-03 17:25] justindbaur opened #1065 "When using PDF format error is thrown"
An exception is being thrown when trying to set my scanners scan format to a PDF.  I am looking for more information about this error but I can't find any.  How can I scan directly to a PDF, I have drivers installed for my scanner that should allow this.  The exception that is being throws is not very descriptive.

Exception Message: The parameter is incorrect
Exception Stack Trace: at Windows.Dev

[2019-05-03 17:28] justindbaur commented on #1065
I would love more documentation on how or why the PDF format would throw an error and how it can be resolved.

[2019-05-03 18:00] tim-weis commented on #966
The documentation looks fine now, thank you for that. Although this should really appear on (or at least be linked from) the documentation for [IBuffer](https://docs.microsoft.com/en-us/uwp/api/windows.storage.streams.ibuffer).

[2019-05-04 15:59] shenyaocn opened #1066 "GetPreviewFrameAsync(VideoFrame) memory leak on Win10 19H1"
GetPreviewFrameAsync(VideoFrame) memory leak after update to 19H1 in my UWP app.
I use following code like:
using (var frame = new VideoFrame(BitmapPixelFormat.Nv12, (int)props.Width, (int)props.Height))
                {
    while(bCapturing)
    {
        var previewFrame = await avCapture.GetPreviewFrameAsync(frame); // the issue disappear when I comment this line
        previewFrame.SoftwareB

[2019-05-05 08:05] #387 closed, assigned to jwmsft

[2019-05-05 18:39] brabebhin opened #1067 "Why no media stream source support?"
Why randomly skip the "SetMediaStreamSource" method? this would be nice to use in combination with media binder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 600e30fd-3d95-8c8e-aa01-b3ca1820c05f
* Version Independent ID: 72d568e6-e65f-ac15-b2ef-8cd11781b4d5
* Content: [MediaBindingEventArgs Class (Windows.Media.Core)

[2019-05-06 03:54] MichaelKintscher opened #1068 "Remarks typo"
Under Remarks: "The other two are Height and Height."... shouldn't one of those say "MinHeight"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c35ae096-1edc-0c96-814d-3bd4d89831ac
* Version Independent ID: aecc60fa-fd5e-5f14-9eb3-bbb53410395b
* Content: [FrameworkElement.MaxHeight Property (Windows.UI.Xaml) - Windows

[2019-05-06 03:55] MichaelKintscher commented on #1068
Also same issue appears to be under "See also"

[2019-05-06 08:33] trivalik opened #1069 "returns UnauthorizedAccessException"
I have an app with capabilities of "systemManagement". But anyway on windows 10.0.17763.316 the app returns with the exception on call of DateTimeSettings.SetSystemDateTime:
Message = "Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))"

But the code works on the raspberry 3.

Complete capabilities:

  &lt;Capabilities&gt;
    &lt;Capability Name="privateNetworkClientServer" /

[2019-05-06 15:30] MikeHillberg commented on #1068
Thanks for reporting this. Both MaxHeight and MinHeight were confused. [Fixes](https://github.com/MicrosoftDocs/winrt-api/pull/1071) are [pending](https://github.com/MicrosoftDocs/winrt-api/pull/1070/files).

[2019-05-06 15:37] kburgoyne opened #1072 "Exception Details"
"Otherwise … this method fails and throws an exception."

Need details about what exceptions are thrown when.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee5f9867-2800-7596-24d1-3e46069c352f
* Version Independent ID: af51891d-f411-fea2-6b73-8d40e72abbf5
* Content: [StorageFile.MoveAsync Method (Windows.Storage) - Wi

[2019-05-06 16:32] drewbatgit commented on #1067
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-05-06 16:32] #1067 closed, assigned to drewbatgit

[2019-05-07 12:03] nzstevem opened #1075 "Error on page"
The title says this page is about the “scale” property. Yet the text says it identifies he “roll” property. There are similar errors on other pages. A little too much cut and paste I suspect... :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823ea320-300c-d81d-7203-b97289b8cbd1
* Version Independent ID: 49c43f48-6fa