[2019-05-07 20:51] jwmsft commented on #401
Color sample image was added to this page.

[2019-05-07 20:51] #401 closed, assigned to jwmsft

[2019-05-07 20:51] jwmsft commented on #368
Color sample image was added to this page.

[2019-05-07 20:51] #368 closed, assigned to jwmsft

[2019-05-07 22:04] #666 closed, assigned to jwmsft, chigy

[2019-05-07 22:04] chigy commented on #666
Closing as resolved.

[2019-05-07 22:08] chigy commented on #345
Assigning to Kiki since she is looking at theme and styles, etc.

[2019-05-08 00:39] stevewhims commented on #966
Good thought, so I've made a change to the IBuffer topic with the link you suggest. I hope to have that change propagate out to the live site in the next 24-48 hours or so; I'm just working with folks on this side to make that happen. Thanks again! ~Steve

[2019-05-08 16:36] JuanMejiaVelez opened #1078 "Plase add sample code"
Any API documentation should have a sample code snipped that help the developer to better understand with an example how to use the code. Without it, this document value is highly diminished.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625123fe-923e-e4d6-ab77-f4eb00e0b14d
* Version Independent ID: 689e4961-aa0c-d76c

[2019-05-10 04:34] shenyaocn commented on #1066
It seems a issue about Intel display driver. It disappears when I switch to Nvidia video card. And use MediaFrameReader on 1903 can fix this issue. I have use it in my app. https://www.microsoft.com/store/apps/9WZDNCRDMDRM

[2019-05-10 04:34] #1066 closed, assigned to drewbatgit

[2019-05-13 22:42] #458 closed, assigned to micahl, jwmsft

[2019-05-14 17:56] jsmcneal opened #1080 "Broken Links"
Grid.ColumnSpan and Grid.RowSpan raise a 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beef116a-75c0-8f7c-24e9-30010f2fa9f7
* Version Independent ID: 464670d2-f758-0816-5868-4452f40ed8d7
* Content: [Grid Class (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/Win

[2019-05-15 17:01] ArchieCoder opened #1082 "XAML accessiblity sample is old"
Hello, accessibility is such an important topic now. It would be nice if the provided sample would be compilable with the recent VS+Win10 versions. Right now the sample in the section "See also" is for Windows 8.

https://code.msdn.microsoft.com/windowsapps/XAML-accessibility-sample-d63e820d

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-05-15 23:14] kburgoyne opened #1084 "IList<> under "Property Value" needs hotlink to IList<> page."
IList&lt;&gt; under "Property Value" needs hotlink to IList&lt;&gt; page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6105a555-a5b4-7708-a665-ffc358295bf2
* Version Independent ID: 12263154-994b-c5c3-fb24-9005322e4ec7
* Content: [Frame.BackStack Property (Windows.UI.Xaml.Controls) - Windows UWP applications](https:/

[2019-05-16 18:28] chrisglein commented on #1080
Links appear to be fixed MD references:

[code]

As opposed to other references in the doc that work:

[code]

[2019-05-16 18:45] MikeHillberg commented on #1080
We have a general issue of how to present attached properties in the docs. For example in this case, there is no Grid.Row API; there's a RowProperty property which is rarely used, and static Set/GetRow methods.

I think the best fix for this is to make these link to the attached properties section [later in the page](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.Grid#xaml-attac

[2019-05-16 19:06] MikeHillberg opened #1085 "What is the behavior in non UWP apps?"
This says that Package.Current isn't supported in UWP apps. Does that mean that it throws an exception for a desktop app, or that it returns null?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3099bc3-1eb7-77f0-29ea-d1ce01f4dfa7
* Version Independent ID: f25364e8-33ca-d30a-f718-f14636d615f4
* Content: [Package.Curren

[2019-05-16 21:40] Karl-Bridge-Microsoft commented on #1082
thanks @ArchieCoder. I've updated the all links to point to more up to date samples and snippets.

[2019-05-16 21:40] #1082 closed, assigned to Karl-Bridge-Microsoft

[2019-05-17 10:14] grimreaper38uk opened #1087 "Return values"
Using System.Device.Gpio v0.1.0-prerelease.19171.3, the return value for OpenPin is null (i.e. it's a void).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c39682b-ff37-f761-6ce7-9e682bd90825
* Version Independent ID: 77910fcc-660f-33a3-50f7-85968a1f62ab
* Content: [GpioController.OpenPin Method (Windows.Devices.Gpio)

[2019-05-17 10:16] grimreaper38uk commented on #1087
Forget it - I thought I was looking at System.Device.Gpio, not Windows.Device.Gpio.

[2019-05-17 10:16] #1087 closed, assigned to eliotcowley

[2019-05-18 08:35] brabebhin opened #1088 "How to use this in C++/CX"
include &lt;WindowsNumerics.h&gt; and use float2 struct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e209d9d8-a2ed-f044-6bf6-0f4b985dcb82
* Version Independent ID: 4888937b-b95a-4d87-de23-77e23202e7c6
* Content: [Vector2 Struct (Windows.Foundation.Numerics) - Windows UWP applications](https://docs.microsoft.com/en-u

[2019-05-19 09:24] TyJOrtiz commented on #941
Can i be assigned to someone else? i dont understand why no one respnds

[2019-05-20 00:23] Bartolomeus-649 opened #1089 "What is the effect of the different options?"
In what way does these different options affect how `ExtendedExecutionForegroundSession` operate and function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0acec2c-fc60-b978-4c7b-560be44ce787
* Version Independent ID: 0f4c7d92-55ac-7823-9121-0fefe66040a3
* Content: [ExtendedExecutionForegroundReason Enum (Windows.Ap

[2019-05-20 00:27] Bartolomeus-649 opened #1090 "Under which circumstances is extended execution revoked?"
What is it that triggers this event?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83453813-ebfc-3f29-3ebd-dc82d7d9d3c5
* Version Independent ID: 330ce105-340b-97eb-fdd7-27c9353c7c88
* Content: [ExtendedExecutionForegroundSession.Revoked Event (Windows.ApplicationModel.ExtendedExecution.Foreground) - Windows UWP appli

[2019-05-20 00:33] Bartolomeus-649 opened #1091 "what does these different values actually mean?"
What system policy?  Where do I set it?
How can the Revoked event have an argument with a value of Resumed? Can the application be stopped without receiving the Revoked event, and then first when it is restarted it is told about it??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b57334b4-96d1-4285-bb3a-d0197cb3a0b6
*

[2019-05-20 07:22] ghost opened #1092 "Id can also be "computer""
I just received the other value "computer" for the Id, not only Local, Network or OneDrive.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: b9c825f6-87e4-caf4-2876-b0838b511e44
* Version Independent ID: 41fb3f15-cd3a-611b-1af2-f2e2e6e97419
* Content: [StorageProvider.Id Property (Windows.Storage) - W

[2019-05-20 11:59] jeffraska opened #1093 "Max length of property is 16 characters in older builds of Windows 10"
In pre-Creators Update builds of Windows 10 maximum length of property is only 16 characters. In newer builds it has been extended to 64 characters. This documentation should mention that.

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/8629408-max-length-of-toast-tag-not-enough-for-a-simple-gu

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-05-20 17:15] jevansaks commented on #1084
This seems to be something in the doc generation system itself. @mimisasouvanh can you take a look?

[2019-05-21 08:52] LiangJianyi opened #1096 "Color.FromArgb not found in See also"
This link https://docs.microsoft.com/en-us/uwp/windows.ui/color_fromargb.md is invalid. In C# example, SolidColorBrush myBrush = new SolidColorBrush(Color.FromArgb(255, 20, 20, 90));
This code work because the Color.FromArgb method from System.Drawing;
System.Drawing.Brush cannot convert to Windows.UI.Xaml.Media.Brush or Windows.UI.Colors.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-05-21 09:11] defaultshr opened #1097 "Is this curve25519 algorithm officially supported?"
I get exception for following code as "The request is not supported. (Exception from HRESULT: 0x80070032)". Anything wrong I am doing OR curve25519 is yet to be supported by Windows UWP? Kindly clarify.

            // Open the algorithm provider for the specified asymmetric algorithm.
            AsymmetricKeyAlgorithmProvider objAlgProv = AsymmetricKeyAlgorithmProvider.OpenAlgorithm(AsymmetricAl

[2019-05-21 17:17] jevansaks commented on #1096
@mijacobs @mimisasouvanh @mikehillberg I think this another case of C# having a different projection for  the WinRT member. Can we have a better way to create these kinds of links and detect these broken ones in the system before customers encounter them?

[2019-05-22 00:32] knicholasa commented on #1091
Thanks for reaching out. Those are good questions. To get the fastest answer, I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the developer support page](https://developer.microsoft.com/windows/support) for your support opti

[2019-05-22 08:14] Bartolomeus-649 commented on #1091
Ok,could you please provide the location/source/site/documentation where users in the forums and on StackOverflow get their information from?

[2019-05-22 17:06] jwmsft commented on #1080
Links to attached properties have been updated.

[2019-05-22 17:06] #1080 closed, assigned to jwmsft, MikeHillberg

[2019-05-22 17:09] jwmsft commented on #824
Links to attached properties have been updated.

[2019-05-22 17:09] #824 closed, assigned to jwmsft, MikeHillberg

[2019-05-22 17:11] jwmsft commented on #971
Link works now.

[2019-05-22 17:11] #971 closed, assigned to YuliKl, jwmsft

[2019-05-22 17:12] jwmsft commented on #736
Links to attached properties have been updated.

[2019-05-22 17:12] #736 closed, assigned to micahl, jwmsft, MikeHillberg

[2019-05-22 17:14] jwmsft commented on #565
Links to attached properties have been updated.

[2019-05-22 17:14] #565 closed, assigned to jwmsft

[2019-05-22 21:47] knicholasa commented on #1092
Thanks for bringing this to my attention, I will reach out to the team that owns this area and update the docs.

[2019-05-22 23:28] knicholasa commented on #1091
https://docs.microsoft.com/ is the primary place to go for documentation. The people on the forums will search the docs, but if they can’t find a solution and are Microsoft staff, they may reach out to the feature teams responsible and ask them directly. If you need a different level of support, you can check out the options on the [support page](https://support.microsoft.com/hub/4343728/support-f

[2019-05-26 06:13] ghost opened #1102 "File.Attributes can be 1056 !"
I have the File.Attributes equal to 1056 with files locally stored on PC mirrored from OneDrive. Decomposition is 32 (archive) and 1024 which is none of the attributes listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6496c5da-0a8e-a982-57e3-a45ea0f33fa9
* Version Independent ID: fc24102a-70c7-e97c-5186-51ca5

[2019-05-26 12:40] PapierenTijger opened #1103 "Bad rendering"
The test is full of codes like "@Windows.Devices.Gpio.GpioPin.Write(Windows.Devices.Gpio.GpioPinValue)?text=GpioPin.Write" i think this is a rendering issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1a9bba-c463-fbd4-ecec-68d2551a7560
* Version Independent ID: 6f488284-d88d-d64c-28d7-6fb2552de80c
* Content: [Gpi

[2019-05-27 13:38] colinkiama opened #1104 "Should specify how you would set this value in the code behind"
It's not obvious that you have to use the "\u{hexcode}" syntax when setting this value in the code behind.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b918ce6e-8aed-f7df-7e36-11981cb8605a
* Version Independent ID: 7bd20d62-02ee-3ced-9d72-179e63088558
* Content: [FontIcon.Glyph Property (Windows.UI.Xaml.Controls) - W

[2019-05-27 21:42] jefffhaynes opened #1105 "Doesn't actually work"
CustomMapTileDataSource doesn't work in BackgroundReplacement mode since it displays with significant tiling effects.  If this feature isn't going to work, please remove it as I wasted a significant amount of time going down this rabbit hole.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a144d6-ed83-73d4-2fe3-bbbf72

[2019-05-27 22:15] #1105 closed, assigned to hickeys

[2019-05-28 06:25] JimmyRespawn opened #1106 "BackgroundDownloadProgress.TotalBytesToReceive always shows 0 after 1903"
download.Progress.TotalBytesToReceive is 0 after updating to 1903. I can still download, but TotalBytesToReceive always shows 0.
Seems this api is not working after May update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5efa67b-ecf2-b64f-e2e7-556524010817
* Version Independent ID: c092c8b8-499e-c03f-5692-01fb43ef1

[2019-05-28 17:27] jevansaks commented on #1104
Agreed, this could be more clear with an example.

[2019-05-28 19:41] metathinker opened #1107 "Using UWP Windows.System.Launcher from desktop apps is under-documented"
Since Windows 10 version 1903 (19H1), some of the static methods in the [Windows.System.Launcher](https://docs.microsoft.com/en-us/uwp/api/Windows.System.Launcher) class have been callable from a Windows classic/desktop application.

To do this, you need to do the following:

1. Call a Launcher method that takes a [LauncherOptions](https://docs.microsoft.com/uwp/api/windows.system.launcheroptions)

[2019-05-29 00:20] knicholasa commented on #1102
Hi, thanks for reaching out with your feedback. I've contacted the team that owns this area and they're now tracking this issue internally. It sounds like you may be able to see bit fields that do not correspond to values in this enum because the bit fields match the [Win32 file type attributes](https://docs.microsoft.com/en-us/dotnet/api/system.io.fileattributes?view=netframework-4.8), but this e

[2019-05-29 18:50] predavid-zz commented on #921
@jwmsft - could you please update the doc to update the remark mentioned  in this Issue.

[2019-05-29 21:31] knicholasa commented on #1102
Closing the issue. If you need further technical support, please checkout our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Or check out [the developer support page](https://developer.microsoft.com/windows/support) for other support options.

[2019-05-29 21:31] #1102 closed, assigned to smaillet-ms, knicholasa

[2019-05-29 23:04] MikeHillberg opened #1108 "Incorrect information for language projections"
This page doesn't indicate the interfaces that are implemented by the classes. Note that which interfaces are implemented depends on the language. At the WinRT API level, this class implements IVector&lt;IInspectable&gt;, but in C# that shows up as IList&lt;Object&gt;.

And because of that translation, the members here aren't all correct. For example, in C++ this class has an Append method (from I

[2019-05-30 09:39] bjthomson opened #1110 "Implementation details / example required?"
I was looking at GpioController with a view to building a library for some custom PC hardware.
I found someone asking the same questions, and implemented

public  class MyGpioProvider : IGpioProvider
public  class MyGpioPinProvider : IGpioPinProvider
public  class MyGpioControllerProvider : IGpioControllerProvider

but I couldn't see how to wire in the new classes so that we could use

var gpio =

[2019-05-30 17:17] jevansaks commented on #1108
@MikeHillberg Are you thinking this is an infrastructure bug or something we should try to handle in the way our docs are written?

@mijacobs  and @mimisasouvanh  as well

[2019-05-30 21:42] jwmsft commented on #1064
@JuanMejiaVelez, thanks for the suggestion. Adding to the generated member tables would require getting this suggestion through the backlog of the doc's engineering team. Instead, I've added a version history table that shows members that were added after the original release of the class. Hopefully this will help.

[2019-05-30 21:42] #1064 closed, assigned to jwmsft

[2019-05-30 21:44] #1068 closed, assigned to jwmsft, MikeHillberg

[2019-05-31 02:50] novrain commented on #611
@mseilstad  May I ask what runtime error do you get? and did you fix it by apply a SCCD ? Thank you.

[2019-05-31 07:49] mrlacey opened #1112 "Document out of date"
I noticed that the "See also" section has two different links with the same text so went to edit them, only to discover that the change I was going to make was previously made in Aug 31, 2018 but has yet to be reflected on the public site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ed25ed-18b6-c7d3-0b86-85f2576f7

[2019-05-31 19:08] stevewhims commented on #1106
Hi, @JimmyRespawn, the topic says "If this number is unknown, this value is set to 0." However, in your case, it sounds like the value *was* known prior to 1903. If you suspect a product bug, rather than a change in the platform that's uncovered an app bug, then here are some options.

The [Windows developer feedback site](https://wpdev.uservoice.com) is the right place to file a product bug, if y

[2019-05-31 19:08] #1106 closed, assigned to stevewhims

[2019-05-31 19:14] stevewhims commented on #1033
**UPDATE**: I'm still following up; no news yet.

[2019-05-31 19:16] stevewhims commented on #983
I'll go ahead and close this one now; thanks for your work here, @defaultshr! ~Steve

[2019-05-31 19:16] #983 closed, assigned to stevewhims

[2019-06-01 06:59] bronze1man commented on #1014
I have seen all part of the code running in the same process.
"GetCurrentProcessId()" return the same value after the "VpnManagementAgent.ConnectProfileAsync" call and duration the callback in "IVpnPlugIn.Connect".
Code example : https://github.com/ysc3839/UWPToyVpn

Uwp project : c# / c++/winRT
Target version: windows 10, version 1809 (10.0; Build 17763)
Test windows machine: OS build 17763.503

[2019-06-02 11:27] MartinZikmund opened #1113 "The description of `MaxBatchSize` is incorrect"
It seems the `Barometer.MaxBatchSize` documentation is a copy of the documentation of `Barometer.ReportLatency` so it is not clear what `MaxBatchSize` actually stands for

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5812255d-75c7-e390-12b5-7fdbfc78e3c2
* Version Independent ID: e431ca6f-1bf8-1dfb-697a-47d8bdd860ad
*

[2019-06-02 13:15] marcusrunge opened #1114 "Connection to TunTap Interface"
Unfortunately due to poor documentation and complete absence of working examples I Need to ask whether it is possible to establish a VPN Connection to something called in the Linux world Tun/Tap Interface used for OpenVPN? I have been Burning Hours and nerves in the past weeks to get something simple to work (experimental "ToyVpn"). Everything beyond authentication Fails at Nothing received timeou

[2019-06-02 20:28] chenburiram opened #1115 "Document Details"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d51ee8cf-254f-52c0-7919-ad6dcc7a6649
* Version Independent ID: 0ebef3b9-696a-1742-3c8a-fd1cdfbbb2f4
* Content: [Windows.Networking.Connectivity Namespace - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windows.networking.connectiv

[2019-06-03 17:02] jwmsft commented on #921
The doc has been updated.

[2019-06-03 17:02] #921 closed, assigned to jwmsft, predavid-zz

[2019-06-03 17:21] jevansaks commented on #1112
@mijacobs I've seen other reports of this that the GitHub edits don't appear to be making it to the live site. Can you follow up?

[2019-06-03 17:55] mijacobs commented on #1112
GitHub updates have been merged into the live branch; this is an issue with SeeAlso links ignoring link text. We have a bug against the engineering team.

[2019-06-03 17:55] #1112 closed, assigned to jwmsft, mijacobs

[2019-06-03 18:01] mijacobs commented on #1108
Thanks, Mike. We've filed a bug against the engineering team to track this issue.

[2019-06-03 18:01] #1108 closed, assigned to jwmsft, mijacobs

[2019-06-03 18:14] #1091 closed, assigned to knicholasa

[2019-06-03 20:35] knicholasa commented on #1092
Turns out there are some bit fields that are not part of this API's set but which might show up since they represent [Win32 file type attributes](https://docs.microsoft.com/en-us/dotnet/api/system.io.fileattributes?view=netframework-4.8) and are not filtered out. The team is aware of this issue and is tracking it internally. Thanks for raising awareness. Closing the issue now.

[2019-06-03 20:35] #1092 closed, assigned to knicholasa

[2019-06-03 21:40] ginami commented on #1115
Hi @chenburiram -- please let us know if you have feedback on our docs! Thank you!

[2019-06-03 21:40] #1115 closed

[2019-06-04 07:30] 5ngs94jzqw commented on #1022
I have found a "good" workaround to this bug:
* In IVpnPlugin::Encapsulate call packets.RemoveAtBegin() to get the buf, then use channel.GetVpnSendPacketBuffer() to get a new buffer and copy data into the buffer and append it to encapulatedPackets, then call packets.Append(buf) after you finish use that VpnPacketBuffer object. This way the bug will disappear.

It looks like that all VpnPacketBuffe

[2019-06-04 21:27] hickeys commented on #1069
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-06-04 21:27] #1069 closed, assigned to hickeys

[2019-06-04 21:33] hickeys commented on #875
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-06-04 21:33] #875 closed, assigned to hickeys

[2019-06-06 03:53] JohnFulsom opened #1117 "Code Samples / Docs"
Hi, I'd like to know if there are any code samples or deeper documentation for this API, or if there will be any forthcoming any time soon. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11017ce2-ced1-2f44-0a34-c4013cedfd27
* Version Independent ID: 067fba70-52d7-65e1-8f8d-790db6012efe
* Content: [Windows.Devic

[2019-06-06 09:40] trivalik commented on #1069
Please forward this error to your internals, since I have no ability to provide this error to microsoft.

[2019-06-07 23:15] chigy commented on #712
@fmccown , the document was updated. Let me know if there is anything else.

[2019-06-07 23:15] #712 closed, assigned to jwmsft, chigy

[2019-06-13 15:39] nxtn opened #1121 "Broken links"
In Remarks:

2.UIElement.GettingFocus(../windows.ui.xaml/uielement_gettingfocus.md)/FocusManager.GettingFocus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c21a0c93-0879-422d-8436-03043cf4bdb8
* Version Independent ID: 48c03bb0-9e8f-4a83-5043-ce746a2e66f8
* Content: [FocusManager.GettingFocus Event (Windows.UI.Xaml.In

[2019-06-13 15:41] #1121 closed, assigned to Karl-Bridge-Microsoft

[2019-06-15 14:31] bkrauth opened #1124 "Wrong text in Remarks UWP Slider.IntermediateValue"
Remarks section contains text from the SnapsTo property, rather than the IntermediateValue property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84ad7f6-1ae0-0db4-f9cc-d0f194d58442
* Version Independent ID: 5a6456b9-406f-6070-49ae-d22e2fca58f7
* Content: [Slider.IntermediateValue Property (Windows.UI.Xaml.Controls)

[2019-06-15 16:04] nxtn opened #1126 "Content Source in docs.ms feedback issues"
When providing feedback on the Windows Runtime API docs, there is a **Content Source** link in the generated GitHub issue to https://cpubwin.visualstudio.com (not accessible to the public), but in other docs it would point to a GitHub page. Just to confirm if it's by design.

For example,

- Issue: #1121
- Content Source: https://cpubwin.visualstudio.com/DefaultCollection/windows-uwp/_git/winrt-ap

[2019-06-17 16:32] cdaylin opened #1128 "Incorrect Documentation"
Should the following sentence be updated by changing "false" to "true"?

This is because the existing On* definitions may have provided handling for an event that sets a Handled property value to false in some event's event data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a54ef3-1a1b-a755-79c0-d8d1ad6961de
* Vers

[2019-06-18 04:16] bkrauth opened #1129 "Please show what Exceptions can be thrown"
There are more exceptions, such as when internet is not available (cable unplugged).  Please show a more complete list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20e93d8-c2ed-adf0-233a-6ebb95015d95
* Version Independent ID: 4645a338-dc9a-dbfe-fd3b-f5620a5d3435
* Content: [HttpClient.GetBufferAsync(Uri) Method (Wi

[2019-06-18 09:27] AliveDevil opened #1130 "Document how to completely unregister Shell Namespace"
After calling `StorageProviderSyncRootManager.Register()` there are registry-keys generated at several places which provide access to the sync root through the Windows Explorer (Shell Namespace).

These registry keys are not deleted after calling `StorageProviderSyncRootManager.Unregister()`.
Please document this non-cleaning behavior and eventually upgrade Windows Runtime to automatically cleanup

[2019-06-18 14:00] docbrown opened #1131 "Document that InjectKeyboardInput caps the number of inputs per call"
If I call `InjectKeyboardInput` with more than 12 instances of `InjectedInputKeyboardInfo`, I get an `ArgumentException`. The documentation does not mention this limit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 558306cf-3156-4a8d-e27b-b62f9541599c
* Version Independent ID: 6a866c18-3969-7df8-218f-377cf8eeebd5
* Co

[2019-06-18 16:34] TheJimmyJ57 opened #1132 "Shift Button getting stuck on"
While using `Windows.UI.Input.Preview.Injection` to simulate key presses in a program, the following code was used:
`
            InputInjector inputInjector = InputInjector.TryCreate();
            var info = new InjectedInputKeyboardInfo();
            info.VirtualKey = (ushort)(VirtualKey.Shift);
            inputInjector.InjectKeyboardInput(new[] { info });
`
When this code is used the shift g

[2019-06-18 16:34] TheJimmyJ57 opened #1133 "Shift Button getting stuck on"
While using `Windows.UI.Input.Preview.Injection` to simulate key presses in a program, the following code was used:
[code]
When this code is used the shift get is then left stuck on for the entire PC system making it impossible for the computer to function properly as SHIFT+Click selects everything, etc.
Other simulated keys work without this "stuck" issue. Only fix so far is to restart the comput

[2019-06-19 00:52] stevewhims commented on #1129
I'm adding Peter for his advice and input on this issue. Peter, please let me know what info you'd like me to add to this topic. Just FYI, I've added my thoughts below about my understanding of our policy (in general) toward documenting exceptions; this API may be one of those unusual cases.

So...

Except in rare cases, it's our policy not to document exceptions, for a couple of reasons.

One rea

[2019-06-19 12:53] stephenstarkie commented on #1066
I have also seen a similar problem and can recreate it using the microsoft sample; https://github.com/microsoft/Windows-universal-samples/tree/master/Samples/CameraGetPreviewFrame.  If I try this sample on Win10v1809 there is no leak.  If I try it on v1903, there is.  Also see; https://stackoverflow.com/questions/56647650/how-to-fix-memory-leak-in-getpreviewframeasync for more details

[2019-06-19 13:01] shenyaocn commented on #1066
Well, use MediaFrameReader on 1903 can fix this issue.

[2019-06-19 13:03] stephenstarkie opened #1134 "BROKEN: Leaks memory under Windows 10 v1903"
We upgraded two Surface Pro 4's to v1903 and both started leaking memory on this call.  See; https://stackoverflow.com/questions/56647650/how-to-fix-memory-leak-in-getpreviewframeasync and https://github.com/microsoft/Windows-universal-samples/issues/1108 and https://github.com/MicrosoftDocs/winrt-api/issues/1066 which suggests to use MediaFrameReader instead

---
#### Document Details

⚠ *Do not

[2019-06-19 13:16] stephenstarkie commented on #1066
@shenyaocn Thanks - we'll give that a go

[2019-06-19 13:19] shenyaocn commented on #1066
@stephenstarkie You are welcome

[2019-06-19 17:20] Gavin-Williams opened #1135 "Does the API contract need to be updated here."
Hi,

Just to explain the angle I'm coming from ..  I use both CoreApp and XamlApp templates in my C# game and related work (with SharpDX interop for DX). I have to manually write the CoreApp template because VS doesn't provide a C# version. I'm looking to move my UWP game engine/framework from being a UWP library to a .Net Standard library. I'm investigating if that's the right course of action an

[2019-06-19 18:08] drewbatgit commented on #1134
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions please see the [developer support page](https://developer.microsoft.com/windows/support) for your support options. I have alerted the feature team to this issue and will make any

[2019-06-19 18:08] #1134 closed, assigned to drewbatgit

[2019-06-19 18:48] PeterSmithRedmond commented on #1129
I'll agree with Steve's analysis, and I can add some history and some technical details.

Windows.Web HttpClient now includes Try APIs (e.g., [TryGetBufferAsync()](https://docs.microsoft.com/en-us/uwp/api/windows.web.http.httpclient.trygetbufferasync) ) to help solve the "too many exception" problem. The original thinking for the "throw on network exception" decision was to be compatible with othe

[2019-06-19 21:37] StevenEdwardWood opened #1136 "Has this page not been updated?"
AVI is not listed; however, when I set Container.Subtype = "avi" there is no exception and the Container.Subtype is set to "AVI" so AVI is a predefined value.

Also, according to the UWP Supported Codecs Container Subtypes "fMP4" and "MKV" are supported; however, setting Container.Subtype to "fMP4" or "MKV" causes an exception of "Value does not fall within the expected range." so they appear to h

[2019-06-19 23:21] ginami commented on #1132
Hi @thejimmyj57 -- I'm closing this issue as it seems to be a duplicate of #1133 . Thanks!

[2019-06-19 23:21] #1132 closed, assigned to nobody

[2019-06-19 23:34] ajpeacock0 opened #1137 "Dead links (404)"
The following links under **Remarks** are dead (404)
&gt; For functionality similar to this member, see [Add(String,Object)](https://docs.microsoft.com/en-us/uwp/api/valueset_add_2) and [Add(KeyValuePair)](https://docs.microsoft.com/en-us/uwp/api/valueset_add_1).

As well as the 2 links under **See also**
- [Add(String,Object)](https://docs.microsoft.com/en-us/uwp/api/valueset_add_2)
- [Add(KeyVal

[2019-06-20 08:28] stephenstarkie commented on #1134
Always happy to help! My apologies; my intention was to point out an issue with the documentation; namely that the API doesn't perform as documented, in that the documentation doesn't document the side effect of leaking memory.  Unfortunately, closing this issue means that it gets less visibility and people wont realise that there is a very significant problem - perhaps the documentation could inc

[2019-06-20 22:08] aeloros commented on #1135
inline below...

This is the correct information.  CoreApplication, IFrameworkView, IFrameworkViewSource are all UWP APIs.  The two interfaces in the list above are the extension points you need to implement in order to use CoreApplication to show UI when you don't have a framework that already implements them for you.  For instance XAML implements these interfaces in order to provide you the more

[2019-06-21 09:47] Mailosz opened #1138 "When can GetForCurrentThread return null?"
At least once this function returned me null. Why is that? When can it happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4cc07d-cb00-99f7-d33f-6b8bc2fbb85f
* Version Independent ID: d174749a-d223-a6b9-96d3-4809269ff56e
* Content: [CoreWindow.GetForCurrentThread Method (Windows.UI.Core) - Windows UWP applications

[2019-06-22 12:51] liam-tuite opened #1141 "Typo"
"Use AdaptiveTrigger s..."
- should be "Use AdaptiveTriggers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58e278f-7e7e-dc67-ba2f-4461723b216a
* Version Independent ID: e98a6aca-970b-b5ef-f2ad-450772e1cc50
* Content: [AdaptiveTrigger Class (Windows.UI.Xaml) - Windows UWP applications](https://docs.microsoft.com/en-u

[2019-06-23 08:39] nxtn commented on #1053
Closing as fixed.

[2019-06-23 08:39] #1053 closed, assigned to IrinVoso, mimisasouvanh, mijacobs

[2019-06-25 09:10] OlrikSato7 commented on #515
I get this same exception when I simply run the BasicHologram windows sample.

[2019-06-25 10:45] AliveDevil commented on #1130
Contributing additional information here:
All remaining data for `StorageProviderSyncRootManager` is automatically removed from the system

**If** and **Only If** the application package has been installed through MSIX/APPX/Deployment. After removing the package.
It would be great if these steps would be documented for classic Win32-Apps using the Windows Runtime outside of the sandbox.

[2019-06-25 13:08] MichaelDefour opened #1142 "currently are not supported"
"System-internal or on-chassis serial ports may be enumerated by DeviceInformation.FindAllAsync(), but cannot be opened by SerialDevice.FromIdAsync() because they currently are not supported.". Ok it's not supported but how I can do to access at a virual port with UWP ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7

[2019-06-25 21:50] metathinker opened #1144 "User.FindAllAsync docs should say which users can be discovered by this method"
The Windows.System.User.FindAllAsync() static method's documentation page says it "finds all users asynchronously", and the documentation for that method's overloads with parameters says those overloads find "all" users meeting certain criteria.

Unfortunately, it's not clear what "all users" means for User.FindAllAsync. While I'm not sure precisely what "all" means, I do know that it doesn't actu

[2019-06-26 05:13] Aarklendoia opened #1145 "How to hang up?"
Neither the documentation nor the PhonCall example explains how to hang up. Do you have more information about this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53bab3ed-3de8-27eb-a261-ae41abb790a2
* Version Independent ID: 9190cd24-95ba-1627-ffb1-b77d115f9a7e
* Content: [PhoneLine Class (Windows.ApplicationModel.Ca

[2019-06-26 19:55] knicholasa commented on #1145
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the mean time you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stac

[2019-06-27 14:37] LiangJianyi opened #1147 "The ICommand no have a link"
It does not contain a hyperlink to a page that describing ICommand.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: d8f12be0-a60b-f43f-8668-6dd59808d8ba
* Version Independent ID: 7ba16a79-d738-7fbb-2db4-b2be11bcc9f2
* Content: [ContentDialog.CloseButtonCommand Property (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs.microsoft.com/zh-cn/uwp/api/win

[2019-06-28 18:11] jevansaks commented on #1128
You are correct! I will fix.

[2019-06-28 18:13] jevansaks commented on #1147
I believe this is related to the problem of language-specific mappings not having a consistent doc linkage experience.

[2019-06-29 01:03] JosephClampett opened #1149 "Needs information and/or an example on how to use a custom data format."
Detail how to use a custom identifier and how to construct a RandomAccessStream for an arbitrary object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd0e6e0-c1fc-6f5d-9552-1d11dbff8320
* Version Independent ID: 4aba3b11-3c28-e6a5-865a-5daea64c590c
* Content: [DataPackage.SetData(String, Object) Method (Windows.Appl

[2019-06-30 18:27] jevansAN opened #1150 "null vs NULL"
'null' won't work in cpp/winrt, am I right? Seems NULL is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ae1c7ac-0a5f-2801-7360-134e21ac4b91
* Version Independent ID: db699579-ba8f-7d89-a1c7-cfa05e7743d3
* Content: [PointerRoutedEventArgs.GetCurrentPoint(UIElement) Method (Windows.UI.Xaml.Input) - Windows UW

[2019-07-01 18:10] drewbatgit commented on #1134
Hello, the feature team is investigating this issue. As soon as they are able to verify and reproduce the bug and provide accurate technical details about the nature of the bug, affected platforms, and/or potential workarounds, I will add that information to the documentation. While that might take some time, they did agree that we should point people to the MediaFrameReader API for scenarios wher

[2019-07-02 09:45] stephenstarkie commented on #1134
I think that's a great idea; thanks.  We have implemented the MediaFrameReader API instead and it works well.

[2019-07-02 09:49] stephenstarkie commented on #1066
We have tried the MediaFrameReader API; it works well, and fixes the problem (with less code!)

[2019-07-02 21:23] stevewhims commented on #1129
I'll go ahead and tentatively close this issue, then (but we can re-open if I made a mistake by doing that). Peter, if you feel that your guidance above isn't sufficiently covered in the docs, then I'd be happy to make corrections if you could give me the details.

Thanks!
Steve

[2019-07-02 21:23] #1129 closed, assigned to PeterSmithRedmond, stevewhims

[2019-07-02 21:24] stevewhims commented on #1014
@defaultshr, are you still blocked on this question? Thanks! ~Steve

[2019-07-02 21:26] stevewhims commented on #1022
Hi, @5ngs94jzqw, it's good to hear that you've found a workaround. Peter, if you'd like me to change the docs, and you can give me details, then I can do that. But I'll tentatively close this issue now (please re-open it if necessary). Thanks! ~Steve

[2019-07-02 21:26] #1022 closed, assigned to PeterSmithRedmond, stevewhims

[2019-07-02 22:01] stevewhims commented on #1033
Still following up; no news yet.

[2019-07-02 22:03] stevewhims commented on #1114
Adding @PeterSmithRedmond, for advice. Is this an issue we can redress via documentation; or is it a support matter?

@marcusrunge, my apologies for not responding sooner; this one fell through the cracks.

~Steve

[2019-07-03 04:36] mdmozibur commented on #606
Any progress?

[2019-07-03 12:43] marcusrunge commented on #1114
There is a well documented example with Server and Client necessary. There is no word About which vpn types are supported. If tun/tap is not supported, tun/tap should be added as a vpn type to implement own protocols like openvpn. All attempts trying to establish a stable tun/tap Connection failed because Nothing arrived at the "ToyVPN Server". As I said, from developers perspective this interface

[2019-07-03 15:59] jbrianceau opened #1153 "MediaPlaybackList.MaxPrefetchTime property description is confusingly worded"
MediaPlaybackList.MaxPrefetchTime property is currently described in [windows.media.playback/mediaplaybacklist_maxprefetchtime.md](https://github.com/MicrosoftDocs/winrt-api/blob/docs/windows.media.playback/mediaplaybacklist_maxprefetchtime.md) as:

That looks grammatically incorrect, and is very likely to give a headache to whoever tries to actually understand what this property is.

[2019-07-03 17:19] jolleekin commented on #606
At least I found a workaround by expanding the navigation tree in the left pane.

![image](https://user-images.githubusercontent.com/5405376/60611761-4877ca00-9df1-11e9-8354-4a25497feab8.png)

[2019-07-03 21:06] Alex-Rose opened #1154 "Method signature has incorrect const parameter"
The parameter `index` should not be const and I also believe that parameter `T` is a const reference. The signature should read: `bool IndexOf(T const& value, uint32_t& index) const;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8d728b7-7156-0b95-87aa-ad91cf5819cd
* Version Independent ID: 820479aa-3aa5-710b-b877-7d

[2019-07-03 22:28] #862 closed, assigned to jwmsft, jevansaks

[2019-07-04 12:26] OlrikSato7 commented on #1117
Hi. Just a message to say that JohnFulsom would not be the only one interested.

[2019-07-04 13:55] StevenEdwardWood commented on #1104
"/u{hexcode}" doesn't work either.  I tried many variations of it.  Fortunately, Roy LI, the moderator for the UWP MSDN Forum, provided the syntax "\x[hexcode]" which works.  For example in C#:
AppBarButton NewAppBarButton = new AppBarButton();
NewAppBarButton.Icon = New FontIcon();
NewAppBarButton.Icon.FontFamily = new FontFamily("Segoe MDL2 Assets");
NewAppBarButton.Icon.Glyph = "\xE700";

[2019-07-04 19:28] colinkiama commented on #1104
The example you've shown is perfect!

[2019-07-04 22:18] knightmeister opened #1155 "Unclear documentation"
This page reads like it's been automatically generated and does not explain what the property does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28f4ed49-494b-921a-bd9c-f3427a9f5e6b
* Version Independent ID: 58f58315-8bf2-f5f9-95d0-6633a39a19b0
* Content: [TreeViewItem.HasUnrealizedChildrenProperty Property (Windows.

[2019-07-08 22:22] Karl-Bridge-Microsoft commented on #1150
Thanks @jevansAN. Unfortunately, the language selector only affects the syntax block and code snippets on a page. At this time, text content of the docs cannot be updated per the language selector and must be generic.

[2019-07-08 22:22] #1150 closed, assigned to Karl-Bridge-Microsoft

[2019-07-09 19:21] Karl-Bridge-Microsoft commented on #1133
Hi @TheJimmyJ57. As this appears to be a product issue and not a doc issue, please use https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose.

[2019-07-09 19:21] #1133 closed, assigned to marb2000, Karl-Bridge-Microsoft

[2019-07-09 19:32] TheJimmyJ57 commented on #1133
Okay thank you

[2019-07-11 02:14] stevennyman opened #1158 "Heart Rate Sample does not run under Windows 10"
Heart rate sample does is not a UWP app and cannot be opened or built with Visual Studio 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f9e9d6-6609-bd06-d20d-087010de1e60
* Version Independent ID: ca6d38c2-a6ba-0f58-93db-b6963604d152
* Content: [Windows.Devices.Bluetooth.GenericAttributeProfile Namespace - Wind

[2019-07-11 09:29] ad1Dima opened #1159 "This API is not marked as Limited Access API"
This is limeted access API and this is not marked.
Also there must be link to https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/secondary-tiles-pin-to-taskbar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8e3f90a-5801-64be-d1bf-3d47616d6966
* Version Independent ID: 556b20f9-75d6-a5b2-

[2019-07-11 17:05] licanhua opened #1160 "Binding.Source may introduce memory leak in C++ application and prefer Binding.RelativeSource if possible"
Prefer to use Binding.RelativeSource if possible.

I just fixed a bug [Fix memory leak because Binding.Source](https://github.com/microsoft/microsoft-ui-xaml/pull/1033)

For the C++ code which sets the Binding.Source from codebehind, he should be aware of the memory leak problem.
He should not hold the reference to a control, then pass itself as Binding.Source and SetBinding to that control.

---

[2019-07-12 04:29] moyanming opened #1161 ""Access is denied" when use in the background app."
Hi,
I got the following exception when using this API in the background app.
How to fix this problem?

"Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da27c93f-4aef-a3e6-6fc0-b16e0b59537f
* Version Independent ID: bd44d2bc-bad1-b86d-d91d-df93bc2bb

[2019-07-14 02:42] MelbourneDeveloper commented on #776
Yes, this definitely needs an example!

[2019-07-14 03:23] weitzhandler opened #1163 "Regular email address?"
Hi,
I can spot two email address options:
- `EmailNameOrAddress`
- `EmailSmtpAddress`

What should the option used for a regular email input i.e. `name@domain.com`, with no names or smtp-domain-only addresses?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1cd6b7c-96a7-a750-ec88-a6be6b2ffc97
* Version Independent ID:

[2019-07-14 12:30] JohnStraumann opened #1164 "Camera in WPF app?"
Hello: I am trying to take a picture with the PC Webcam in a WPF app, does this namespace only work in Universal Windows Platform (UWP) apps? If so, can you tell me how to access the camera in a WPF app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44e3bb9e-8901-f4db-82f3-e28b97b6f3df
* Version Independent ID: 336a4e

[2019-07-15 00:58] kevin-jing opened #1165 "How do I know If a device supports app data backup?"
"If the device that runs this app supports app data backup", how do I know If a device supports app data backup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25e6a57e-2928-4a93-64de-e49850ff988e
* Version Independent ID: a68f98bb-c15b-cdc9-8932-dcdec5f9f10f
* Content: [ApplicationData.LocalFolder Property (Windows.St

[2019-07-15 20:06] drewbatgit commented on #1164
I asked the camera feature team about this and there is not a C# API for USB cameras that is available from WPF. However there are C++/win32 code that you could theoretically call from WPF, but you would have to handle the bridging code yourself. I would recommend consulting the  [developer forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=require

[2019-07-15 20:06] #1164 closed, assigned to drewbatgit

[2019-07-15 21:30] Karl-Bridge-Microsoft commented on #1163
Hi @weitzhandler, as described in the topic:

EmailNameOrAddress | 60 | Input scope is intended for working with an email name or full email address.
-- | -- | --
EmailSmtpAddress | 5 | Input scope is intended for working with a Simple Mail Transport Protocol (SMTP) form e-mail address (accountname@host).

Your example would be EmailSmtpAddress. The desc for EmailNameOrAddress is a little ambiguou

[2019-07-15 21:30] #1163 closed, assigned to Karl-Bridge-Microsoft

[2019-07-15 22:42] englishb commented on #1117
Yes, I would also be quite interested.

[2019-07-16 12:41] dimOk00 opened #1167 "Issue with binding on selectedItems"
This is really annoying that we can bind on SelectedItem, but can't on SelectedItems.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 7a573be5-2021-f240-d200-ccb0a918c58d
* Version Independent ID: 287a5b16-ac4a-25cf-0c8f-9ae5245a93d0
* Content: [ListViewBase Class (Windows.UI.Xaml.Cont

[2019-07-16 16:51] SoccerGee opened #1168 "I cannot get the Windows.System.MemoryManager's appmemoryusagelimitchanging event to fire after following this documentation."
Here is my code:

[code]

Nothing is ever logged when sending the application to the background.  However, this event fires correctly:

[code]

Any thoughts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4920f93-3797-6c0d-5fde-4538fcee8a5e
* Version Independent ID: ef5c70d3-6d69-8270-8d73-baeb7b6ba16b
* Content: [Mem

[2019-07-16 23:21] BattleAxeVR commented on #1117
+1

[2019-07-17 17:09] jevansaks commented on #1167
This is more of a feature request. Can you file this on https://github.com/microsoft/microsoft-ui-xaml/issues ? We'd prefer if you filed it so that you can get updates about the issue. If not, I can file it for you.

[2019-07-17 18:22] predavid-zz commented on #962
On @jwmsft 's radar.

[2019-07-17 18:23] predavid-zz commented on #1036
@jwmsft - could you please update this doc to address this issue:  https://cpubwin.visualstudio.com/DefaultCollection/windows-uwp/_git/winrt-api-build?path=%2fwinrt-api-build%2fwindows.ui.xaml.controls.treeview.yml&version=GBlive&_a=contents

[2019-07-17 18:31] YuliKl opened #1169 "Add info about access key"
Assigning an access key to CommandBar will place the key tip over the More button without changing the scope of the access keys. This behavior is currently not documented but should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3599dc1-9592-6a5b-b74a-ed723a61948d
* Version Independent ID: 65c4cda8-612a-683b-e739-

[2019-07-17 22:31] YuliKl opened #1170 "Document access key workaround"
Currently, there's no way to set access keys on NavigationView's Back button and Settings item. https://github.com/microsoft/microsoft-ui-xaml/issues/941 lists some utility code that provides a workaround. This utility should be documented in docs.microsoft.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce4dc6f7-f

[2019-07-19 06:02] linhnddev opened #1172 "How to change MinLiveOffset"
I want to set LiveOffset to 0. But MinLiveOffset is always about 18s (delay 18s to web browser) and I cannot change it.
Please help (or let it be changeable)!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9272b4d8-952e-a5f3-463c-4cd878aa8405
* Version Independent ID: 06dd4f7d-daeb-edf6-2cdc-f92b00853b4a
* Content: [Ad

[2019-07-19 17:35] drewbatgit commented on #1172
Thanks for reaching out, but this feedback mechanism is specifically for documentation issues. Unfortunately, we are not able to provide general technical assistance for development issues.  For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOver

[2019-07-19 17:35] #1172 closed, assigned to drewbatgit

[2019-07-19 22:14] tesar-tech opened #1173 "GetThumbnailsAsync and GetThumbnailAsync returns different results"
[GetThumbnailsAsync](https://docs.microsoft.com/en-us/uwp/api/windows.media.editing.mediacomposition.getthumbnailsasync) returns different thumbnails then method with single `TimeSpan` as input parameter ([GetThumbnailAsync](https://docs.microsoft.com/en-us/uwp/api/windows.media.editing.mediacomposition.getthumbnailasync)). It should not. Frames from `GetThumbnailsAsync` are "smoother", some of th

[2019-07-19 22:27] sohirani opened #1174 "AcceptImmediately description needs to be updated."
AcceptImmediately for SmsFilterRule with MessageType=Text required minimum TextPrefixFilter of length 3 characters to avoid the app consuming all user text messages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d186bde1-ef18-a4f6-e82a-ce1faa5513f6
* Version Independent ID: 2f1ebf82-2171-4042-3eaf-9a8ed0856f9d
* Conten

[2019-07-20 06:21] LokiMidgard opened #1176 "I assume It will append the text to the file"
I wanted to look in this documentation to verify if my assumption is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dce19346-9252-ec27-5487-fb395c9cf876
* Version Independent ID: a5b53654-73d7-12b3-4ba4-e4d03b2ef4a1
* Content: [FileIO.WriteTextAsync Method (Windows.Storage) - Windows UWP applications](https://

[2019-07-20 06:22] LokiMidgard commented on #1176
Ok, I just saw `AppendTextAsync` so I was probably wrong :)

[2019-07-20 16:00] AnFunctionArray opened #1177 "Inconsistent implementation"
My program sometimes hangs waiting for DisconnectProfileAsync and ConnectProfileWithPasswordCredentialAsync.

However when using Internal::RasMediaManager with the Immersive Control Panel everything works all the time.

Why not make both share the same code base.

Additionally when I create an profile with RequireVpnClientAppUI enabled and then edit this same profile with the immersive control pan

[2019-07-22 13:19] zadjii-msft opened #1178 "GlobalSystemMediaTransportControlsSessionPlaybackInfo.PlaybackStatus Has the wrong type listed"
The docs list `Windows.Media.MediaPlaybackStatus` as the type of this property, when the actual type is `Windows.Media.Control::GlobalSystemMediaTransportControlsSessionPlaybackStatus`. Both enums have the same states, but they're ordered differently, so straight casting them also won't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-07-22 17:49] drewbatgit commented on #1178
Thanks for your feedback. The type information is automatically generated by our doc build system from the source files, so it will require an engineering fix to correct this issue. I've opened a bug to drive this fix.

[2019-07-22 20:49] TinoMSoft commented on #1060
Since Windows 10 Update 1903, do I get an exception from store service if I call GetAppAndOptionalStorePackageUpdatesAsync, instead receive an empty list.

Message:
The operation attempted to access data outside the valid range (Exception from HRESULT: 0x8000000B)

`
var context = StoreContext.GetDefault();
// Create the updates that are available.
IReadOnlyList<StorePackageUpdate> updates = await

[2019-07-23 00:30] stevewhims commented on #1177
Hi, @bsld, thanks for reaching out with this issue. For problems/errors/omissions *with the actual documentation* about how Windows APIs work, this feedback mechanism (**Send feedback about** \> **This page**) takes you to the right place to raise those.

But this particular issue doesn't look like something that I can fix by making a change to the docs. This feedback mechanism is to draw attentio

[2019-07-23 00:30] #1177 closed, assigned to stevewhims

[2019-07-23 18:37] saintmatthieu opened #1179 "Doc mistake"
Isn't "Creates a new AudioFrameOutputNode" that should be stated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df08eff6-351c-d331-3d1c-ce454c6c06e1
* Version Independent ID: ffe83cb3-f6ca-c56a-9b98-7b017a0d8b9e
* Content: [AudioGraph.CreateFrameOutputNode Method (Windows.Media.Audio) - Windows UWP applications](https

[2019-07-23 19:03] #1174 closed, assigned to GrantMeStrength

[2019-07-23 19:26] knicholasa commented on #1176
You got it :) The [Work with files](https://docs.microsoft.com/en-us/windows/uwp/get-started/fileio-learning-track) doc talks about this in [the section on writing text to a file](https://docs.microsoft.com/en-us/windows/uwp/get-started/fileio-learning-track#write-text-to-a-file). **WriteTextAsync** will replace the contents of the file, while **AppendTextAsync** will append it.

[2019-07-23 19:26] #1176 closed, assigned to knicholasa

[2019-07-24 10:34] konsoletyper opened #1183 "Links to generic types with specific type arguments are unusable"
There are lots of links like these: `IAsyncOperationWithProgress&lt;IBuffer, ulong&gt;`, where the whole text is a single link. This makes this link unusable, since in case of APIs that return interfaces like IAsyncOperation, IVector, etc, I often interested in type argument's API rather than in generic type API. Compare this to [Files.lines](https://docs.oracle.com/javase/8/docs/api/java/nio/file

[2019-07-24 18:29] drewbatgit commented on #1179
Thank you for catching this error! It has been fixed.

[2019-07-24 18:29] #1179 closed, assigned to drewbatgit

[2019-07-24 18:36] lookunder opened #1184 "MediaFrameSourceGroup.FindAllAsync Method does not return the depth camera."
When calling MediaFrameSourceGroup.FindAllAsync, I do not get the depth camera for the Razer Stargazer, only the color camera. This uses the Intel RealSense2 SR300 driver which I can see installed in the Device Manager under Imaging Devices. The camera works properly with the Intel RealSense Viewer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-07-24 18:39] drewbatgit commented on #1184
Thanks for reaching out with your feedback. This channel is specifically for issues in the documentation. For technical support support you should consult our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflo

[2019-07-24 18:39] #1184 closed, assigned to drewbatgit

[2019-07-25 00:29] stevewhims commented on #1183
Hi, @konsoletyper, thanks for raising this issue. For this topic, I refactored the link (and the "See also") in the way you suggested. I did the same for another 34 topics in this namespace where the parameter types are non-primitive. ~Steve

[2019-07-25 08:50] jbrianceau opened #1185 "MediaPlaybackList.MaxPrefetchTime property description is confusingly worded"
MediaPlaybackList.MaxPrefetchTime property is currently described in [windows.media.playback/mediaplaybacklist_maxprefetchtime.md](https://github.com/MicrosoftDocs/winrt-api/blob/docs/windows.media.playback/mediaplaybacklist_maxprefetchtime.md) as:

That looks grammatically incorrect, and is very likely to give a headache to whoever tries to actually understand what this property is.

---
#### Doc

[2019-07-25 08:50] #1153 closed, assigned to nobody

[2019-07-25 08:50] jbrianceau commented on #1153
Closing this one and creating a new one with a direct link to the doc https://github.com/MicrosoftDocs/winrt-api/issues/1185

[2019-07-25 18:47] samyun opened #1186 "AccessDeniedException -> System.UnauthorizedAccessException"
Various APIs in this package reference AccessDeniedException , but that exception doesn't exist. It's actually System.UnauthorizedAccessException

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad2072a-e249-6d75-7770-8e9f05917f63
* Version Independent ID: 36891e06-dd39-14fb-8559-5bbf6e4f7574
* Content: [PackageManager.

[2019-07-25 21:07] konsoletyper commented on #1183
Hello. I don't think this issue can be closed. I don't think you should change documentation text to resolve it. I believe you guys generate documentation in the way similar to Javadoc, JSDoc, doxygen, etc. And I believe that text like

Is generated automatically from method signature. So the **proper** way is to update you documentation generation tool, not specific documentation pages. Please, r

[2019-07-25 21:56] stevewhims commented on #1183
You're right, @konsoletyper, getting that improved systematically would be great. So, I've filed an internal work item tracking that work. And I'll monitor it along with the others in my list. I'll go ahead and re-close here, since I'm taking care of it internally.

In this case, the writer had added links manually, so I think it was worth fixing/improving those.

Thanks again!
~Steve

[2019-07-25 21:56] #1183 closed, assigned to stevewhims

[2019-07-25 23:00] kathyang opened #1187 "Wrong default Minimum and Maximum values for ProgressBar"
This docs page says "By default Minimum is 0 and Maximum is 1", but if you click into the page for Maximum you can see that the default Maximum value for ProgressBar is 100 - and if you create an empty project with just a ProgressBar the max value defaults to 100, not 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2019-07-26 08:02] konsoletyper commented on #1183
Thanks! Hope they'll able to fix documentation generator soon.

[2019-07-26 21:58] kikisaints commented on #1187
Created an internal PR to fix this typo.

[2019-07-28 16:25] jhp518 commented on #339
Is anyone ever going to respond?

[2019-07-29 13:09] velocitysystems commented on #1106
@JimmyRespawn We also have experienced this and have posted it on the Windows Developer feedback forum. Please upvote if you can.

https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/38253688-backgrounddownloadprogress-totalbytestoreceive-is

[2019-07-30 00:56] daviddetweiler commented on #776
Should also mention in said future example that `ReadAsync` can (and does) return 0-length buffers for certain end-of-stream conditions (in my case, I observed this behavior on the `InputStream` of a `StreamSocket` whose connection had closed).

[2019-07-30 16:11] alexnesh opened #1189 "MouseWheelParameters.DeltaScale does not reflect "Choose how many lines to scroll each time" Mouse setting"
As stated in the title - the `MouseWheelParameters.DeltaScale` property does not reflect the mouse setting for **_Choose how many lines to scroll each time_**. My interpretation of the docs was that this API was the UWP equivalent of `SystemInformation.MouseWheelScrollLines` in .NET Framework, but I'm guessing that I'm just interpreting this incorrectly :)

Is there any way for a UWP app to query

[2019-07-31 05:29] AbhinavSharma96 commented on #305
This code is working fine for laptops. They have battery but for desktop system there is no battery. so when power supply goes off  it does't show any response. How can get a response  from UPS (Uninterruptible Power Supply) when power supply off Using C#.

[2019-07-31 15:21] sharpninja commented on #790
In the absence of the Kind property setter, how do we create a resource from a StandardUICommand using the constructor?

[2019-07-31 16:53] avknaidu opened #1190 "FailIfExists returns E_Fail when renaming file from lower case to upper case"
I would like to rename a file from Lowercase to upper case. So i use the Enum "FailIfExists" for that. But when ever i do that, it throws an exception. Looks like this method is looking for case
sensitive file name somewhere. Is that expected behavior? or is it a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30b2

[2019-07-31 17:53] lukeblevins commented on #1190
The RenameAsync method does seem to check the case of the new name and compare it to the old one almost as if it creates a new item entirely.

[2019-07-31 18:03] hickeys commented on #1168
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-07-31 18:03] #1168 closed, assigned to hickeys

[2019-07-31 22:21] Karl-Bridge-Microsoft commented on #1189
Hi @alexnesh - As the API description states "Gets or sets a value that indicates the change in **scale** associated with input from the wheel button of a mouse." It sounds like you might be looking for the https://docs.microsoft.com/en-us/uwp/api/windows.ui.input.mousewheelparameters.chartranslation property.

[2019-07-31 22:21] #1189 closed, assigned to Karl-Bridge-Microsoft

[2019-08-01 20:01] knicholasa commented on #1130
Hi @AliveDevil, thanks for leaving this feedback. Would it be possible for you to provide the keys that were not deleted so the team can investigate this further?

[2019-08-02 01:29] allan-ok opened #1191 "Incorrect enum"
Repeated values on enum

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183dd6c1-e193-116d-b1fd-536526af139e
* Version Independent ID: 40cb2e15-7d46-9054-be46-95cc65989c65
* Content: [FlyoutShowMode Enum (Windows.UI.Xaml.Controls.Primitives) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windows.ui

[2019-08-02 15:28] shaikh-amaan-fm opened #1192 "NOTE: in JS, you have to call start() method to execute invokeScriptAsync()"
don't know why MS didn't told us this.
when using js, you have to use invokeScriptAsync() in the following way.

//html
&lt;x-ms-webview src="_URL_" id="frm"&gt;&lt;/x-ms-webview&gt;

//JS
var webV = document.getElementById("frm");
webV.invokeScriptAsync("_functionName_","_parameters_").start();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-08-03 13:16] verelpode opened #1193 "Confusing docs for WebView.UnsafeContentWarningDisplaying"
Hello, I'd be grateful if you could improve the documentation for [WebView.UnsafeContentWarningDisplaying](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.webview.unsafecontentwarningdisplaying).  It has the following ambiguous statement:

What is that supposed to mean in regards to Windows versions before and after 8.1?  Is `UnsafeContentWarningDisplaying` still relevant in Wind

[2019-08-03 16:15] Felix-Dev opened #1194 "Argument error handling"
What happens when you pass in 'null' for the user? Is an exception thrown? If yes, what kind of exception? I shouldn't have to make a test call to find that out (a System.ArgumentException is thrown when you pass in 'null'). Please add that info to the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bef5

[2019-08-03 16:22] Felix-Dev opened #1195 "Argument error handling"
What happens when I specify an ID for which a user doesn't exist? Will there be an exception? If yes, what kind of exception? If not, how does the return value look like? Is it 'null'?

Please specify such information in the documentation. I shouldn't have to write test code to find out how invalid input is handled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-08-04 12:08] alim-n commented on #769
What are requirements to obtain permissions to use StorageProviderSyncRootManager?
I managed to run cloudmirror sample and started implementation in my project, however I can't figure out why I keep getting HRESULT: 0x80070005 (E_ACCESSDENIED). I've tried creating similar project structure by including UWP C# project into application packaging project, but it didn't change anything

[2019-08-04 21:10] FactoryXCode commented on #906
That's correct. There is no such Windows.Media.ClosedCaptioning.dll. Not in the 32 or 64 bit version of (1903 build 18362.267) Windows 10 may 2019.

[2019-08-05 17:38] alexnesh commented on #1189
Hi @Karl-Bridge-Microsoft - thanks for the response! The value you referenced, `CharTranslation`, also does not change when I update the mouse setting for **_Choose how many lines to scroll each time._**, even after restarting the app, so that doesn't give me a way to scroll more/less. In fact, it seems none of the `MouseWheelParameters` change when I update that setting. Is this a bug, or am I mi

[2019-08-05 17:54] jnvbui opened #1196 "AppMemoryUsageIncreased not firing"
This event is not firing for me even when memory increase causes app to eventually crash.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa3f3d87-fbe0-cbba-9340-0782c8e7f83f
* Version Independent ID: e015d3be-efe3-e80e-af2b-5e081dd221ca
* Content: [MemoryManager.AppMemoryUsageIncreased Event (Windows.System) - Windows

[2019-08-05 21:58] jwmsft commented on #582
When UWP docs are switched over to the .NET rendering pipeline, the docs will have derived type info like the WPF docs do. This work is being tracked in our internal Azure Devops database.

[2019-08-05 21:58] #582 closed, assigned to IrinVoso, QuinnRadich, jwmsft, mijacobs

[2019-08-05 22:42] zipswich opened #1197 "It is hard to read the description column of the table."
I tried different browsers (Chrome, Edge, Firefox) on different monitors (including two 2560 x 1080 ultra-wide monitors),  I always have to go to the bottom of the table to use the scroll bar to view the description column of the table API table.  It is a nuisance.  Not sure why the API column needs so big width.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-08-05 22:46] jwmsft commented on #805
Link was updated.

[2019-08-05 22:46] #805 closed, assigned to micahl, jwmsft

[2019-08-06 02:30] stevewhims commented on #1033
I just sent another reminder internally, asking for that info; no news yet.

[2019-08-06 02:31] stevewhims commented on #1014
Let's go ahead and close this optimistically. @defaultshr, if you're still blocked then please reopen it and I'll keep requesting info about it internally.

[2019-08-06 02:31] #1014 closed, assigned to PeterSmithRedmond, stevewhims

[2019-08-06 17:17] verelpode commented on #582
Thanks!  That's good news, especially because it's much faster to view derived classes in the docs than to use the "Object Browser" window in VS.  The Object Browser window is quite useful and it can show derived classes but it's painfully slow at producing the list of derived classes, so it will be nice to have this info brought back in the docs.

I don't know how "the .NET rendering pipeline" wo

[2019-08-07 15:57] verelpode commented on #1149
Hello, I agree with @JosephClampett.  I would much appreciate some documentation that explains how to place a custom data format on the clipboard.

Likewise, I would also much appreciate UWP documentation that explains how to do the UWP equivalent of Win32's ["Private Clipboard Formats"](https://docs.microsoft.com/en-us/windows/win32/dataxchg/clipboard-formats#private-clipboard-formats).  How can

[2019-08-07 16:41] verelpode commented on #1149
Is that a bug in GitHub?  Directly prior to this message, GitHub says:

I didn't unassign @eliotcowley and AFAIK I don't have access to assign or unassign anyone in the MicrosoftDocs repo.

[2019-08-07 16:47] Karl-Bridge-Microsoft commented on #969
Thanks for the feedback @JuanMejiaVelez! This is a known issue that was introduced by our new open authoring publishing tools. We're moving to a new publishing pipeline in the near future with the hope that this issue will be resolved.

[2019-08-07 16:47] #969 closed, assigned to Karl-Bridge-Microsoft

[2019-08-07 18:05] Karl-Bridge-Microsoft commented on #653
Thanks for the feedback, @Code-ScottLe. I've updated a number of related API topics with this link.

[2019-08-07 18:05] #653 closed, assigned to Karl-Bridge-Microsoft, YuliKl

[2019-08-07 20:09] jwmsft commented on #1187
Doc is updated.

[2019-08-07 20:09] #1187 closed, assigned to kikisaints, jwmsft

[2019-08-07 20:53] mimisasouvanh commented on #1191
@allan-ok Thank you for reporting this issue. We've opened an internal bug to track this issue while we investigate.

[2019-08-07 21:02] Karl-Bridge-Microsoft commented on #918
Issue identified and fixed.

[2019-08-07 21:02] #918 closed, assigned to Karl-Bridge-Microsoft

[2019-08-07 21:15] mijacobs commented on #331
The property value type doesn't change to match the type of the currently selected language (it still says "string" when it's on C++/CX).

[2019-08-07 21:25] Karl-Bridge-Microsoft commented on #968
Thanks for the feedback @JuanMejiaVelez. This is a known issue introduced by our open authoring platform. We will be moving to a new publishing pipeline soon that should fix this. In the meantime, we've updated the links to point to a generic attached properties topic.

[2019-08-07 21:25] #968 closed, assigned to Karl-Bridge-Microsoft

[2019-08-07 21:49] mimisasouvanh commented on #1050
We have an internal bug to track this issue: Bug 79037: [UWP] event members pages are missing API contracts, requirements info

[2019-08-07 22:23] mimisasouvanh commented on #1084
Created internal bug to track this issue: Bug 111640: IList<> under "Property Value" needs hotlink to IList<> page

[2019-08-07 22:32] mimisasouvanh commented on #1096
@jevansaks These broken links can be caught in a CATS test, no? Looks like the broken link is hand-authored and should be https://docs.microsoft.com/en-us/dotnet/api/windows.ui.color.fromargb?view=dotnet-uwp-10.0. Am I misunderstanding the request here?

[2019-08-07 23:03] jevansaks commented on #1096
@mimisasouvanh This is a confusing thing about our projections. In C# it would be Color.FromArgb but in C++ you would use ColorHelpers.FromArgb. It would be nice to have a way where these types of links don't have to always be hand authored but we can have a way to link in such a way that you see the right function for the language you're using. @MikeHillberg may have thoughts too.

[2019-08-07 23:12] Karl-Bridge-Microsoft commented on #867
Thanks for the feedback, @antmor. I've added a link to the parameter type topic to both this topic and a number of related topics.

[2019-08-07 23:12] #867 closed, assigned to Karl-Bridge-Microsoft

[2019-08-07 23:17] mimisasouvanh commented on #1096
@jevansaks Ah thanks for the explanation! I will talk to @IrinVoso more about this and create an internal tracking customer suggestion.

[2019-08-07 23:22] mimisasouvanh commented on #331
This is related to the other GitHub issue:  https://github.com/MicrosoftDocs/winrt-api/issues/1084. I've created an [internal bug](https://ceapex.visualstudio.com/Engineering/_queries/edit/111640/?triage=true) to track. @mijacobs please close the issue.

[2019-08-08 22:16] knightmeister commented on #663
Can't believe this is still open almost a year later.... came to report the same thing.

[2019-08-09 15:59] alexnesh commented on #1189
@Karl-Bridge-Microsoft - happy to open a bug if these values indeed are intended to change with the aforementioned property, but some guidance on whether or not this is a bug would be great. Thanks.

[2019-08-09 16:59] Karl-Bridge-Microsoft commented on #1189
@alexnesh - In further reading the CharTranslation topic, the remarks specify:

If the wheel button is set to scroll three lines at a time for each detent and the value of CharTranslation is set to (8,16), vertical scrolling is applied at 3 x 16 = 48 device-independent pixel (DIP) per detent. Horizontal scrolling through the mouse tilt wheel is applied at 3 x 8 = 24 device-independent pixel (DIP)

[2019-08-09 17:04] alexnesh commented on #1189
Ok - so CharTranslation does not give me the setting that I'm looking for, namely, how many lines to scroll for each detent.

What I'm looking for is the UWP equivalent of `SystemInformation.MouseWheelScrollLines` - does UWP expose such a property, or am I out of luck here?

[2019-08-09 18:11] robv8r opened #1198 "See Also - Last Link not working."
The last link under "See Also" isn't working propertly.  It appears that markdown is incorrect.

Currently, all that is displayed is "Windows.UI.Xaml.RoutedEventArgs tedEventArgs](routedeventargs.md)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2081cd27-43ae-afd6-16ff-b1283aec94e1
* Version Independent ID: 3f5a5a29-

[2019-08-09 21:33] jwmsft commented on #1198
Thanks for bringing this to our attention. The link is fixed now.

[2019-08-09 21:33] #1198 closed, assigned to jwmsft

[2019-08-11 18:37] tbrummel opened #1200 "Wrong example"
First example is not for this topic - it has nothing to do with styles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b290bdb-24fa-8951-625e-e8cbe19ded49
* Version Independent ID: 8766e84a-f9ac-ebd5-224b-0ef888243cf7
* Content: [Style.TargetType Property (Windows.UI.Xaml) - Windows UWP applications](https://docs.micr

[2019-08-12 16:14] drewbatgit commented on #1197
Thank you for reporting this issue. The formatting of the table has been updated.

[2019-08-12 16:14] #1197 closed, assigned to drewbatgit

[2019-08-12 16:36] milkyway1 opened #1201 "r6u56jfffffffffff3b jvjn rose wood net work doble slop sink bag off adam rainbow snuff supper natureal"
[Enter feedback here]
r9 7hvuhru9n nfen vn0j28h3nen cubwdsvcyeh9ijfpoA\JC0NSX NFB V
0PJGHJREKHK=TJ[.=PY,--JAHXGFZADA
---XFGHRTJ64
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 659e5dbe-7b95-fec7-3d22-275b55304c84
* Version Independent ID: 4a55f79d-7405-a58a-451b-85c0fce49fc6
* Content: [Windows.Security.Credentials.UI Name

[2019-08-12 16:50] Karl-Bridge-Microsoft commented on #1189
Hi @alexnesh, I spoke with the feature team and got this response (they also suggested a minor revision to the description in the topic):

the GestureRecognizer queries it internally, so the output should already be scaled relative to it. These knobs are just to control how the GR converts this already-scaled output to its final result.

So, if you are looking for functionality that isn’t currentl

[2019-08-12 17:32] marb2000 commented on #1193
@jevansaks could you assign this to @adambarlow who is driving WebView right now?

[2019-08-12 17:32] marb2000 commented on #1192
@jevansaks could you assign this to @adambarlow who is driving WebView right now?

[2019-08-12 20:11] jwmsft commented on #1200
@tbrummel, thanks for letting us know about this error. I've updated the doc with the correct code example.

[2019-08-12 20:11] #1200 closed, assigned to jwmsft, MikeHillberg

[2019-08-12 22:50] knicholasa commented on #1190
Thanks for reaching out with your feedback. Comments here are meant for documentation-specific feedback. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the developer suppo

[2019-08-13 10:42] ranaprathap2 commented on #1104
Thanks for the example ! :-)

[2019-08-13 22:07] #1135 closed, assigned to aeloros, chigy, knicholasa

[2019-08-14 15:52] sharkAndshark commented on #731
how can i get the response content and change it?
i just get null....
`
      private async void Webview1_WebResourceRequested(WebView sender, WebViewWebResourceRequestedEventArgs args)
        {
            var res = args.Response;
            var isNull = res == null;//True
        }
`

[2019-08-15 14:45] zipswich commented on #1197
Thank you.  The current format is far better than the previous one on any of the monitors that I use.

[2019-08-15 16:48] jwmsft commented on #452
These links are fixed.

[2019-08-15 16:48] #452 closed, assigned to jwmsft

[2019-08-15 16:53] #738 closed, assigned to jwmsft, MikeHillberg

[2019-08-15 16:56] jwmsft commented on #477
Links are fixed.

[2019-08-15 16:56] #477 closed, assigned to jwmsft

[2019-08-15 17:02] #1167 closed, assigned to jevansaks

[2019-08-15 21:50] jwmsft commented on #1026
Thanks for letting us know about this. The links are fixed now.

[2019-08-15 21:50] #1026 closed, assigned to MikeHillberg

[2019-08-16 19:23] jwmsft commented on #1141
Fixed

[2019-08-16 19:23] #1141 closed, assigned to jwmsft

[2019-08-16 19:24] jwmsft commented on #1059
The default is `true`. The doc has been updated.

[2019-08-16 19:24] #1059 closed, assigned to jevansaks

[2019-08-16 19:31] jwmsft commented on #1124
Thanks for the feedback. The SnapsTo information was there because it's closely related to the IntermediateValue property. To avoid confusion, the text has been updated and includes a link to SnapsTo.

[2019-08-16 19:31] #1124 closed, assigned to kikisaints, jwmsft

[2019-08-16 19:33] jwmsft commented on #1128
Fixed.

[2019-08-16 19:33] #1128 closed, assigned to jwmsft, jevansaks

[2019-08-16 20:30] jwmsft commented on #312
It's standard in the API documentation to list a default value on the property where it's set, not with the value type. For example, [ColumnDefinition.Width](https://docs.microsoft.com/uwp/api/windows.ui.xaml.controls.columndefinition.width) shows the default GridLength value for that property.

[2019-08-16 21:18] michael-hawker commented on #312
Thanks @jwmsft, I think the main issue I always face is this need to drill-in to the right spot from somewhere else.  If I'm looking for this type of info, I'm going to look at the `ColumnDefinition` docs first and look at the properties list:

![image](https://user-images.githubusercontent.com/24302614/63198696-59426f00-c030-11e9-862c-3c5863b4006a.png)

That doesn't provide me any info about the

[2019-08-19 11:07] wldhg opened #1203 "string and String"
How about change `IAsyncOperation &lt;string&gt;` to `IAsyncOperation &lt;String&gt;`?

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 60e56b44-d887-75ab-9a84-bb9d48d3e0fa
* Version Independent ID: e03f14b0-4e9c-4fa5-9928-4d6734b004a7
* Content: [FileIO.ReadTextAsync Method (Windows.Storage) - Windows UWP applications](https://docs.microsoft.com/ko-kr/uwp/a

[2019-08-19 11:09] #1203 closed, assigned to knicholasa

[2019-08-19 11:09] wldhg commented on #1203
My mistake.

[2019-08-19 18:51] antmor opened #1204 "Can we please have a cppwirt sample?"
thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b61186a-4d53-8e97-fbbe-5c46562a65b8
* Version Independent ID: 06bebe97-9d58-94ee-0c14-c6e763e87dc4
* Content: [ToastNotification Class (Windows.UI.Notifications) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windows.ui.notifications.toastnot

[2019-08-21 20:53] BrandonKuenzi commented on #1104
Thank you! Saved my bacon! This really should be part of the documentation.

[2019-08-22 07:46] Freeedy opened #1205 "Use Smart Card in UWP"
Is it  possible  to read smart card content or update  (using apdu commands ) it using those classes ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965bf547-3340-2128-d2c5-4f8932b079bc
* Version Independent ID: cf4b24ac-c1eb-8400-26ce-5fe0b6a61ffa
* Content: [SmartCardReader Class (Windows.Devices.SmartCards) - Windo

[2019-08-25 22:55] ghost opened #1206 "BackgroundDownloader not working when desktop4:SupportsMultipleInstances="true" in manifest"
I've always used BackgroundDownloader to perform several downloads for my UWP app.

I recently inserted the tag into the app manifest file to allow multiple windows of the app, so that the user can open multiple app windows. For this I inserted desktop4:SupportsMultipleInstances="true" in the manifest file: https://docs.microsoft.com/en-us/windows/uwp/launch-resume/multi-instance-uwp

From the mom

[2019-08-26 21:30] indigogiant opened #1207 "Broken reference links"
Hi, the reference links to the CustomHidDeviceAccess sample are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b9e899d-3104-dbbb-4b1e-ffa67d5c5173
* Version Independent ID: 36a131c5-cb84-08bb-12f8-ad6c1c37daf8
* Content: [HidDevice.CreateFeatureReport Method (Windows.Devices.HumanInterfaceDevice) - Windows UWP

[2019-08-27 19:43] GrantMeStrength commented on #1023
Unfortunately this is an artifact of our publishing system, and in this case, cannot be changed.

[2019-08-27 19:43] #1023 closed, assigned to GrantMeStrength

[2019-08-28 01:22] ajportz opened #1208 "Windows 10 Home"
It looks like this namespace now works on Windows 10 Home version 1903.  It looks like it may have been updated in the 1809 release?
https://docs.microsoft.com/en-us/windows/uwp/whats-new/windows-10-build-17763-api-diff#windowsgraphics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e42ef33c-6bc8-a64e-3f9b-07edab79db6d

[2019-08-28 06:38] lmadhavan commented on #495
The classes in this namespace (Windows.Graphics.Imaging) are basically wrappers around the native WIC APIs, which is primarily used for low-level bitmap encoding, decoding and metadata access. SoftwareBitmap isn't really meant to be used directly with XAML, however it does provide DirectX interop and you can use use the Win2D library to load a SoftwareBitmap into a CanvasBitmap and display it on a

[2019-08-28 06:42] lmadhavan commented on #471
The documentation for WriteableBitmap.PixelBuffer has some details on how to access the byte buffer from C++/CX and C++/WinRT: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.imaging.writeablebitmap.pixelbuffer

[2019-08-28 11:08] ghost opened #1209 "Missing GATT Service "Weight Scale""
In the [GattServiceUuids ](https://docs.microsoft.com/en-us/uwp/api/windows.devices.bluetooth.genericattributeprofile.gattserviceuuids) Class it misses the Weight Scale service.

The [Weight Scale service specification](https://www.bluetooth.com/wp-content/uploads/Sitecore-Media-Library/Gatt/Xml/Services/org.bluetooth.service.weight_scale.xml)

[2019-08-28 16:55] edwiness10 commented on #677
This error is due to thread coupling. Because the player works in another thread.

[2019-08-28 16:58] edwiness10 commented on #676
If it is a value outside 0 to 1, give an exception.

[2019-08-28 19:10] drewbatgit commented on #677
Issues in this repo are intended specifically for issues with the documentation. I recommend consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise,

[2019-08-28 19:10] #677 closed, assigned to drewbatgit

[2019-08-28 19:24] drewbatgit commented on #676
I have updated the documentation to reflect that the allowed range for this property is 0 to 1. The change should be visible on the live site in ~24 hours.

I did make a quick sample app to test the behavior of this property and, in my tests, setting a value outside of this range did not result in an exception, but did result in the value being clamped to within the range (a negative value was res

[2019-08-28 19:24] #676 closed, assigned to drewbatgit

[2019-08-28 21:32] rpavlik opened #1211 "IDisplayDeviceInterop?"
It's mentioned here, but not documented. It seems like it might be the key to actually producing some content to display this way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baf38282-9956-1582-e2eb-fd8ce15895af
* Version Independent ID: 9f558858-d309-e925-1ea1-63aa9bb4afc0
* Content: [DisplayFence Class (Windows.De

[2019-08-28 22:15] drewbatgit commented on #1208
I have removed the note about the feature only being available for Pro and Enterprise. The change should be visible on the live site within 24 hours. Thanks for helping keep the documentation up to date and accurate!

[2019-08-28 22:15] #1208 closed, assigned to drewbatgit

[2019-08-30 19:23] ghost opened #1212 "Trying to use in WPF but cannot."
I'm quite new to WPF development so I may be missing something obvious in my workflow or logic.
If I create a reference in my WPF project to Windows.Foundation.UniversalApiContract, I thought that would allow me to use the CaptureElement in my XAML file, but when I add the namespace then the control, I get this message:

Error	XDG0008	The name "CaptureElement" does not exist in the namespace "clr-

[2019-09-01 19:36] benstevens48 opened #1213 "Confirm whether location capability is really required"
Is the location capability really required to construct a Geopoint? I don't want to access the user's location. I am interested only in reading/writing location info to a media file using the GeoTagHelper and possibly displaying or picking this location from a map. I tried it on my local PC and I seem to be able to construct a Geopoint fine without this capability (although I couldn't set the alti

[2019-09-02 05:57] Gavin-Williams commented on #1117
Please can we get some discussion about what this is.

[2019-09-02 21:55] indigogiant opened #1214 "PathGeometry Figures does not accept moveAndDrawCommands"
Attempting to use the 'Figures="moveAndDrawCommands"' syntax doesn't work, instead an error is reported: 'The TypeConverter for "PathFigureCollection" does not support converting from a string.'

There are reports of this from 2015, so I assume that it's intended behaviour and the documentation is incorrect.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-09-03 19:30] rpavlik commented on #1117
This is the furthest I've gotten with this API: I've included some logs, and questions in the comments. https://gitlab.collabora.com/rpavlik/windows-display-enum

[2019-09-04 22:06] vineeththomasalex opened #1215 "appDiagnostics Capability not required"
I don't think appDiagnostics Capability is required to access AppInfo class. That is probably only required to access the AppInfo property for AppDiagnosticInfo class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e617ca3-d599-55db-4017-b9554bcd5c2f
* Version Independent ID: e740d334-bc23-a021-e9db-7cae750a91da
* Con

[2019-09-05 17:30] knicholasa commented on #1130
I've added a note about the need to unregister non-MSIX-packaged desktop apps. It should show up on the page shortly.

[2019-09-05 17:30] #1130 closed, assigned to GrantMeStrength

[2019-09-07 04:45] Yamazaki93 opened #1218 "Missing Link To WiFiAvailableNetwork"
The link to page https://docs.microsoft.com/en-us/uwp/api/windows.devices.wifi.wifiavailablenetwork is missing from property value

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d31f1d8-199f-e1d7-52ae-8872f5637400
* Version Independent ID: 04724f66-aa82-8e9b-7ed9-a6edcd9e1b1c
* Content: [WiFiNetworkReport.AvailableNet

[2019-09-09 19:52] linhnddev opened #1219 "VP9 supports for AdaptiveMediaSource?"
When I use DASH/HLS with VP9 formated video, MediaPlayer doesn't load

[2019-09-09 23:07] Sigis-Leal opened #1220 "GpioChangeCount"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98303ab3-01fd-5039-f324-a4ae287050bf
* Version Independent ID: 0e926a94-752f-884c-c1f9-672c9c834814
* Content: [GpioChangeCount Struct (Windows.Devices.Gpio) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/windows.devices.gpio.gpi

[2019-09-10 14:28] EzraWard opened #1221 "Code Sample"
This page doesn't have a code sample. I implemented code using this method, and awaited it without assigning the returned IAsyncOperationWithProgress to a variable. Sometimes the method would never return.

If the implementation of code using this method mirrors the usage of AddPackageAsync, which it appears to, then that would be a good detail to include here. We fixed our code by doing a similar

[2019-09-10 17:49] mcleanbyron commented on #1207
Thanks for reporting the broken link. This has been fixed.

[2019-09-10 17:49] #1207 closed, assigned to mcleanbyron

[2019-09-10 20:20] lukeblevins opened #1222 "Explain the difference between GetScaledImageAsThumbnailAsync() and GetThumbnailAsync()"
It would benefit the community for there to be a documented explanation regarding the differences between these methods. Which is the most optimized for a scenario of rapidly accessing many StorageItemThumbnails in succession?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2d53c0-d5ec-8ac2-df90-d309702a8631
* Version

[2019-09-11 10:56] poizan42 opened #1223 "Mission information about Windows 8.x support"
As Windows 8.1 Update is still supported until January 2023 the page should probably still list availability in Windows 8.1 (this isn't the only page where this is a problem, but it was the one I stumbled upon). The old and somewhat broken version of the page [here](https://msdn.microsoft.com/en-us/windows/desktop/windows.management.deployment.packagemanager) contains the following:

---
#### Docu

[2019-09-11 22:00] #741 closed, assigned to mijacobs

[2019-09-12 08:56] defaultshr opened #1224 "How can we access StreamSocket object underlying HttpClient?"
In case of HTTPS, we would like to access server certificate details. How can this be accomplished.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e82a1752-c86f-2764-bd85-45f8ca1ed6a3
* Version Independent ID: f2a6cfa3-b81f-bad3-6f05-486a83b30eb5
* Content: [HttpClient Class (Windows.Web.Http) - Windows UWP application

[2019-09-12 17:13] jevansaks commented on #1212
To use a UWP XAML element in your app you would need to use XAML Islands. Directly using the element in your WPF tree isn't supported.

[2019-09-12 17:13] #1212 closed, assigned to jwmsft

[2019-09-12 20:30] jwmsft commented on #1170
Docs have been updated.

[2019-09-12 20:30] #1170 closed, assigned to YuliKl, jwmsft

[2019-09-12 22:19] stevewhims commented on #1224
Adding @PeterSmithRedmond to see whether he knows the answer. If so, and if we need to document that details, then I'll do that.

[2019-09-13 01:19] #634 closed, assigned to QuinnRadich

[2019-09-13 18:01] PeterSmithRedmond commented on #1224
There's two ways. The simplest way is to look at the [TransportInformation](https://docs.microsoft.com/en-us/uwp/api/windows.web.http.httprequestmessage.transportinformation)  data that's attached to each individual HttpRequest. (It's on the HttpRequest and not the HttpResponse for the subtle reason that if the TLS/SSL connection fails, there won't be an HttpResponse).

You can also get it by spec

[2019-09-13 18:04] PeterSmithRedmond commented on #1224
I just provided an answer; we already had reasonable docs for this.

From: Steven White <notifications@github.com>
Sent: Thursday, September 12, 2019 3:20 PM
To: MicrosoftDocs/winrt-api <winrt-api@noreply.github.com>
Cc: Peter Smith <pesmith@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/winrt-api] How can we access StreamSocket object underlying HttpClient? (#122

[2019-09-16 20:15] jwmsft commented on #1036
Doc is updated (same info as ItemsControl.ItemsSource).

[2019-09-16 20:15] #1036 closed, assigned to jwmsft

[2019-09-17 02:18] xixiaxixi opened #1226 "But how can I get complete list of 16-bit service class UUIDs?"
The complete list of 16-bit service class UUIDs(data type:0x03) is neither in `eventArgs.Advertisement.DataSections` nor in `eventArgs.Advertisement.ServiceUuids`.

The doc says, property `ServiceUuids` is "The list of service UUIDs in 128-bit GUID format in a BluetoothLEAdvertisement."

So how can I get complete list of 16-bit service class UUIDs in a Bluetooth LE advertisement watcher(`Bluetooth

[2019-09-18 01:11] xixiaxixi commented on #1226
This is C# code
[code]

This is C# result
[code]

This is a screenshot of a ble demo app on google play.

![image](https://user-images.githubusercontent.com/24312323/65095442-c95b6080-d9f3-11e9-8b24-44d8bc6762a5.png)

The bluetooth module is a ble5.0 pass-through module named 'HC42'.

[2019-09-19 18:12] sarveshsurana opened #1227 "Link to "Xaml Island" broken"
The following link to https://docs.microsoft.com/en-us/apps/desktop/modernize/xaml-islands under the section "ContentDialog in AppWindow or Xaml Islands" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c14008-04b3-438b-5fae-3577cf233ab9
* Version Independent ID: 52f2f07b-034e-1d24-1b48-b4de7585e71a
* Conten

[2019-09-19 18:35] caseymeekhof opened #1228 "IsGrasped and HoloLens 2"
For HoloLens 2, this property also triggers when pinching or closing your hand.  This is described in the developer guide here: https://docs.microsoft.com/en-us/windows/mixed-reality/hands-and-motion-controllers-in-directx#cross-device-input-properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0667364-0d31-b547-8

[2019-09-19 22:54] dani924 opened #1229 "Wrong url link"
In "An asynchronous operation that returns an AppRecordingResult object upon completion, which contains information about the status of the recording operation." AppRecordingResult  link is pointing to local address on disc instead of docs.microsoft.com address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fed651da-1

[2019-09-19 23:20] Karl-Bridge-Microsoft commented on #1228
@caseymeekhof - Thanks for the feedback. I've updated the topic with more info.

[2019-09-19 23:20] #1228 closed, assigned to Karl-Bridge-Microsoft

[2019-09-20 17:28] stevewhims commented on #1226
Hi, @xixiaxixi, I've reached out to the feature team for input on this question. If they need the documentation to be updated, then I can do that. Thanks for filing the issue.

~Steve

[2019-09-20 21:30] #1227 closed, assigned to jwmsft

[2019-09-20 23:39] #1190 closed, assigned to knicholasa

[2019-09-20 23:40] knicholasa commented on #1085
Thanks for reaching out with your feedback. You'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the d

[2019-09-20 23:40] #1085 closed, assigned to GrantMeStrength

[2019-09-20 23:47] knicholasa commented on #830
Thanks for reaching out with your feedback. This sounds like a support request to me. You'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.co

[2019-09-20 23:47] #830 closed, assigned to knicholasa

[2019-09-22 00:57] JuanMejiaVelez opened #1234 "Please update the Application resources and localization sample"
The sample link points to a Windows 8 sample, although many of the API's might be consumed the same, this is a UWP API document and the linked sample is not applicable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fe82c8a-a9fb-64ab-cfdb-6c27724089f5
* Version Independent ID: 162c916f-aa48-2b28-f807-796f0056e097
* Co

[2019-09-22 11:50] sbeaudoin opened #1235 "More details about what is the "Menu" modifier key."
All the other modifiers are evident, but what is the "Menu" modifier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71e30e65-537f-0c95-7b5d-e5c08f4c69ec
* Version Independent ID: ad8154d1-0d08-11f6-e6d5-03965203856c
* Content: [VirtualKeyModifiers Enum (Windows.System) - Windows UWP applications](https://docs.microsof

[2019-09-22 11:55] sbeaudoin opened #1236 "Add the default key assigner to each virtual key."
I would appreciate if you can details the default physical key assigned to each virtual key.  I suppose, without confirmation, the "Go Back" key is backspace?  I have no way to confirm that other than trying it with code.  Google details are sparse on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf98772b-2d62-7

[2019-09-23 15:45] FrankGorgenyi commented on #1226
Hello xixiaxixi,

First thank-you for taking the time to provide such great information in the issue. We believe this is a defect and I have filed a work item on my team, we are not aware of a workaround unfortunately.

_OS Work Item 23527561: BluetoothLEAdvertisementReceivedEventArgs does not contain complete list of 16-bit service class UUIDs_

Secondly, you could speed up the resolution if you

[2019-09-23 20:27] hickeys commented on #1236
The virtual "Go Back" key is mapped to the physical go back key. Note that many of the keys in this list are not included on US standard 104 key keyboard.

[2019-09-23 20:27] #1236 closed, assigned to hickeys

[2019-09-23 20:29] hickeys commented on #1235
The menu key is the context menu key included on many, but not all, Windows keyboards. For more information, see [Menu key](https://en.wikipedia.org/wiki/Menu_key)

[2019-09-23 20:29] #1235 closed, assigned to hickeys

[2019-09-24 10:14] sbeaudoin commented on #1235
How about including this information on the page?  I am sure I am not the only one who doesn't know what this key is.

[2019-09-24 10:17] sbeaudoin commented on #1236
"Physical Go Back Key"?  You know the joke?  A user see the message "Press any key to continue" and ask himself "Where is the 'any' key?" ?  What is the "Go Back" key?  Seriously though.

[2019-09-24 19:20] hickeys commented on #1196
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-09-24 19:49] hickeys commented on #809
Closing this issue as there has been no activity for quite some time

[2019-09-24 19:49] #809 closed, assigned to hickeys

[2019-09-25 12:07] jingkecn opened #1239 "Where is `HasKey` method?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8737acc0-6999-b6b6-b2a0-0e60d1fbaced
* Version Independent ID: 674a4a42-6206-d73a-cc08-a27285694599
* Content: [CharacterGroupings.Lookup(String) Method (Windows.Globalization.Collation) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp

[2019-09-25 15:05] Polarts opened #1240 "Stack overflow exception when accessing PlaybackRate"
I've defined the following MediaElement:
`<MediaElement x:Name="MediaPlayer"
                          Source="ms-appx:///Media/video.mp4"
                          AutoPlay="False"
                          HorizontalAlignment="Stretch"
                          VerticalAlignment="Center"/>`

After calling `MediaPlayer.Play()` I try to increase the playback rate with this tap callback:
`private v

[2019-09-25 16:41] drewbatgit commented on #1229
Thank you for reporting this issue! This link has been fixed.

[2019-09-25 16:41] #1229 closed, assigned to drewbatgit

[2019-09-25 22:38] laishiekai opened #1241 "Cannot trigger this event when switching from a dock to laptop mode"
Currently I am testing if my app still can change the display brightness after switching from dock mode (IsSupported==false) to regular laptop mode (IsSupported==true). I notice that if I start my app with dock mode (connected to two monitors) and remove the laptop from the dock, IsSupported will remain false. The event is not triggered either, at least in visual studio the break point in the call

[2019-09-25 22:55] #947 closed, assigned to lastnameholiu

[2019-09-26 00:34] stevewhims commented on #1241
Hi, @laishiekai, thanks for reaching out with this issue. I experimented on my laptop (and on a desktop PC), but I wasn’t able to get a case like yours where the event was raised, so I couldn't determine whether or not the property value had changed. Unfortunately, then, from my experiments, I'm not seeing the unexpected API behavior that you're seeing.

In any case, For problems/errors/omissions

[2019-09-26 00:36] Karl-Bridge-Microsoft commented on #1239
@jingkecn - thanks for raising this issue. The remark is incorrect. I've updated the topic with the correct detail provided by the feature team.

If successful, this method returns the label. Otherwise, it returns the input value.

[2019-09-26 00:36] #1239 closed, assigned to Karl-Bridge-Microsoft

[2019-09-26 02:22] petercoin opened #1242 "Document Improvement"
It is better to add a snippet for DeviceCapability in Package.appxmanifest. Besides, there should be a Remarks section for blocked usage pages by UWP such as mouse, keyboard...etc..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83152a6e-786e-58ea-7af9-71046fbdcce4
* Version Independent ID: f1ddf84f-a0a6-f20b-e7e2-c384

[2019-09-26 06:30] Polarts commented on #1240
I tried doing the same with a click callback and it worked fine.
The exception is only thrown with a tap callback.

[2019-09-26 09:13] ws7789337 opened #1243 "The same update is applicable on the subsequent paragraph (the color info isn't stripped from the bitmap if ShowAsMonochrome is false)."
The same update is applicable on the subsequent paragraph (the color info isn't stripped from the bitmap if ShowAsMonochrome is false).

_Originally posted by @MikeHillberg in https://github.com/MicrosoftDocs/winrt-api/pull/1079#issuecomment-490699858_

[2019-09-26 21:58] hkhmsft commented on #1201
The [Microsoft Open Source Code of Conduct](https://opensource.microsoft.com/codeofconduct/), which outlines the expectations for community interactions in and around docs.microsoft.com, is designed to help "provide a welcoming and inspiring community for all." The content of this issue appears to be out of sync with the code of conduct, so we have closed it.

[2019-09-26 21:58] #1201 closed, assigned to GrantMeStrength

[2019-09-26 23:08] laishiekai commented on #1241
Thank you for your quick response! I feel like it might be the way I use the API. I have posted a question on SO:
https://stackoverflow.com/questions/58124485/brightnessoverride-issupportedchanged-is-not-triggered-when-i-switch-the-monitor

[2019-09-27 18:10] jevansaks commented on #1240
@austin-lamb can you help triage this?

[2019-09-27 19:16] Austin-Lamb commented on #1240
Hi @Polarts - we're recommending that apps move away from MediaElement and use MediaPlayerElement if possible.  It is where our investments have been for the past couple years, and has more features than MediaElement.  MediaElement is effectively deprecated.

Could you see if MediaPlayerElement may be able to work for your scenario?

[2019-09-28 18:36] weitzhandler commented on #306
Is there any way to access property bindings in MarkupExtensions?

Here are a couple of usage examples:

[code]

How can I access the bound value in the extension, is there any way to access it or resolve a binding? The `ProvideValue` method doesn't come with a `serviceProvider` parameter or anything. Any hack for this?

Related: https://github.com/microsoft/microsoft-ui-xaml/issues/741

[2019-09-29 17:41] saber-nyan commented on #655
Got error `HRESULT: 0x80070005 (E_ACCESSDENIED)`, what permissions do i need to call `GlobalSystemMediaTransportControlsSessionManager.RequestAsync()`?

[2019-10-01 01:06] kburgoyne opened #1245 "Imprecisely documented."
Experimenting based on experience writing (non-Windows) drivers strongly suggests this property is the amount of time the serial device (driver?) will wait for another byte to arrive before timing out and returning a partial buffer amount. A value of 0ms seems to be "infinite" -- meaning the device will never return a partial buffer because it will wait infinitely for another byte to arrive until

[2019-10-03 00:20] evelynwu-msft commented on #306
@weitzhandler, by "access the bound value", are you referring to the Binding Source, i.e. the value of the data context's `IsBusy` property?

If that is the case, then your second example should work today, as your `Negator` custom markup extension's `Value` property is the Target of the Binding.

For your first example, I would recommend foregoing the custom markup extension and just author a sta

[2019-10-04 04:49] gwynjudd opened #1249 "What does "This method cannot be used by desktop callers." mean in context?"
Having followed the guide here https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/send-local-toast-desktop to get notifications working, I then worked through to this page and found the note:

Important

This method cannot be used by desktop callers.

Can some elaboration be made on this? For context, I have used the document I linked to above to get notifications wo

[2019-10-04 14:25] adamhewitt627 opened #1250 "Examples?"
This class could use some documentation in how to use it. The API isn't all that hard to understand, but I don't get the content info restoring between launches. What is the value of it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a89e182-6fc5-013e-9c50-5216fc0ebd87
* Version Independent ID: 5d93aa6b-dde7-22fd-3fc0

[2019-10-04 17:56] yac073 opened #1251 "Wrong hyper link"
In the Remarks section, there appears two "Custom video effects" where the second one links to Custom audio effects

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10737767-7816-11c1-4794-e2d9bb5fe858
* Version Independent ID: 7abee57d-6ad6-95e1-c5be-691aac33fa4d
* Content: [Windows.Media.Effects Namespace - Windows UWP

[2019-10-04 22:35] drewbatgit commented on #1251
Thank you for reporting this issue. The text of the link to Custom audio effects has been updated.

[2019-10-04 22:35] #1251 closed, assigned to drewbatgit

[2019-10-06 05:14] JuanMejiaVelez opened #1254 "SpeechRecognitionRestult points to the wrong URL"
This page has an incorrect link for Result property, where SpeechRecognitionResult leads to this page https://docs.microsoft.com/en-us/uwp/windows.media.speech.recognition/speechrecognitionresult.md which does not exists, the correct link should be https://docs.microsoft.com/en-us/uwp/api/windows.media.speechrecognition.speechrecognitionresult

---
#### Document Details

⚠ *Do not edit this sectio

[2019-10-06 12:43] sbeaudoin commented on #1104
The question is : Why two different means to identify the same value to the same property of the same class?  Would it be better to standardize?  Now, it would break existing code.  I don't understand the original reason they did it this way.

[2019-10-06 13:39] MatsEx opened #1255 "Sending Midi Messages"
Is there a way to broadcast/send a midi message to "all" devices? Without sending it to a predefined one?

For example, a midi keyboard doesn't have to tell to whom it sending it's midi, its up to the program (DAW) or another device to pick it up.
DAWs for example doesn't show up as a midi devices even if it can recieve MIDI messages.
DAWs also can listen to "All midi Inputs".
I am trying to remot

[2019-10-07 11:21] asad98211 opened #1256 "Please add more reference on how to debug the scenario when show fails silently."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 509f41a6-9491-6e40-c234-6ec1397997d9
* Version Independent ID: 55ce76a1-78dd-9230-c9a0-4919299c35ae
* Content: [AccountsSettingsPane.Show Method (Windows.UI.ApplicationSettings) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/wind

[2019-10-07 23:17] ergan89 opened #1257 "Winrt example missing"
Trying to convert CX to winrt but there's no example for the winrt version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdc08b11-963e-9299-c25a-34d2532e383d
* Version Independent ID: 64263e88-16ca-6893-d776-5a57bfd5fda7
* Content: [IDirect3DDevice Interface (Windows.Graphics.DirectX.Direct3D11) - Windows UWP applica

[2019-10-07 23:41] stevewhims commented on #1255
Hi, @MatsEx, thanks for reaching out with this question. This feels not so much like feedback specifically about the documentation, but rather like a question about the product. You got here by clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **This product**, then you'll be taken to the [Windows developer feedback](https://wpdev.uservoice.com) sit

[2019-10-07 23:41] #1255 closed, assigned to stevewhims

[2019-10-07 23:51] stevewhims commented on #1241
Great! I'll go ahead and close this issue. ~Steve

[2019-10-07 23:51] #1241 closed, assigned to stevewhims

[2019-10-07 23:52] stevewhims commented on #1226
@xixiaxixi, are you able to provide the requested info? Just a reminder so that we can keep this issue fresh. ~Steve

[2019-10-07 23:54] stevewhims commented on #1224
Looks like we're resolved here. I'll go ahead and close, but feel free to reopen if you feel I've closed in error. ~Steve

[2019-10-07 23:54] #1224 closed, assigned to PeterSmithRedmond, stevewhims

[2019-10-08 00:01] stevewhims commented on #1033
UPDATE: I sent another reminder, asking for input on this.

[2019-10-08 07:00] MatsEx commented on #1255
Ah, sorry! My mistake!
Thanks for the feedback!

[2019-10-08 12:53] andifandrich opened #1258 "No one is interested in any examples..."
...so why should anybody writing documentation include them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b195d006-dff9-0a63-7008-3f50887c3be9
* Version Independent ID: a2f8a231-97e4-6f69-7100-93e19171ecb5
* Content: [HttpClient.DefaultRequestHeaders Property (Windows.Web.Http) - Windows UWP applications](https://doc

[2019-10-08 19:15] Huios opened #1259 "Link to ShareOperation object docs under Remarks is broken"
The link to ShareOperation object docs under Remarks is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d812029c-9aa8-ad57-1580-1ee280735935
* Version Independent ID: dc8294d9-7a7d-8466-2708-8300d936033c
* Content: [ShareTargetActivatedEventArgs.ShareOperation Property (Windows.ApplicationModel.Activation) - Wind

[2019-10-08 22:18] stevewhims commented on #1258
Hi, @andifandrich, can you tell me more about your feedback, please? A large number of customers have expressed an interest in code examples, and so we do try to provide a decent volume of code examples across the Windows content sets from Win32 to Windows Runtime. The opening paragraph of this topic takes the reader to code examples.

Please let me know if you're proposing changes to the content,

[2019-10-08 22:23] stevewhims commented on #1033
Hi, @Yortw, so in this case we were able to gather info about the exception you're seeing. I've added more documentation and guidance around that, and the calling pattern that we recommend. You can see that in the "Remarks" section of this topic. I'll leave the issue open for a while to give you the chance to comment. Sorry for the delay in getting this updated!

~Steve

[2019-10-08 22:32] stevewhims commented on #1257
Thanks for filing the issue, @ergan89. I've added a C++/WinRT code example to the topic, and a link to another topic (Composition) that has a related code example. I'll go ahead and close this issue, but please reopen it if I've made a mistake. Thanks! ~Steve

[2019-10-08 22:32] #1257 closed, assigned to stevewhims

[2019-10-08 22:37] Yortw commented on #1033
Thank you, that makes a real difference to the usability of the documentation and I'm sure it will help others in future.
I am not sure that is my problem as I think my issue was intermittent on the same hardware, but I will need to recheck. I suspect, regardless though, you can close this ticket unless there are other causes of that exception that could be documented.

Thanks for your hard work o

[2019-10-09 00:34] Gavin-Williams opened #1260 "How do we use CoreWindow in .Net Core"
As I understand it, Microsoft.Windows.SDK.Contracts should allow me to build a CoreWindow application in .Net Core, but there is no VS template for .Net Core Desktop application, I only see WPF, WinForms and Libraries. How can we setup a project for .Net Core to target WinRT (UWP) Desktop and employ the CoreWindow application model?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-10-09 06:22] andifandrich commented on #1258
Hi Steve,
I'd have never thought that anyone is interested in my comment, so I very much appreciate your answer.
We developers are always looking for code samples and see them a s an essential part of documentation. In this case I searched for DefaultRequestHeaders because I wanted to know how to add some. I was very disappointed, because this is nowhere mentioned on the page. I then followed the

[2019-10-09 06:46] stevewhims commented on #839
@benstevens48, for the second part of your feedback, I've restored from archive (and back into the fresh content) the windowsnumerics topics such as this one: https://review.docs.microsoft.com/previous-versions/windows/desktop/numerics_h/windowsnumerics-h-apis-portal?branch=master.

I've also added links to those topics from this set of topics. That covers the second part of your feedback, I think

[2019-10-09 09:42] q89123003 opened #1261 "How can I configure the wifi band to 5 GHz or 2.4 GHz?"
I was trying to use Powershell script to set up windows 10 mobile hotspot (which is the function in "Settings" -> "Network & Internet" -> "Mobile hotspot"). I was able to turn it on through the following script:

[code]
 but I could only set the SSID and the Passphrase of the network but not the network band which we can choose between '5 GHz', '2.4 GHz' or 'Any available' in the setting gui.

I s

[2019-10-09 11:45] vgromfeld opened #1262 "Add missing error code documentation"
GetItemCountAsync() can return different error codes based on the queried folder.
There should be documented on this page. Querying an empty (video) library is now throwing `HRESULT_FROM_WIN32(ERROR_EMPTY)` instead of `E_FAIL`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 749013ed-4705-c7ed-3026-16108eeef434
* Version

[2019-10-09 12:03] vgromfeld opened #1263 "Missing precondition documentation"
This method is throwing is `IsEnabled` is false. This should be added to the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e4baacf-66ef-063e-5af7-d13f3fd50ee5
* Version Independent ID: deefe87f-5615-b4c9-6000-5540cd6f6fe3
* Content: [MediaPlaybackSphericalVideoProjection.HorizontalFieldOfViewInDegrees P

[2019-10-09 12:04] vgromfeld opened #1264 "Add missing precondition"
This method is throwing if `FrameFormat` is not set to `SphericalVideoFrameFormat.Equirectangular`. This should be added in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90b0a018-1e0e-785d-e2bd-820c1116a0f5
* Version Independent ID: 66b53899-c0c5-b914-3872-4e69d8ffa8ce
* Content: [MediaPlaybackSphe

[2019-10-10 05:49] VictorDenisenko commented on #605
Yes, this event can arise 11 times if I change file only one time, but sometimes it do not rise at all.

[2019-10-10 13:25] Polarts commented on #1240
Hi @Austin-Lamb - I've updated it to MediaPlayerElement and everything seems to work fine. Thanks!

[2019-10-10 15:36] FrankGorgenyi commented on #1226
Hello @xixiaxixi ,

We are unable to reproduce this issue on current Windows Insider or later builds. You can either provided updated traces and we can provide the information to the appropriate team, or you can try a Windows Insider build.  Please help us help you.

Thanks,
Fg

[2019-10-12 13:17] Nexxkinn opened #1265 "No explanation about new composition bitmap interpolation mode"
There are 8 new enums added in 1903 build yet no information and differences explained about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4640cdaa-2a90-f03a-6a29-72986768b2ef
* Version Independent ID: a9dcf1f6-883d-2c39-b4ba-8e52e5ad3a40
* Content: [CompositionBitmapInterpolationMode Enum (Windows.UI.Composition)

[2019-10-13 13:40] benstevens48 opened #1266 "Need a way to remove GPS information"
This allows adding GPS information to a file, but I can't see a 'remove' function. There needs to be one in order to be able to 'undo' the action of adding the GPS info.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921ba20d-188b-b282-2327-edda13b6395f
* Version Independent ID: 24b2545a-a20b-ab17-e3b7-a4613e1801cb
* C

[2019-10-13 13:55] benstevens48 opened #1267 "Clarify precision of Point"
Can you clarify whether Point always has the precision of float, even when used in C#. The 'projection' in C# says the fields are doubles, but I think that the underlying precision is float, even if I just use it locally. I'm not sure though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d14ce5ec-ce18-b937-a1cd-8777fa

[2019-10-14 12:36] rufw91 commented on #1138
I also have the same question.

[2019-10-14 12:41] rufw91 commented on #1138
Hey so I saw this the answer to: https://stackoverflow.com/questions/16477190/correct-way-to-get-the-coredispatcher-in-a-windows-store-app

Basically it returns null if not on UI thread.

[2019-10-14 18:41] hkhmsft commented on #1266
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-10-14 18:41] #1266 closed, assigned to lastnameholiu

[2019-10-14 18:42] hkhmsft commented on #1261
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stack

[2019-10-14 18:42] #1261 closed, assigned to nobody

[2019-10-14 18:43] hkhmsft commented on #1219
Thanks for reaching out with your feedback. In the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, p

[2019-10-14 18:43] #1219 closed, assigned to nobody

[2019-10-14 19:39] benstevens48 commented on #1266
Hi @lastnameholiu,
The UserVoice site for UWP is now closed - see https://wpdev.uservoice.com/forums/110705-universal-windows-platform. It suggests providing feedback in the Docs GitHub instead. Actually, it links to here - https://github.com/MicrosoftDocs/windows-uwp/issues. Should I move the feedback to there?

[2019-10-16 01:12] FrankGorgenyi commented on #1226
Hello @xixiaxixi ,

I've kept my internal issue open until I hear back from you either confirming it's not an issue in newer builds or that you still have a unique case. Can you please let me know either way? If not I'll close my internal issue.

Thanks,
Fg

[2019-10-16 18:17] jesbis commented on #465
Thanks for reporting this! The skew and scale transform images and examples have been updated and the changes should appear on the docs site soon.

[2019-10-16 18:17] #465 closed, assigned to jesbis, jwmsft

[2019-10-17 21:47] DefaultRyan opened #1269 "Document typical invalidation for IVectorView and IIterator"
In every conforming implementation I've seen for `IVector`, when the vector contents are modified, it will invalidate all previously obtained views (`IVectorView`) and iterators (`IIterator`), causing them to return `E_CHANGED_STATE` on subsequent operations.

This `HRESULT` is projected as:
- `winrt::error_changed_state` in C++/WinRT
- `Platform::ChangedStateException` in C++/CX
- `System.Invalid

[2019-10-18 12:17] rawlinson opened #1270 "Exceptions not listed."
There are multiple reports that this method can throw exceptions, yet none are listed here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba4f440-628a-7bc1-db2f-bde22e45e28d
* Version Independent ID: b534bcdf-85a7-614c-1777-9a01b960cc2b
* Content: [ToastNotifier.Show(ToastNotification) Method (Windows.UI.Notification

[2019-10-18 17:42] ChrisGuzak opened #1271 "IVector<T>::GetView() does not return a snapshot, page needs to be updated"
A snapshot implies a stable copy. The view object returned is not stable if the vector it was created from changes. In that case methods return `E_CHANGED_STATE`.

Update this page to remove the word snapshot and describe the dependency on the underlying vector not changing.

Note, this is also the behavior IIterator<T>,IEnumerator<T>

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-18 17:52] ChrisGuzak commented on #1269
#1271 is related

[2019-10-18 20:24] adamhewitt627 opened #1272 "ScrollViewer.IsVerticalScrollChainingEnabled"
What is the justification for disabling the scroll chaining? In my project I get blurry list items when setting this. While I can't rule out that it's a self-caused error, it also doesn't happen if I leave this off. Some additional remarks would be beneficial here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10905bc

[2019-10-19 12:26] Kumara-Krishnan opened #1273 "UnauthorizedAccessException in HttpDiagnosticProvider - UWP"
I'm trying to trace network calls in UWP. I am trying to use HttpDiagnosticProvider. Here's my code.

[code]

I'm getting UnauthorizedAccessException in Start() method. What's wrong with my code or do i need to get user grant or something to make it work? Already asked on stackoverflow - https://stackoverflow.com/questions/57990868/unauthorizedaccessexception-in-httpdiagnosticprovider-uwp

---
###

[2019-10-19 17:27] adrientetar commented on #372
@ginami @laurenhughes The link still points to Windows 8 documentation, please reopen this ticket.

[2019-10-19 17:30] adrientetar opened #1274 ""JumpListItemKind" should be "JumpListSystemGroupKind""
![image](https://user-images.githubusercontent.com/1250894/67149101-76e9ba00-f2a7-11e9-9e64-9a2ae08fdb4f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a77e032d-1d90-b6a2-fbd0-eb7371ece2d0
* Version Independent ID: ab5e55d8-ddc5-9d3c-2c97-f6308830650e
* Content: [JumpList.SystemGroupKind Property (Windows.UI.Start

[2019-10-19 17:32] adrientetar opened #1275 "Add information about "system managed" groups"
Can you explain what the system managed frequent/recent groups are populated from? I suspected it has to do with StorageItemMostRecentlyUsedList, but populating that list does not show any recent items in the JumpList of my app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dc91983-6fae-33e5-c5e8-d6a77b85fca6
* Versi

[2019-10-19 18:39] jtorjo opened #1276 "please, either allow System.IO all over HDD, or drastically improve speed of StorageFolder queries"
[uwp] allow System.IO all over HDD or drastically improve speed of StorageFolder queries

My preference would clearly be to just have access to System.IO, once I've requested
	<rescap:Capability Name="broadFileSystemAccess"/>

This is clearly possible, since a Destkop Bridge app uses System.IO and can do as it pleases. It would clearly be the best case scenario.

Otherwise, StorageFolder queries s

[2019-10-21 04:08] fabfella opened #1277 "Please demonsrate this concept in code"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a85f8021-b98e-7e96-5c5d-7808acc4e3d8
* Version Independent ID: 7cb14b25-e0d6-ea6e-b94b-9a83348c58b0
* Content: [Canvas.SetLeft(UIElement, Double) Method (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/api/wi

[2019-10-21 14:04] ghost opened #1278 "ReorderThemeTransition example documentation doesn't demonstrate reordering."
The documentation page for ReorderThemeTransistion at found here [https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.animation.reorderthemetransition](url), doesn't demonstrate reordering.  Your example operation is:

[code]
Which is only going to demonstrate an **AddDeleteThemeTransition**.  If you modify the example to show a 'Move' operation, then the example doesn't animate anythin

[2019-10-21 20:56] stevewhims commented on #1273
Hi, @Kumara-Krishnan, thanks for filing this issue. It looks like the feature team is engaged on your StackOverflow thread, so it's probably best to keep prompting for a response there. I wouldn't recommend beginning a duplicate support thread about this, since it'll likely end up being routed to the same feature team, and they're presumably already working the case in the background. However, if

[2019-10-21 20:56] #1273 closed, assigned to stevewhims

[2019-10-21 22:06] lukeblevins commented on #1276
This is a very important issue for my app scenario, a file explorer.
Here's a Feedback Hub ticket I filed: https://aka.ms/AA6dgqz

There is a great need my UWP app to have access to System.IO as expected (pictured below)
![image](https://user-images.githubusercontent.com/20365014/67246722-3fa51580-f42d-11e9-9c83-f1f9bcdb1eaa.png)

Otherwise, the speed of Windows.Storage needs to improve since its

[2019-10-21 22:07] lukeblevins commented on #1276
Furthermore, I have long been awaiting a formal response from Microsoft regarding the planned improvements to this space. @jwmsft

[2019-10-21 22:38] jwmsft commented on #7
This issue is fixed in the docs.

[2019-10-21 22:38] #7 closed, assigned to mcleblanc

[2019-10-21 22:43] #331 closed, assigned to IrinVoso

[2019-10-21 22:46] jwmsft commented on #332
This link appears to be fixed.

[2019-10-21 22:46] #332 closed, assigned to jwmsft, jevansaks

[2019-10-21 22:47] jwmsft commented on #399
Documentation has been updated.

[2019-10-21 22:47] #399 closed, assigned to marb2000, jwmsft

[2019-10-22 00:15] stevewhims commented on #829
Hi, @NeoBeum. Thanks for filing this issue, and my apologies for the very long delay in responding.

I haven't heard that Windows.Gaming.Input (the Windows Runtime API) supersedes XINPUT (the Win32 API), but if you're writing a Universal Windows Platform (UWP) application, and Windows.Gaming.Input has everything that you need, then I'd recommend using that. One benefit of going that route is that

[2019-10-22 00:47] stevewhims commented on #840
Hi, @dlech. Thanks for filing this issue, and my apologies for the very long delay in responding.

Unfortunately, the short answer is "neither". The current implementation depends on the Gatt characteristic properties that have been reported by the specific device in use. The current implementation queries for those properties in a particular sequence, and so its behavior depends on whether one or

[2019-10-22 00:58] stevewhims commented on #849
Hi, @MKGNZ. Thanks for filing this issue, and my apologies for the very long delay in responding.

In terms of the docs, **Close** is currently documented as being available only via the C++ language projections (so, not via C#, VB, nor JavaScript). **Dispose** is available for the .NET languages, and **Dispose** typically does whatever it takes to free any unmanaged resources. It's arguable wheth

[2019-10-22 01:06] stevewhims commented on #882
Hi, @kinyoklion. Thanks for filing this issue, and my apologies for the very long delay in responding.

I took a brief look through source code looking for the implementation, but I couldn't find anything that'd answer your question. It might be worth your pursuing this as a question about the product, rather than as feedback about the documentation (since there's nothing that I can action, as thi

[2019-10-22 01:11] stevewhims commented on #885
Hi, @cai6jing. Thanks for filing this issue, and my apologies for the very long delay in responding.

You're right that this API is subject to architecture requirements. There are more details in the [Remarks](https://docs.microsoft.com/uwp/api/windows.devices.radios.radio.getradiosasync#remarks) section.

Thanks!
Steve

[2019-10-22 01:11] #885 closed, assigned to stevewhims

[2019-10-22 01:20] stevewhims commented on #338
Hi, @xmedeko. Thanks for filing this issue, and my apologies for the long delay in responding.

The question first seems to be: *is* there an alternative way, for a use case with those particular constraints.

It might be worth your pursuing this as a question about the product, rather than as feedback about the documentation (since there's nothing that I can action, as things stand). You got here

[2019-10-22 01:26] stevewhims commented on #904
Hi, @simovic1. Thanks for filing this issue, and my apologies for the very long delay in responding.

This feels like a support question about the product, rather than feedback about the documentation (since there's nothing that I can action, as things stand). You got here by clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **This product**, then y

[2019-10-22 01:34] stevewhims commented on #922
Hi, @JasperE84, thanks for filing this issue.

It looks like the feature team has responded to your StackOverflow thread, so it's probably best to keep prompting for a response there. I wouldn't recommend beginning a duplicate support thread about this, since it'll likely end up being routed to the same feature team. However, if you do want to do that, then here's further info.

This feels not so

[2019-10-22 01:36] stevewhims commented on #926
Hi, @JasperE84. Thanks for filing this issue, and my apologies for the very long delay in responding.

This feels like a support question about the product, rather than feedback about the documentation (since there's nothing that I can action, as things stand). You got here by clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **This product**, then

[2019-10-22 01:37] stevewhims commented on #935
Hi, @billtsai999. Thanks for filing this issue, and my apologies for the very long delay in responding.

This feels like a support question about the product, rather than feedback about the documentation (since there's nothing that I can action, as things stand). You got here by clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **This product**, the

[2019-10-22 01:40] stevewhims commented on #939
Hi, @lightstamp. Thanks for filing this issue, and my apologies for the very long delay in responding.

You could try filing a GitHub issue in the repo from which you downloaded the sample: https://github.com/Microsoft/Windows-universal-samples/issues.

Thanks!
Steve

[2019-10-22 01:40] #939 closed, assigned to stevewhims

[2019-10-22 01:43] stevewhims commented on #980
Hi, @timali. Thanks for filing this issue, and my apologies for the long delay in responding.

This is a request for a change in the behavior of the APIs (in other words, the product), rather than feedback about the documentation (there's nothing that I can action, as a writer). You got here by clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **Thi

[2019-10-22 01:43] #980 closed, assigned to stevewhims

[2019-10-22 02:22] stevewhims commented on #1003
Hi, @intruder01. Thanks for filing this issue, and my apologies for the long delay in responding.

The property's type is [TimeSpan](https://docs.microsoft.com/uwp/api/windows.foundation.timespan), and its duration is a time period expressed in 100-nanosecond units. However, note (from the docs at the link there) that this type is projected differently into different WinRT language projections.

T

[2019-10-22 02:22] #1003 closed, assigned to stevewhims

[2019-10-22 02:47] stevewhims commented on #1011
Hi, @OOPMan. Thanks for filing this issue, and my apologies for the long delay in responding.

I don't have any extra info over and above what's in the topic (the info about UWP apps, specifically). I understand that you're asking *not* about UWP apps, but about a Win32 C++ application, that happens to call this WinRT API.

It might be worth your pursuing this as a question about the product, rath

[2019-10-22 06:34] xmedeko commented on #338
Hi @stevewhims, thanks for the reply. I hope there **is** some way to get all radios for all architectures, otherwise it limits the use of this functionality. If this question should be directed to another Microsoft department, please do it.

Finally, I have decided to do a WMI query and `Radio.FromIdAsync`, which has somewhat worked (with all troubles of WMI queries have), but I am not sure if th

[2019-10-22 06:55] PeterPann23 opened #1279 "Would be nice to know where the UIElementColor elements are used"
[Enter feedback here]
Would be nice to have a style guide to know where what element would be used as Winforms does not match the windows Theme by default. Those that would like to apply the windows theme have a lot of guess work to deal with where these colors go.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff090f5

[2019-10-22 10:16] aiiitm opened #1280 "Getting numeric price from formatted price"
Is there any method which returns a number price instead of formatted price? Or any utility/library through which we can get the numeric value(eg. 4.99) instead of formatted string("$4.99")

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 977c9053-dd7b-c1b9-f02c-eaaee42f341d
* Version Independent ID: 7ca98b52-b44f-85b7-9

[2019-10-22 11:10] jiangxincode commented on #885
Hi, @stevewhims , I also hunt for a alternative method to get the radio device using a 32-compiled program on 64 os system.

[2019-10-22 17:24] jevansaks commented on #1277
Sorry, demonstrate what? Like how to call the static method?

[code]

[2019-10-22 17:24] #1277 closed, assigned to jwmsft

[2019-10-22 18:50] stevewhims commented on #999
Hi, @BarryWangMSDN. Thanks for filing this issue, and my apologies for the long delay in responding.

Yes, that code was indeed incorrect. I've fixed it up and re-published. I'll go ahead and close the issue.

Thanks again!
Steve

[2019-10-22 18:50] #999 closed, assigned to stevewhims

[2019-10-22 19:06] stevewhims commented on #885
@jiangxincode, please see the info in https://github.com/MicrosoftDocs/winrt-api/issues/338, which is closed, but it describes how customers can pursue seeking product support. This particular case isn't something that I can resolve by updating the documentation, so I'd encourage customers to seek product support.

Thanks!
Steve

[2019-10-22 19:07] stevewhims commented on #338
Thanks, @xmedeko. I'll go ahead and close this, then, since I'm unable (with current info we have) to resolve it by updating the documentation.

Thanks!
Steve

[2019-10-22 19:07] #338 closed, assigned to stevewhims

[2019-10-22 19:58] stevewhims commented on #1004
Hi, @dlech. Thanks for filing this issue, and my apologies for the long delay in responding.

Good idea, I've added that link. I'll go ahead and close the issue.

Thanks again!
Steve

[2019-10-22 19:58] #1004 closed, assigned to stevewhims

[2019-10-22 20:11] stevewhims commented on #1037
Hi, @brianreinhold. Thanks for filing this issue, and my apologies for the long delay in responding.

The address type is of the peer. I've updated the topic with more info. As for retrieving the address type from event args, there is a **BluetoothLEAdvertisementReceivedEventArgs.BluetoothAddressType** property in the [SDK Insider Preview](https://www.microsoft.com/software-download/windowsinsider

[2019-10-22 21:00] stevewhims commented on #1038
Hi, @brianreinhold. Thanks for filing this issue, and my apologies for the long delay in responding.

You're right, the two languages do look very different, syntactically. Until we have a C++/WinRT code example in this topic, one suggestion would be for you to study the [C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/index) documentation, which contains lots of code examples

[2019-10-22 21:24] jasoneales commented on #1277
Demonstrate how to use Canvas.SetLeft. Is that no the point of the help wiki?
This is code I have found from looking through a whole lot of third-party websites, instead of finding it here on the help wiki were one would expect to find it.

[code]

[2019-10-22 21:59] stevewhims commented on #1039
Hi, @brianreinhold. Thanks for filing this issue, and my apologies for the long delay in responding.

I've updated the **FromBluetoothAddressAsync** and **FromIdAsync** topics with more details about connections.

Thanks again!
Steve

[2019-10-22 22:24] jwmsft commented on #535
Doc was updated so that is shown now.

[2019-10-22 22:24] #535 closed, assigned to jwmsft

[2019-10-22 22:32] stevewhims commented on #1065
Hi, @justindbaur. Thanks for filing this issue, and my apologies for the long delay in responding.

Except in rare cases, we don't document exceptions (I'll explain the reasons below). So, it might be worth your pursuing this as a question about the product, rather than as feedback about the documentation (since there's nothing that I can action, as things stand). You got here by clicking **Send f

[2019-10-22 22:41] jwmsft commented on #1096
This link has been fixed.

[2019-10-22 22:41] #1096 closed, assigned to mimisasouvanh, jwmsft

[2019-10-22 22:44] jwmsft commented on #1057
This is fixed.

[2019-10-22 22:44] #1057 closed, assigned to jwmsft

[2019-10-22 23:00] stevewhims commented on #1142
Hi, @MichaelDefour. Thanks for filing this issue, and my apologies for the long delay in responding.

I don't have any additional content for your scenario, over and above what's in the documentation. So it might be worth your pursuing this as a question about the product, rather than as feedback about the documentation (since there's nothing that I can action, as things stand). You got here by cl

[2019-10-22 23:01] jwmsft commented on #276
These links have been removed.

[2019-10-22 23:01] #276 closed, assigned to jwmsft

[2019-10-22 23:05] stevewhims commented on #1161
Hi, @moyanming. Thanks for filing this issue, and my apologies for the delay in responding.

Except in rare cases, we don't document exceptions (I'll explain the reasons below). So, it might be worth your pursuing this as a question about the product, rather than as feedback about the documentation (since there's nothing that I can action, as things stand). You got here by clicking **Send feedback

[2019-10-22 23:14] stevewhims commented on #457
Hi, @Powerhelmsman. Thanks for filing this issue, and my apologies for the delay in responding.

I don't have any additional content for your scenario, over and above what's in the documentation. The GetRadiosAsync topic's [Remarks](https://docs.microsoft.com/en-us/uwp/api/windows.devices.radios.radio.getradiosasync#remarks) section mentions an architecture limitation that sounds like what you're

[2019-10-22 23:22] stevewhims commented on #1158
Hi, @stevennyman. Thanks for filing this issue, and my apologies for the delay in responding.

I've updated the topic with a link to the correct sample (the Win10 UWP sample): [Bluetooth Low Energy sample](https://github.com/microsoft/Windows-universal-samples/tree/master/Samples/BluetoothLE).

Thanks!
Steve

[2019-10-22 23:39] stevewhims commented on #1110
Hi, @bjthomson. Thanks for filing this issue, and my apologies for the delay in responding.

I've updated the topic to provide more info/clarification here. I'll leave the issue open for a while.

Thanks again!
Steve

[2019-10-22 23:46] stevewhims commented on #325
Hi, @MeitalBK. Thanks for filing this issue, and my apologies for the delay in responding.

I've updated the **FromBluetoothAddressAsync** and **FromIdAsync** topics with more details about connections.

Thanks again!
Steve

[2019-10-22 23:51] stevewhims commented on #339
Hi, @xmedeko. Thanks for filing this issue, and my apologies for the long delay in responding.

I've updated the topic, and added info about caching behavior in **Remarks**.

Thanks again!
Steve

[2019-10-23 00:00] stevewhims commented on #351
Hi, @g-ortuno. Thanks for filing this issue, and my apologies for the delay in responding.

I don't have any additional content for your scenario, over and above what's in the documentation. So it might be worth your pursuing this as a question about the product, rather than as feedback about the documentation (since there's nothing that I can action, as things stand). You got here by clicking **S

[2019-10-23 00:02] g-ortuno commented on #351
Thanks! Will do.

[2019-10-23 00:02] #351 closed, assigned to stevewhims

[2019-10-23 00:06] stevewhims commented on #359
Hi, @LukeOwlclaw. Thanks for filing this issue, and my apologies for the long delay in responding.

Although we don't document the values of these statics, I can tell you that I also get a value of 15 decimal for both in my experiments.

I don't have any additional content over and above that. If you suspect a bug, or if you have feedback/suggestions, then it might be worth your pursuing this as a

[2019-10-23 00:12] stevewhims commented on #424
Hi, @kennyjudo. Thanks for filing this issue, and my apologies for the delay in responding.

**Windows.Devices.Bluetooth.GenericAttributeProfile** is a Windows Runtime (WinRT) API, so it's accessible from any language for which there's a WinRT language projection, for example C#, Visual Basic, C++/WinRT, JavaScript. I'm unaware of a WinRT language projection for Python, but others might know of on

[2019-10-23 00:12] #424 closed, assigned to stevewhims

[2019-10-23 00:13] stevewhims commented on #440
Hi, @robson31. Thanks for filing this issue, and my apologies for the long delay in responding. It looks like in the interim the broken links have been fixed. I just tested them, and all links on the page work.

Thanks again!
Steve

[2019-10-23 00:13] #440 closed, assigned to stevewhims

[2019-10-23 00:22] stevewhims commented on #442
Hi, @LaurentRicci. Thanks for filing this issue, and my apologies for the delay in responding.

I reached out to the feature team for input. We very rarely document exceptions, partly because an exception is nearly always useful only while debugging, and not to be caught in production. Even though this one is a corner case, our advice is this:

The C# projection will only throw System.Exception, s

[2019-10-23 00:49] stevewhims commented on #489
Hi, @cctile. Thanks for filing this issue, and my apologies for the delay in responding.

This is a good idea, so I've gone ahead and published an update to the topic to add a link to [GUID](https://docs.microsoft.com/windows/win32/api/guiddef/ns-guiddef-guid). I've done the same across the documentation each time GUID is mentioned.

I'll go ahead and close the issue now.

Thanks!
Steve

[2019-10-23 00:55] stevewhims commented on #490
Hi, @cctile. Thanks for filing this issue, and my apologies for the delay in responding.

This is a good idea. The actual Windows Runtime type is IVector (which is IList when projected into a .NET language). So I've published an update to the topic to link to IVector (which then sends .NET developers to IList, so I think linking just to IVector will cover all languages). I'll go ahead and close th

[2019-10-23 01:05] stevewhims commented on #631
Hi, @arvindrajachourasiya. Thanks for filing this issue, and my apologies for the extremely long delay in responding.

I've read the thread, and it looks like there's no action items for the documentation itself. I'll go ahead and close the issue, but please reopen it (or, better, create a new one) with details about what changes need to be made to the documentation.

Thanks again!
Steve

[2019-10-23 01:05] #631 closed, assigned to stevewhims

[2019-10-23 01:09] stevewhims commented on #673
Hi, @peterfoot. Thanks for filing this issue, and my apologies for the very long delay in responding.

I have added this detail to the topic now (that should be live soon). But I don't have info about any alternative API. It might be worth your pursuing this as a question about the product, rather than as feedback about the documentation (since there's nothing that I can action, as things stand).

[2019-10-23 01:34] stevewhims commented on #1103
Hi, @PapierenTijger. Thanks for filing this issue, and apologies for the delay in responding. I've published a fix for this rendering issue, so I'll go ahead and close the issue.

Thanks again!
Steve

[2019-10-23 08:36] ghost commented on #359
I do not remember what my actual problem was. I still find it curious that "group type error" and "insufficient encryption error" have identical error codes. I am not using WinRT at the moment so I cannot investigate further nor provide additional feedback.

[2019-10-23 08:36] #359 closed, assigned to stevewhims

[2019-10-23 19:34] drewbatgit commented on #655
Hello, thanks for your feedback on this issue. The required capability for these APIs is globalMediaControl. This information has been added to the API reference page for [GlobalSystemMediaTransportControlsSessionManager](https://docs.microsoft.com/en-us/uwp/api/windows.media.control.globalsystemmediatransportcontrolssessionmanager.requestasync#Windows_Media_Control_GlobalSystemMediaTransportContr

[2019-10-23 19:34] #655 closed, assigned to drewbatgit

[2019-10-24 00:57] #1103 closed, assigned to stevewhims

[2019-10-24 01:01] stevewhims commented on #340
Hi, @xmedeko. Thanks for filing this issue, and my apologies for the delay in responding.

I've published an update to the **Remarks** section of this topic to reflect the architecture limitation. I'll go ahead and close this issue now.

Thanks again!
Steve

[2019-10-24 01:01] #340 closed, assigned to stevewhims

[2019-10-24 01:03] #489 closed, assigned to stevewhims

[2019-10-24 01:08] #490 closed, assigned to stevewhims

[2019-10-24 01:19] michael-hawker opened #1281 "No link to ContextMenuOpeningEventHandler / Arguments"
This doc is a dead-end forcing me to go search again as I need to see the event args to this event.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72b4c634-0662-269b-cc98-eecdb3c5337b
* Version Independent ID: 9a22e4c7-9ce9-bf87-4b7d-8027e0a5b97e
* Content: [TextBox.ContextMenuOpening Event (Windows.UI.Xaml.Controls) -

[2019-10-24 01:19] michael-hawker commented on #1281
I believe it should link to here: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.contextmenuopeningeventhandler

[2019-10-24 01:38] stevewhims commented on #623
Hi, @aprobinda. Thanks for filing this issue, and my apologies for the delay in responding.

I've published an update to the topic to make it consistent with Visual Studio. I'll go ahead and close this issue now.

Thanks again!
Steve

[2019-10-24 01:38] #623 closed, assigned to stevewhims

[2019-10-24 01:39] stevewhims commented on #763
Hi, @EddieLotter. Thanks for filing this issue, and my apologies for the delay in responding.

I've published an update to the topic to fix the link. I'll go ahead and close this issue now.

Thanks again!
Steve

[2019-10-24 01:39] #763 closed, assigned to stevewhims

[2019-10-24 07:48] xmedeko commented on #340
@stevewhims Thanks. IMO is would be useful to have technical details explained, as @btframework has written. Together with a hint how to solve it ("you may need stub application that will marshal calls from your 32 bit process to this 64 bit COM object").
Because this problem is in more Desktop - WinRt calls, then you may document it just once and link it from doc to particular methods.

[2019-10-24 19:55] jwmsft commented on #532
Thanks. This link has been fixed.

[2019-10-24 19:55] #532 closed, assigned to jwmsft

[2019-10-24 20:42] jwmsft commented on #1243
The doc has been updated.

[2019-10-24 20:42] #1243 closed, assigned to jwmsft

[2019-10-24 20:43] #1240 closed, assigned to Austin-Lamb

[2019-10-24 20:57] jwmsft commented on #1259
Thanks for letting us know about this. A fix has been submitted.

[2019-10-24 20:57] #1259 closed, assigned to lastnameholiu

[2019-10-24 20:57] jwmsft commented on #1254
Thanks for letting us know about this. A fix has been submitted.

[2019-10-24 20:57] #1254 closed, assigned to lastnameholiu

[2019-10-24 21:57] stevewhims commented on #340
@xmedeko, good idea. On the technical rationale, and workaround, I'll seek input from the feature team. If/when I get that info, I'll document it (in one place, with links, as you say).

Thanks!
Steve

[2019-10-24 23:50] EddieLotter commented on #763
@stevewhims, no problem. :) Thanks for taking care of it.

[2019-10-25 06:40] aiiitm commented on #1280
@hickeys
Could you please revert back on this query?

[2019-10-25 09:17] jtorjo commented on #1276
Guys, this has been going on for ages. Access to files is paramount - it should be as fast as it gets. How can we develop UWP apps that are slower than written in javascript?

https://www.reddit.com/r/WPDev/comments/4vp7mw/uwp_returning_files_and_folders_incredibly_slow/
https://stackoverflow.com/questions/32668822/faster-way-to-get-files-of-a-folder-than-storagefolder-getfilesasync
https://stacko

[2019-10-25 16:53] stevewhims commented on #340
**UPDATE**: After input from the feature team (and confirmation that this *is* a known limitation), I updated the wording in the Remarks section. But we don't have any workaround guidance to publish at this time. ~Steve

[2019-10-25 17:07] btframework commented on #340
Why don't simple publis IOCTL  code that switches radio on/off?

[2019-10-25 18:26] jevansaks commented on #1272
@adamhewitt627 I'm not sure the reason behind this, but if you are seeing a bug when following this guidance please file a bug on our repo (https://github.com/microsoft/microsoft-ui-xaml).

I've asked @rbrid to explain where this guidance comes from.

[2019-10-25 18:27] jevansaks commented on #1281
@mimisasouvanh seems like a doc system issue that there isn't a link to the delegate type.

[2019-10-26 04:18] jevansAN opened #1286 "Example?"
Would love to see an example of extracting the raw midi data from the message in C++/winrt. Is it really going to be necessary to create a DataReader to interpret the DataBuffer? Seems expensive for real-time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e67c6d-029e-9d8a-dc51-03e67e2292cc
* Version Independent ID:

[2019-10-26 07:49] tqk2811 commented on #769
Any example to use it?
Can it work look like "file on-demand" in onedrive sync app?
Thank

[2019-10-27 11:59] adrientetar commented on #1275
@jevansaks @michael-hawker, would you know anything about this recent files feature and whether it has to do with StorageItemMostRecentlyUsedList?

[2019-10-27 15:13] adrientetar opened #1289 "Please add a reference to SetPreferredMinSize"
https://docs.microsoft.com/en-us/uwp/api/windows.ui.windowmanagement.preview.windowmanagementpreview.setpreferredminsize

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2862f896-0db5-9185-8803-38cd6b685e58
* Version Independent ID: 90ec076a-75b9-d59b-6335-66ba41924845
* Content: [AppWindow Class (Windows.UI.WindowManage

[2019-10-27 15:17] adrientetar commented on #1260
Currently UWP only runs on .NET Native.

[2019-10-27 21:17] michael-hawker opened #1290 "Missing link to AutoSuggestBoxSuggestionChosenEventArgs page"
Missing a quick link to the `AutoSuggestBoxSuggestionChosenEventArgs` type page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f46791a-9ef2-5539-6906-22b683755287
* Version Independent ID: 6b389499-4cdd-c822-543f-df7d5edc572f
* Content: [AutoSuggestBox.SuggestionChosen Event (Windows.UI.Xaml.Controls) - Windows UWP a

[2019-10-27 21:17] michael-hawker commented on #1290
Should be here: https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.AutoSuggestBoxSuggestionChosenEventArgs

[2019-10-28 00:13] asklar opened #1291 "Sample typo"
the sample on this page says "matrixes" but the correct spelling is "matrices"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed89e22-716c-830e-d509-4246556f3aef
* Version Independent ID: 324465da-81fb-722b-a82c-e100466972b2
* Content: [Matrix3DProjection Class (Windows.UI.Xaml.Media) - Windows UWP applications](https

[2019-10-28 17:22] jevansaks commented on #1290
Event/delegate pages seem to not link to the types involved (like args and delegate). @mimisasouvanh is this being tracked?

[2019-10-28 17:22] jevansaks commented on #1291
@asklar you can click the "edit" button on the page to help us fix typos. :)

[2019-10-28 22:06] jevansAN opened #1293 "How to quickly access status bytes?"
I've found that a keyboard that specifies a note-off by using zero-velocity combined with running status of 0x90 won't work here - the incoming message is identified as a MidiNoteOnMessage. So it's necessary to access the raw data of the MIDIMessage. But the docs above do not show an efficient way to accomplish that. In C++/winrt the implication is that we'd have to declare a DataReader to process

[2019-10-28 22:29] stevewhims commented on #1293
Hi, @jevansAN, I'd recommend making this an ask of the [MIDI sample](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/MIDI). It sounds like the ask is for a C++/WinRT version of the existing C# sample, together with your specific scenario. You can file an issue against the samples repo if you follow that link.

-Steve

[2019-10-28 22:31] stevewhims commented on #1286
Hi, @jevansAN, I'd recommend making this an ask of the [MIDI sample](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/MIDI). It sounds like the ask is for a C++/WinRT version of the existing C# sample. You can file an issue against the samples repo if you follow that link.

-Steve

[2019-10-28 22:33] jevansAN commented on #1293
Thanks, Steve - I found a workaround: since the NoteOnMessage has a Velocity property, one can check that for zero: if it's zero assume this  is really meant to be a note-off. That works and then it's not necessary to get into the raw data.

[2019-10-28 23:38] ghost commented on #1278
Hey!  How about fixing the bug!  **ReorderThemeTransition** doesn't work in any example anywhere.

[2019-10-29 00:04] stmoy commented on #1278
Thank you for the ping. It looks like there might be a platform bug. I created a new bug based on the bug you filed in the uwp-experiences repo so we can track this in the platform: https://github.com/microsoft/microsoft-ui-xaml/issues/1503

I _think_ the doc is accurate - the `ReorderThemeTransition` should apply to the other elements within the list, and not the newly added element.

Would a `Re

[2019-10-29 00:12] ghost commented on #1278
I looked at that transition.  It appeared to be more suited the position of a control on a canvas (i.e. coordinate change) than repositioning the items in an ItemsControl.  Correct me if I'm wrong.

[2019-10-29 01:28] ghost commented on #1278
Dude, take a look at that GIF you posted.  It's broken!  If this was a repositioning operation, The green box should be move to the right side of the blue box if you were doing a **ObservableCollection&lt;SomeViewModel&gt;.Move(3,2)** operation on the underlying list.

[2019-10-29 03:35] stevewhims commented on #340
Hi, @btframework. It might be worth your suggesting that idea as product feedback, since I can't action it by making changes to the documentation.

To leave product feedback, or to ask a question about the product, you can visit a topic and click **Send feedback about** \> **This product**. You'll be taken to the [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedbac

[2019-10-29 04:13] stmoy commented on #1278
The reposition theme animation is applied to the blue rectangle. It's unclear from the GIF above, but the green element is being removed from the collection which causes the blue rectangle to move.

For my understanding: what are you trying to achieve? Is it moving elements in a list when they change their index via codebehind?

[2019-10-29 13:01] ghost commented on #1278
What you are describing is an AddDeleteTransition - which works just fine - not a re-position.

Yes:  if I bind an Observable Collection to a ListView, then execute a **ObservableCollection.Move(3,2)**, I expect to see the rows in the ListView move to their new positions using animation.  Currently, the whole list just refreshes.

[2019-10-29 13:49] GGDR opened #1294 "Parameters"
Hi, I'm trying to use "LaunchFullTrustProcessForCurrentAppAsync(String)" in Unity3D to launch other exe, it launch exe, but without parameters i needed. I modified manifest, but still no result. Can you help me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fa090d4-c14c-59fc-6f2a-b33d63f02804
* Version Independent ID

[2019-10-29 17:25] #1291 closed, assigned to jwmsft, asklar

[2019-10-30 00:16] hkhmsft commented on #1294
Thanks for reaching out with your feedback. In the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, p

[2019-10-30 00:16] #1294 closed, assigned to lastnameholiu

[2019-10-30 02:18] Gavin-Williams commented on #1260
So CoreWindow is part of UWP and not part of WinRT?

If I look at https://docs.microsoft.com/en-us/uwp/api/ it is clearly stated at the top of the page ..

**Windows UWP Namespaces**
This section provides detailed information about the Windows Runtime (WinRT) APIs. These APIs are for UWP app development on Windows 10.

So these are the WinRT API's. And they include Windows.UI namespace

It's diffi

[2019-10-30 05:08] aiiitm commented on #1280
@hickeys @lastnameholiu can one of you look into the query and revert back?

[2019-10-30 21:02] drewbatgit commented on #1264
Thanks for your feedback. I have added confirmed this behavior in the source code and added this information to the API reference page: https://docs.microsoft.com/en-us/uwp/api/windows.media.playback.mediaplaybacksphericalvideoprojection.isenabled

[2019-10-30 21:02] #1264 closed, assigned to drewbatgit

[2019-10-31 10:12] Holo-Krzysztof opened #1295 "DnssdRegistrationResult doesn't seem to implement IStringable"
I have a minimal C++/WinRT application that does Dnssd advertising:

[code]

Result is always successful, but the app always crashes when calling `result.ToString()`. I've stepped through the code and the call to QueryInterface returns a nullptr even though the class is declared as supporting `IStringable`.
Also, not sure if related, but the `IPAddress` property is always null.

Can you tell me wh

[2019-10-31 12:34] docbugger opened #1296 "WwwFormUrlDecoder constructor doc statement about unescaping is incorrect"
The documentation states:
"_URL-encoded characters are not decoded, they are simply included in the name-value pairs._"

The opposite is true: percent-encoded values are unescaped, and the decoded string is returned when accessing the IWwwFormUrlDecoderEntry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7daf627b-128d

[2019-10-31 18:46] stevewhims commented on #1295
Hi, @Holo-Krzysztof, it would make me suspect that the docs were incorrect if the report here were simply that ToString always returns an empty string. But, given that the report is of a crash, PLUS another property is always null, makes this feel more like a product question/feedback and/or a support request (rather than feedback about the documentation).

So I'd recommend pursuing this as a supp

[2019-10-31 22:57] hkhmsft commented on #1293
Thanks Steve for the link to the repo and thanks jevansAN for following up with a workaround. Closing this Issue for now. If there is any other feedback you'd like to submit please do so through our [Feedback Hub](https://support.microsoft.com/en-us/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app).

[2019-10-31 22:57] #1293 closed, assigned to stevewhims

[2019-10-31 22:58] #1295 closed, assigned to stevewhims

[2019-10-31 23:00] #1196 closed, assigned to hickeys

[2019-10-31 23:06] hkhmsft commented on #1097
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.
This feels not so much like feedback specifically about the documentation, but rath

[2019-10-31 23:06] #1097 closed, assigned to GrantMeStrength

[2019-10-31 23:06] #1065 closed, assigned to stevewhims

[2019-10-31 23:07] #904 closed, assigned to stevewhims

[2019-10-31 23:07] #457 closed, assigned to stevewhims

[2019-10-31 23:39] stevewhims commented on #1260
Hi, @Gavin-Williams. I'm not sure I can resolve the thread, nor answer the question, but here's some info (FWIW) according to my understanding of the platform(s).

The way Windows APIs are implemented, and called, has evolved over time. From C-based APIs (Win32), through to COM-based APIs, to managed (.NET), and now to Windows Runtime APIs (which are, under the covers, COM-based, although a more h

[2019-10-31 23:49] hkhmsft commented on #1276
Thanks for taking the time to let us know about this and for filing a Feedback Hub submission. However, this feels not so much like feedback specifically about the documentation but rather like a support request. We hope that through your submission you can receive the response you are looking for. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https:

[2019-10-31 23:49] #1276 closed, assigned to lastnameholiu

[2019-11-01 21:12] adrientetar commented on #1275
Okay, I got some clarification in [this Q&A thread](https://docs.microsoft.com/answers/questions/586/how-do-i-get-system-managed-jump-list-to-populate.html): I had to add a windows.fileTypeAssociation Extension to my app manifest to get the MostRecentlyUsedList to display in the jump list – a process explained in the doc article [Handle file activation](https://docs.microsoft.com/en-us/windows/uwp

[2019-11-02 00:34] ergan89 opened #1297 "examples with all flavors or just one."
I wonder if you ought to make the snippets show only the variant that i'm interested or all the variants. ie. if i selected winrt, I only wanna see examples for winrt but i see C++/winrt & C++ & JavaScript. Also, C++ is misleading without /CX.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d61bf27d-d169-da09-5c90-25a44

[2019-11-02 02:37] madmrmax opened #1298 "What does it mean "For more info, see the section.""
In the Setting Source in Code the last sentence in the first paragraph has a weird statement" For more info, see the section." https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.image.source#setting-source-in-code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cfaef85-bd7a-c480-ca3d-7551ba4e421f
* Versi

[2019-11-02 09:41] tim-weis opened #1299 "Provide Windows requirements"
This event was introduced in API contract v5, but that information is not present in this document. To find out, we would have to navigate to the [TextBoxBeforeTextChangingEventArgs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.textboxbeforetextchangingeventargs) documentation, that's not even linked from this page.

Please incorporate the Windows requirements into this (and o

[2019-11-03 05:18] yashrajborse opened #1300 "Requires confirmAppClose capability"
This event is fired only if the app has “&lt;rescap:Capability Name="confirmAppClose"/&gt;” capability in the appxmanifest.
Good to mention about this capability on this page and also link the app capability page in see also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b9e1ea-ce97-060d-ab07-6b67fb2a6198
* Version

[2019-11-03 11:36] Poopooracoocoo opened #1301 "InkToolbarRulerButton vs InkToolbarStencilButton"
Remarks -&gt; "A second group of "toggle" buttons containing the built-in ruler (InkToolbarRulerButton ) button. Custom toggles (InkToolbarCustomToggleButton ) are added here."

When you go to the InkToolbarRulerButton page, in the remarks section, it is suggested that "Apps that target Windows Creators Update (SDK 15063) or later should use the InkToolbarStencilButton object instead of this objec

[2019-11-04 18:21] jevansaks commented on #1299
@mimisasouvanh is this tracked by any work on the engineering side?

[2019-11-04 18:23] jevansaks commented on #1298
I thought it might be a markdown rendering issue but there's just nothing there. I don't know which section it should go to. @jesbis?

[2019-11-04 19:19] hickeys commented on #1280
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-11-04 19:19] #1280 closed, assigned to hickeys

[2019-11-04 23:18] stevewhims commented on #1286
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:18] #1286 closed, assigned to stevewhims

[2019-11-04 23:31] stevewhims commented on #1258
Thanks, @andifandrich. It can be expensive and error-prone to maintain multiple copies of the same content (code or otherwise). So, where possible, I like to keep a single copy of code (in the conceptual content), and link to that from elsewhere. You also found code in a related API ref topic, so that was good. It looks like the links are working as intended here, but I'll bear this thread in mind

[2019-11-04 23:31] #1258 closed, assigned to stevewhims

[2019-11-04 23:32] stevewhims commented on #1226
Hi, @xixiaxixi. I'll go ahead and close this issue now, since there's no further action we can take. Please reopen if you have the info that we need (described above). Thanks! ~Steve

[2019-11-04 23:32] #1226 closed, assigned to stevewhims

[2019-11-04 23:33] stevewhims commented on #1161
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:33] #1161 closed, assigned to stevewhims

[2019-11-04 23:34] stevewhims commented on #1158
I'll go ahead and close this issue now since it's been a while, and it feels resolved. ~Steve

[2019-11-04 23:34] #1158 closed, assigned to stevewhims

[2019-11-04 23:34] stevewhims commented on #1142
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:34] #1142 closed, assigned to stevewhims

[2019-11-04 23:41] stevewhims commented on #1114
UPDATE: I've sent a reminder to the feature team, to see whether they have info about the question here. ~Steve

[2019-11-04 23:55] stevewhims commented on #325
I'll go ahead and close this issue now. ~Steve

[2019-11-04 23:55] #325 closed, assigned to stevewhims

[2019-11-04 23:55] stevewhims commented on #339
I'll go ahead and close this issue now. ~Steve

[2019-11-04 23:55] #339 closed, assigned to stevewhims

[2019-11-04 23:56] stevewhims commented on #442
I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:56] #442 closed, assigned to stevewhims

[2019-11-04 23:56] stevewhims commented on #673
I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:56] #673 closed, assigned to stevewhims

[2019-11-04 23:57] stevewhims commented on #829
I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:57] #829 closed, assigned to stevewhims

[2019-11-04 23:58] stevewhims commented on #840
I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:58] #840 closed, assigned to stevewhims

[2019-11-04 23:58] stevewhims commented on #849
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:58] #849 closed, assigned to stevewhims

[2019-11-04 23:58] stevewhims commented on #882
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:58] #882 closed, assigned to stevewhims

[2019-11-04 23:59] stevewhims commented on #922
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:59] #922 closed, assigned to stevewhims

[2019-11-04 23:59] stevewhims commented on #926
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:59] #926 closed, assigned to stevewhims

[2019-11-04 23:59] stevewhims commented on #935
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:59] #935 closed, assigned to stevewhims

[2019-11-04 23:59] stevewhims commented on #1011
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:59] #1011 closed, assigned to stevewhims

[2019-11-05 00:00] stevewhims commented on #1033
Thanks, @Yortw! I'll go ahead and close, then. ~Steve

[2019-11-05 00:00] #1033 closed, assigned to stevewhims

[2019-11-05 00:01] stevewhims commented on #1037
I'll go ahead and close the issue now.

Thanks!
Steve

[2019-11-05 00:01] #1037 closed, assigned to stevewhims

[2019-11-05 00:02] stevewhims commented on #1038
I'll go ahead and close this issue now. Please reopen if I made a mistake in closing. ~Steve

[2019-11-05 00:02] #1038 closed, assigned to stevewhims

[2019-11-05 00:02] stevewhims commented on #1039
I'll go ahead and close the issue now.

Thanks!
Steve

[2019-11-05 00:02] #1039 closed, assigned to stevewhims

[2019-11-05 00:06] stevewhims commented on #1043
Hi, @brianreinhold. Sorry for the long delay in responding.

I don't have any additional content for your scenario, over and above what's in the documentation. So it might be worth your pursuing this as a question about the product, rather than as feedback about the documentation. You got here by clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **T

[2019-11-05 00:30] dlech commented on #840
Thanks for the info. That answers my question.

[2019-11-05 00:34] ergan89 opened #1303 "Incorrect type for winrt version for typedeventhandler object"
winrt version uses IInspectable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97562317-0bd6-baa3-8d84-7321cbc423e2
* Version Independent ID: e9b1c180-5080-e1ae-d9b1-c62016fa91e2
* Content: [SpatialSurfaceObserver.ObservedSurfacesChanged Event (Windows.Perception.Spatial.Surfaces) - Windows UWP applications](https://do

[2019-11-05 01:41] jiangxincode opened #1304 "Seek for help for problems about bluetooth ble!"
When i use the interface about bluetooth ble, there are some problems:
https://docs.microsoft.com/en-us/uwp/api/windows.devices.bluetooth.advertisement

**1. When I invoke publisher.start, i must wait many seconds before windows really sends the bluetooth broadcast
2. Everytime i invoke publisher.start, the mac address will be changed.**
I konw this repo is only for docs of winrt-api, but i can no

[2019-11-05 08:49] xmedeko commented on #339
The Remark is perfect, @stevewhims thanks.

[2019-11-05 12:09] #1304 closed, assigned to nobody

[2019-11-05 18:55] Karl-Bridge-Microsoft commented on #1299
Thanks for the feedback, @tim-weis!

I've added the cross-link you mentioned (and similar to a number of other TextBox event topics). The missing requirements info is being tracked as an engineering bug and should be fixed in the near future.

[2019-11-05 18:55] #1299 closed, assigned to Karl-Bridge-Microsoft, jwmsft

[2019-11-05 20:14] Karl-Bridge-Microsoft commented on #879
Thanks for the feedback, @JuanMejiaVelez. This is a known issue (requirements details missing on member pages) and is being addressed by our engineering team. This should be fixed in the near future.

[2019-11-05 20:14] #879 closed, assigned to Karl-Bridge-Microsoft

[2019-11-05 20:19] Karl-Bridge-Microsoft commented on #889
Thanks for the feedback, @dtobias. As this isn't actionable feedback for the API documentation, I suggest you log an issue against the sample at https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/Barometer.

[2019-11-05 20:19] #889 closed, assigned to Karl-Bridge-Microsoft

[2019-11-05 20:27] Karl-Bridge-Microsoft commented on #919
Thanks for the feedback! However, this appears to be a product issue and not a doc bug (at this time), so please consider posting the issue at https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose for the product team to track publicly.

[2019-11-05 20:27] #919 closed, assigned to Karl-Bridge-Microsoft

[2019-11-05 21:31] Karl-Bridge-Microsoft commented on #1113
Thanks for the feedback, @MartinZikmund! I revised the topic with the correct info.

[2019-11-05 21:31] #1113 closed, assigned to Karl-Bridge-Microsoft

[2019-11-05 23:00] stevewhims commented on #339
Great, thanks for confirming! :)

[2019-11-06 00:38] PeterSmithRedmond commented on #1114
PM of the VPN Client team here. We're working to create a publicly-usable sample now and are working to improve our documentation.

[2019-11-06 08:55] TylerByte666 opened #1306 "LaunchUriAsync for URL's that do not have www in URL?"
We have an internal site at our Org.
The url matches this pattern http://intranet.example.com

But because it lacks the "www" prefix, this function will always return false.

Any Ideas?

[2019-11-06 09:00] #1306 closed, assigned to nobody

[2019-11-06 09:03] TylerByte666 commented on #1306
Please can you be more clear on this documentation regarding intranets, can you please show us how?
Would have saved me 10 mins.

https://docs.microsoft.com/en-us/uwp/api/windows.system.launcher.launchuriasync

[2019-11-06 14:16] dovholuknf commented on #1114
Marcusrunge and I agree. Adding a comment because we need this information too. I'm also willing to work with MS on how to make this API better - if MS is interested...

[2019-11-07 12:46] DocBrown101 commented on #730
Now it's missing again!

[2019-11-07 18:32] benstevens48 opened #1307 "More info about Dispatcher and threading needed"
It's unclear where the Dispatcher property of the CompositionObject comes from. Is it always set or can it be null? It's also not clear to what extent composition objects in general can be created on a non-UI thread. For example, can I create a CompositionDrawingSurface on a non-UI thread?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-07 22:46] ClintBritt opened #1308 "Useless documentation"
You don't even give a good clue how to use the IProvider parameter. This is a completely useless document page that tells you nothing more then what the metadata dump in VS gives you. Useless

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5120ee-2ce4-715c-84a4-5a994dcfc8bf
* Version Independent ID: 7150f89e-c8a1-51c7

[2019-11-08 09:55] rsuwp opened #1309 "Is it possible to decapsulate the received packets for VpnNativeProfile?"
As per my explorations so far it looks like, the packets can be captured only for the PluginProfile. Can we capture the received packets for native vpn profile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d6961af-24b7-6752-acfb-996a9d64b928
* Version Independent ID: 4817760c-452f-38be-dd6e-c580f4d1819f
* Content: [

[2019-11-08 14:16] bobonline19 commented on #1205
Yes. See the Windows 10 samples [https://github.com/microsoft/Windows-universal-samples/tree/master/Samples/Nfc](url). Should possibly add this to the see also

[2019-11-08 19:00] XeorgeXeorge commented on #569
Can confirm, can recreate, this issue is frustrating.
Sometimes it returns the right thumbnail, most of the times won't.

Edit: found a workaround.

it seems that you gotta downscale the acquisition size to a small amount like 160, this issue is probably related to the OneDrive system only caching small thumbnails to conserve bandwidth.

[2019-11-08 21:18] stevewhims commented on #1308
Hi, @ClintBritt. Thanks for filing this issue.

I've updated the topic to provide more info/clarification here. I'll leave the issue open for a while.

Thanks again!
Steve

[2019-11-08 22:34] stevewhims commented on #1309
Hi, @rsuwp. Thanks for filing this issue.

I've reached out to the feature team for more info/clarification here, and in case we need to add more content.

Thanks again!
Steve

[2019-11-09 05:56] fenhl opened #1310 "Taskbar color"
It would be useful if this page documented which of these is used by the taskbar, so that I can use a white or black notification area icon accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b6dd6e-725b-81c9-98a2-c2d5b714fb39
* Version Independent ID: aaf36ca8-3ac5-57b9-25de-467f513cb219
* Content: [UIColorT

[2019-11-10 15:58] zyueinfosec opened #1311 "Questions on PairAsync(DevicePairingProtectionLevel)"
I have tried PairAsync(DevicePairingProtectionLevel) on Windows 10, attempting to pair a peer device with a specified protection level. It seems that the protection level does not work in my case. That is, no matter what level I have specified, the pairing result actually depends on the I/O capabilities of the peer device (i.e., whether the peer device has a keyboard or a display). According to th

[2019-11-11 18:13] mcleanbyron commented on #1311
Thanks for reaching out to us. I'm following up with the engineering team that owns this code, and I will respond as soon as I can.

[2019-11-12 07:41] rsuwp commented on #1309
Any updates on this? Have another related question.
Will the background task be triggered for VpnNativeProfile.

[2019-11-12 23:00] PeterSmithRedmond commented on #1309
The Native profile doesn't trigger the background task and you can't capture packets using it. when you use the Native profile, it's roughly the same as if you had simply used the "Add a VPN connect" dialog box: you can fill in the server, and sign-in information, etc, and then Windows handles the VPN from there.

[2019-11-12 23:42] michael-hawker opened #1312 "Provide more info on what impact this has on consumers of APIs that use it"
There are not many details here on how an Experimental API presents it self to a developer consuming the library that has exposed an Experimental attributed class.

Does it show up as a compiler warning like `Obsolete`? Does it have any indication in the XAML Editor with squiggles as a warning?

More details on the end-result of adding this attribute would be great!

---
#### Document Details

⚠ *

[2019-11-13 02:27] stevewhims commented on #1309
Thanks for the info, Peter. I've published an update to the topic, with this extra info added.

I'll go ahead and close the issue now.

Thanks!
Steve

[2019-11-13 02:27] #1309 closed, assigned to stevewhims

[2019-11-13 05:46] jtg-gg opened #1314 "Exception on D3D device removed / lost"
any official sample code to handle D3D device removed / lost during window capture ?
TryGetNextFrame is currently throwing an exception, I am wondering how to properly handle this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1bbc38-ac05-5d5f-63fd-84f826bbeae0
* Version Independent ID: c6a679fd-f57f-94e5-5055-491106

[2019-11-13 09:33] jtg-gg commented on #1314
currently I can't catch the exception, hence it is just crashing, no way to recover from the exception

here is the log:

D3D11: Removing Device.
Exception thrown at 0x76C33572 (KernelBase.dll) in .exe: WinRT originate error - 0x887A0005 : 'The GPU device instance has been suspended. Use GetDeviceRemovedReason to determine the appropriate action.'.

Exception thrown at 0x76C33572 in .exe: Microsof

[2019-11-13 15:12] atiyka commented on #723
I'm also interested in code values. Thank you!

[2019-11-13 17:22] kburgoyne opened #1315 "Which Alphabet?"
It appears there can be different Base64 "alphabets" depending upon the transport protocol to be used. As such, it would be advisable to document which alphabet is in use and which standard (if any) it matches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddf7e483-b740-8572-f7d0-57d7a09ad79a
* Version Independent ID:

[2019-11-13 17:22] kburgoyne opened #1316 "Which Alphabet?"
It appears there can be different Base64 "alphabets" depending upon the transport protocol to be used. As such, it would be advisable to document which alphabet is in use and which standard (if any) it matches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d685c7f-67a9-6293-d1c8-d01080d72762
* Version Independent ID:

[2019-11-13 18:40] #1275 closed, assigned to hickeys

[2019-11-13 22:32] groovykool commented on #1072
What he said.

[2019-11-14 06:02] Gavin-Williams commented on #1260
I suppose it depends on the scope of WinUI. Currently CoreWindow is within Windows.UI. Does Microsoft.UI (WinUI) intend to have complete coverage of Windows.UI or just Windows.UI.Xaml.

I should also mention that CoreApplication, CoreApplicationView, IFrameworkView & IFrameworkViewSource are in Windows.ApplicationModel.Core. And there has been no communication as to whether these namespaces will b

[2019-11-14 20:14] mimisasouvanh commented on #1290
@jevansaks This looks like a content issue...Unless you are wanting the links to the type pages to be automated, which they aren't currently. Please assign to @lastnameholiu to add a link to the type page.

[2019-11-15 03:02] AzAgarampur opened #1319 "XAML code is invalid"
ShowError="bool" should either be ShowError="True" or "False".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ee8cca-c633-aa59-9602-e6b4a6e5e0e8
* Version Independent ID: 45391825-e86e-a791-da06-9b815e12fb39
* Content: [ProgressBar.ShowError Property (Windows.UI.Xaml.Controls) - Windows UWP applications](https://docs

[2019-11-15 03:38] MikeHillberg commented on #1319
I think the pattern for these sections is to show a declaration rather than example code, so it shows the type of the value. For example, [FrameworkElement.Width](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.FrameworkElement.Width) is a double type, so this section shows

[code]
But it's confusing because in some cases it is example code, like [FrameworkElement.Style](https://docs.micr

[2019-11-15 19:26] jevansaks commented on #1319
This is a systemic problem. I think the docs team should advise on how to fix.

[2019-11-15 19:36] mijacobs commented on #1319
There'a a few issues here. One seems to be using a placeholder value, "bool", in place of a literal value or a set of values.  Is it not clear that "bool" is a placeholder? The properties values section that follows on that page describes the possible bool values, True and False.

We also have an optional xaml values section that will appear when the system moves to the new rendering engine. The x

[2019-11-15 20:34] mcleanbyron commented on #1311
Hi @zyueinfosec - The engineering team confirmed that the PairAsync methods behave like this:

* For all protocols other than Bluetooth, the minProtectionLevel value is ignored and the default behavior is always assumed.
* For the Bluetooth protocol, the pairing attempt will fail if the device doesn’t support the specified minimum protection level or a higher level. If the device doesn’t support t

[2019-11-15 20:34] #1311 closed, assigned to mcleanbyron

[2019-11-15 21:03] zyueinfosec commented on #1311
Hi @mcleanbyron,
Thank you for your response.  I still feel confused about your comments.
It does not work well in my case.
In my case, the Windows device and a Bluetooth device will always negociate a key (i.e., pair successfully) no matter whether the Bluetooth device supports the specified minimum protection level or a higher protection level.

What is the Bluetooth protocol referred to?  It is

[2019-11-15 21:05] zyueinfosec commented on #1311
Sorry, In my case, the Windows device and a Bluetooth device will always negociate a key (i.e., pair successfully) even if Bluetooth device does not support the specified minimum protection level or a higher protection level.

[2019-11-15 21:27] zyueinfosec commented on #1311
Thank you for your response.

Having said that, it does not work well in my case.
In my case, the Windows device and a Bluetooth low energy device will
always negociate a key (i.e., pair successfully) even if the Bluetooth low
energy device does not support the specified minimum protection level (or a
higher protection level).

What is the Bluetooth protocol referred to in our docs? It is only ref

[2019-11-15 21:43] mcleanbyron commented on #1311
The behavior you're seeing is unexpected, and the Bluetooth protocol details mentioned in the docs applies to both Classic and LE.

The best way for the engineering team to diagnose further is to generate traces by following these instructions:

1.	Go to [https://github.com/microsoft/busiotools/blob/master/bluetooth/tracing/BluetoothStack.wprp](https://github.com/microsoft/busiotools/blob/master/b

[2019-11-15 22:27] MikeHillberg commented on #1319
Is the intent that this section be sometimes placeholder, sometimes example, sometimes both? Maybe indicate the placeholder case, for example italicize.

[2019-11-15 22:40] zyueinfosec commented on #1311
Hi @mcleanbyron,

Thank you for letting me know and I will do it. For now, I sent you an email with a video attached.  As far as I know, I believe that function PairAsync can not enforce a specified pairing method in the case of BLE. Moreover, I have a Bluetooth LE sniffer and I have tested that sniffer on a windows 10 device and a LE device, the traffic of which indicates that the two devices can

[2019-11-15 22:41] jwmsft commented on #1319
The intent is that it is a placeholder. Examples would be in the Examples section, not in the Syntax section. Italicizing is a good idea, but we can't do that because it's in a markdown code block.

[2019-11-15 22:49] MikeHillberg commented on #1319
Maybe brackets? I've found these sections confusing in the past too.

I see where people have made this section into example code too, like [FrameworkElement.Style](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.FrameworkElement.Style):
[code]
(Also, is there a reason why the "f" in <FrameworkElement> is lower case?)

[2019-11-15 23:07] jevansaks commented on #1290
I'm hoping the links to the type pages can be automated, we have a lot of pages that are affected like this.

[2019-11-15 23:20] jwmsft commented on #1319
We can test some different options like brackets and see if anything works well.

The lowercase "f" is to indicate that you'd be setting this property on something that inherits from FrameworkElement, but you would not be putting <FrameworkElement .../> in your XAML.

The FrameworkElement.Style example you give isn't intended to look like a copy-and-paste example, but there's important contextual

[2019-11-17 12:06] benstevens48 opened #1322 "keyMaterial explanation is misleading."
It is completely useless to create a hash if you can't re-create the hash later on to test it against. Therefore the 'keyMaterial' provided should be known data. It could be random data, but then you'd have to make sure you stored the random data so you could use it again to create the same hash. The remarks should make it clear that using the same 'keyMaterial' will result in the same hashes bein

[2019-11-17 12:58] SaschaIoT commented on #1136
Set ContainerEncodingProperties.Subtype to "MPEG2TS" causes System.ArgumentException: 'Value does not fall within the expected range.'. I added the bug to GitHub repository: https://github.com/MicrosoftDocs/windows-uwp/issues/2087

[2019-11-17 13:02] SaschaIoT opened #1323 "UWP Set ContainerEncodingProperties.Subtype to "MPEG2TS" causes exception (MPEG-DASH Video Live Stream)"
[ContainerEncodingProperties.Subtype](https://docs.microsoft.com/en-us/uwp/api/windows.media.mediaproperties.containerencodingproperties.subtype#Windows_Media_MediaProperties_ContainerEncodingProperties_Subtype) supports "MPEG2TS" video container.

Windows 10 and UWP Apps supports H.264 encoding with "MPEG2TS" video container. [Supported codecs - UWP](https://docs.microsoft.com/en-US/windows/uwp/a

[2019-11-18 07:08] ad1Dima opened #1324 "JavaScript sample instead of C# one"
There is no C# sample for MediaProtectionManager

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19a9bf1c-92e5-fe47-2e79-da2615fe3490
* Version Independent ID: bdd21506-23d9-7c83-0fff-3397ffb1bb16
* Content: [MediaProtectionManager Class (Windows.Media.Protection) - Windows UWP applications](https://docs.microsoft.com/e

[2019-11-18 20:04] AMollis opened #1325 "HoloLens Gen 1 vs Gen 2 Support"
This page (https://docs.microsoft.com/en-us/windows/mixed-reality/hands-and-motion-controllers-in-directx) mentions that these APIs should only be used with HoloLens Gen 1.   This page should be updated to reflect this as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 786ece1c-3804-eda4-e7f5-cac06929590d
* Versio